/** style.css
 * 
 * Theme Name:	AO Foret de Soignes
 * Theme URI:	http://www.foretdesoignessport.be/
 * Description:	A WordPress Theme for Foret de Soignes.
 * Author:		Alley Oop
 * Author URI:	http://www.alleyoop.be/
 * Version:		1.0.0
 * Text Domain:	aofds
 *
 * Copyright (C) 2014 Alley Oop <info@alleyoop.be>
 *
 */

/*
{
    font-family: Futura ExtraBold;
    src: url(css/fonts/Futura.ttc#4);
}
*/

/***************************************************************************************
 	BASE
 ***************************************************************************************/


html {
}

body {
    margin: 0;
    padding: 20px 0;
}

h1, h2, h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}



/***************************************************************************************
 	STRUCTURE
 ***************************************************************************************/

#site {
    background-color: #fff !important;
}

/***************************************************************************************
 	BACKGROUND
 ***************************************************************************************/



/***************************************************************************************
 	LOGO
 ***************************************************************************************/



/***************************************************************************************
 	MENU
 ***************************************************************************************/



/***************************************************************************************
 	HEADER
 ***************************************************************************************/



/***************************************************************************************
 	GALLERY
 ***************************************************************************************/

.carousel .carousel-control {
    height: 60px;
    background: #000;
    top: 50%;
    margin-top: -30px;
    line-height: 60px;
    width: 60px;
    opacity: 0.4;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}
.carousel:hover .carousel-control {
    opacity: 1;
}
.carousel .carousel-control.right {
    border-radius: 10px 0 0 10px;
}
.carousel .carousel-control.left {
    border-radius: 0 10px 10px 0;
}
.carousel .carousel-control span {
    height: 60px;
    line-height: 60px;
    width: 60px;
}
.carousel .carousel-control.right span {
    right: 15px;
}
.carousel .carousel-control.left span {
    left: 15px;
}
.carousel .carousel-indicators {
  bottom: 20px;
}
.carousel .carousel-indicators li {
    box-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}
.carousel .item {
    background-size: cover;
}
.carousel .item .image {
    position: relative;
    width: 100%;
    padding-bottom: 56%;
    height: 0;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.row.gallery {
    margin-left: -10px !important;
    margin-right: -10px !important;
}
.row.gallery .col {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.row.gallery .item {
    position: relative;
}
.row.gallery .item .description, .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
    padding: 0 10px;
    line-height: 20px;
    height: 20px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



/* End of file style.css */
/* Location: ./wp-content/themes/aofds/style.css */
