.l-body {
background-color:#ddd;
}

.w-logo-link,.l-subheader.at_middle .w-nav-control,.l-subheader.at_middle .w-nav-anchor.level_1,.l-subheader.at_middle .w-nav.touch_enabled .w-nav-anchor.level_1,.l-subheader.at_middle .w-nav.touch_enabled .w-nav-anchor.level_2,.l-subheader.at_middle .w-nav.touch_enabled .w-nav-anchor.level_3,.no-touch .l-subheader.at_middle .w-nav.touch_enabled .w-nav-item.level_1:hover .w-nav-anchor.level_1,.no-touch .l-subheader.at_middle .w-nav.touch_enabled .w-nav-item.level_2:hover .w-nav-anchor.level_2,.no-touch .l-subheader.at_middle .w-nav.touch_enabled .w-nav-item.level_3:hover .w-nav-anchor.level_3,.l-subheader.at_middle .w-cart-link,.l-subheader.at_middle .w-search-show,.l-subheader.at_middle .w-contacts,.l-subheader.at_middle .w-contacts-item-value a,.l-subheader.at_middle .w-socials-item-link,.l-subheader.at_middle .w-lang-list .w-lang-item,.l-subheader.at_middle .w-lang-current {
color:#ddd;
}

.l-subheader.at_top .w-contacts,.l-subheader.at_top .w-contacts-item-value a,.l-subheader.at_top .w-socials-item-link,.l-subheader.at_top .w-lang-list .w-lang-item,.l-subheader.at_top .w-lang-current,.l-subheader.at_bottom .w-nav-control,.l-subheader.at_bottom .w-nav-anchor.level_1,.l-subheader.at_bottom .w-nav.touch_enabled .w-nav-anchor.level_1,.l-subheader.at_bottom .w-nav.touch_enabled .w-nav-anchor.level_2,.l-subheader.at_bottom .w-nav.touch_enabled .w-nav-anchor.level_3,.no-touch .l-subheader.at_bottom .w-nav.touch_enabled .w-nav-item.level_1:hover .w-nav-anchor.level_1,.no-touch .l-subheader.at_bottom .w-nav.touch_enabled .w-nav-item.level_2:hover .w-nav-anchor.level_2,.no-touch .l-subheader.at_bottom .w-nav.touch_enabled .w-nav-item.level_3:hover .w-nav-anchor.level_3,.l-subheader.at_bottom .w-cart-link,.l-subheader.at_bottom .w-search-show {
color:#999;
}

.l-subheader .w-nav-item.level_1.active .w-nav-anchor.level_1,.l-subheader .w-nav-item.level_1.current-menu-item .w-nav-anchor.level_1,.l-subheader .w-nav-item.level_1.current-menu-ancestor .w-nav-anchor.level_1 {
background-color:#1a1a1a;
color:#32beeb;
}

.no-touch .l-subheader .w-nav-item.level_2:hover .w-nav-anchor.level_2,.no-touch .l-subheader .w-nav-item.level_3:hover .w-nav-anchor.level_3 {
background-color:#1a1a1a;
color:#fff;
}

.l-subheader .w-nav-item.level_2.active .w-nav-anchor.level_2,.l-subheader .w-nav-item.level_2.current-menu-item .w-nav-anchor.level_2,.l-subheader .w-nav-item.level_2.current-menu-ancestor .w-nav-anchor.level_2,.l-subheader .w-nav-item.level_3.active .w-nav-anchor.level_3,.l-subheader .w-nav-item.level_3.current-menu-item .w-nav-anchor.level_3,.l-subheader .w-nav-item.level_3.current-menu-ancestor .w-nav-anchor.level_3 {
background-color:#28aad4;
color:#fff;
}

.woocommerce #payment .payment_box:after {
border-color:#edf1f2;
}

.w-blog-entry,.w-bloglist,.w-blogpost,.w-comments-item,.w-nav.layout_ver .w-nav-list .w-nav-anchor,.w-pricing-item-h,.w-tabs.layout_accordion,.w-tabs.layout_accordion .w-tabs-section,.w-timeline.type_vertical .w-timeline-section-content,#wp-calendar thead th,#wp-calendar tbody td,#wp-calendar tfoot td,.widget.widget_nav_menu .menu-item a,.woocommerce form.login,.woocommerce form.checkout_coupon,.woocommerce form.register,.woocommerce div.product .cart.variations_form,.woocommerce div.product .cart table.group_table,.woocommerce div.product .cart table.group_table td,.woocommerce table.shop_attributes th,.woocommerce table.shop_attributes td,.woocommerce #reviews #comments .commentlist,.woocommerce #reviews #comments .commentlist li,.woocommerce .comment-respond,.woocommerce .related,.woocommerce .upsells,.woocommerce .cross-sells,.woocommerce table.shop_table td,.woocommerce table.shop_table tfoot th,.woocommerce .cart-collaterals .cart_totals td,.woocommerce .cart-collaterals .cart_totals th,.woocommerce .checkout #order_review,.woocommerce .checkout table.shop_table,.woocommerce ul.order_details li,.woocommerce table.shop_table.order_details,.woocommerce table.shop_table.my_account_orders,.woocommerce.widget ul.product_list_widget li,.woocommerce.widget_price_filter .ui-slider .ui-slider-handle,.woocommerce.widget.widget_layered_nav ul,.woocommerce.widget.widget_layered_nav ul li {
border-color:#e1e5e8;
}

.g-hr-h i,.page-404 i,.w-icon.color_border .w-icon-link {
color:#e1e5e8;
}

.g-hr-h:before,.g-hr-h:after,.g-btn.type_default,.g-btn.type_default.outlined:before,.w-icon.color_border.with_circle .w-icon-link,.w-timeline-list:before,.woocommerce .button,.no-touch .woocommerce .products .product .button:hover,.no-touch .woocommerce .quantity .plus:hover,.no-touch .woocommerce .quantity .minus:hover,.woocommerce.widget_price_filter .ui-slider {
background-color:#e1e5e8;
}

.g-btn.type_default.outlined,.g-pagination-item,.w-socials-item-link,.w-tags.layout_block .w-tags-item-link,.w-team-member-links-item,.w-testimonial,.woocommerce .products .product .button,.woocommerce .woocommerce-pagination ul li a,.woocommerce .woocommerce-pagination ul li span {
box-shadow:0 0 0 2px #e1e5e8 inset;
}

.color_alternate .g-btn.type_contrast,.no-touch .color_alternate .g-btn.type_contrast:hover,.no-touch .color_alternate .g-btn.type_contrast.outlined:hover,.color_alternate .w-icon.color_border.with_circle .w-icon-link {
color:#edf1f2;
}

.color_alternate .w-blog-entry,.color_alternate .w-bloglist,.color_alternate .w-blogpost,.color_alternate .w-comments-item,.color_alternate .w-nav.layout_ver .w-nav-list .w-nav-anchor,.color_alternate .w-pricing-item-h,.color_alternate .w-tabs.layout_accordion,.color_alternate .w-tabs.layout_accordion .w-tabs-section,.color_alternate .w-timeline.type_vertical .w-timeline-section-content,.color_alternate #wp-calendar thead th,.color_alternate #wp-calendar tbody td,.color_alternate #wp-calendar tfoot td,.color_alternate .widget.widget_nav_menu .menu-item a,.color_alternate .widget.widget_nav_menu .menu-item a:hover {
border-color:#d7dde0;
}

.color_alternate .g-hr-h i,.color_alternate .page-404 i,.color_alternate .w-icon.color_border .w-icon-link {
color:#d7dde0;
}

.color_alternate .g-hr-h:before,.color_alternate .g-hr-h:after,.color_alternate .g-btn.type_default,.color_alternate .g-btn.type_default.outlined:before,.color_alternate .w-icon.color_border.with_circle .w-icon-link,.color_alternate .w-timeline-list:before {
background-color:#d7dde0;
}

.color_alternate .g-btn.type_default.outlined,.color_alternate .g-pagination-item,.color_alternate .w-socials-item-link,.color_alternate .w-tags.layout_block .w-tags-item-link,.color_alternate .w-team-member-links-item,.color_alternate .w-testimonial {
box-shadow:0 0 0 2px #d7dde0 inset;
}

.l-subfooter.at_top,.l-subfooter.at_top #wp-calendar thead th,.l-subfooter.at_top #wp-calendar tbody td,.l-subfooter.at_top #wp-calendar tfoot td,.l-subfooter.at_top .widget.widget_nav_menu .menu-item a,.l-subfooter.at_top .woocommerce.widget ul.product_list_widget li {
border-color:#222;
}

.l-subfooter.at_top,.l-subfooter.at_top .w-socials-item-link,.l-subfooter.at_top .widget.widget_tag_cloud .tagcloud a {
color:#777;
}

.l-subfooter.at_bottom {
background-color:#222;
color:#666;
}

.l-subfooter.at_bottom a {
color:#bbb;
}

.l-subheader.at_middle,.l-subheader.at_middle .w-nav.touch_enabled .w-nav-list.level_1,.l-subheader.at_middle .w-lang-list .w-lang-item,.l-subfooter.at_top {
background-color:#1a1a1a;
}

.no-touch .w-logo-link:hover,.l-subheader.at_middle .w-nav.touch_enabled .w-nav-item.level_1.active .w-nav-anchor.level_1,.l-subheader.at_middle .w-nav.touch_enabled .w-nav-item.level_2.active .w-nav-anchor.level_2,.l-subheader.at_middle .w-nav.touch_enabled .w-nav-item.level_3.active .w-nav-anchor.level_3,.l-subheader.at_middle .w-nav.touch_enabled .w-nav-item.level_1.current-menu-item .w-nav-anchor.level_1,.l-subheader.at_middle .w-nav.touch_enabled .w-nav-item.level_2.current-menu-item .w-nav-anchor.level_2,.l-subheader.at_middle .w-nav.touch_enabled .w-nav-item.level_3.current-menu-item .w-nav-anchor.level_3,.l-subheader.at_middle .w-nav.touch_enabled .w-nav-item.level_1.current-menu-ancestor .w-nav-anchor.level_1,.l-subheader.at_middle .w-nav.touch_enabled .w-nav-item.level_2.current-menu-ancestor .w-nav-anchor.level_2,.l-subheader.at_middle .w-nav.touch_enabled .w-nav-item.level_3.current-menu-ancestor .w-nav-anchor.level_3,.no-touch .l-subheader.at_middle .w-cart-link:hover,.no-touch .l-subheader.at_middle .w-cart-quantity,.no-touch .l-subheader.at_middle .w-search-show:hover,.no-touch .l-subheader.at_middle .w-contacts-item-value a:hover,.no-touch .l-subheader.at_middle .w-lang-list .w-lang-item:hover,.no-touch .l-subheader.at_middle .w-lang-current:hover,.no-touch .l-subheader.at_top .w-contacts-item-value a:hover,.no-touch .l-subheader.at_top .w-lang-list .w-lang-item:hover,.no-touch .l-subheader.at_top .w-lang-current:hover,.l-subheader.at_bottom .w-nav.touch_enabled .w-nav-item.level_1.active .w-nav-anchor.level_1,.l-subheader.at_bottom .w-nav.touch_enabled .w-nav-item.level_2.active .w-nav-anchor.level_2,.l-subheader.at_bottom .w-nav.touch_enabled .w-nav-item.level_3.active .w-nav-anchor.level_3,.l-subheader.at_bottom .w-nav.touch_enabled .w-nav-item.level_1.current-menu-item .w-nav-anchor.level_1,.l-subheader.at_bottom .w-nav.touch_enabled .w-nav-item.level_2.current-menu-item .w-nav-anchor.level_2,.l-subheader.at_bottom .w-nav.touch_enabled .w-nav-item.level_3.current-menu-item .w-nav-anchor.level_3,.l-subheader.at_bottom .w-nav.touch_enabled .w-nav-item.level_1.current-menu-ancestor .w-nav-anchor.level_1,.l-subheader.at_bottom .w-nav.touch_enabled .w-nav-item.level_2.current-menu-ancestor .w-nav-anchor.level_2,.l-subheader.at_bottom .w-nav.touch_enabled .w-nav-item.level_3.current-menu-ancestor .w-nav-anchor.level_3,.no-touch .l-subheader.at_bottom .w-cart-link:hover,.no-touch .l-subheader.at_bottom .w-cart-quantity,.no-touch .l-subheader.at_bottom .w-search-show:hover,a,.g-html .highlight,.g-btn.type_primary.outlined,.no-touch .w-blog-entry-link:hover .w-blog-entry-title-h,.w-blog.imgpos_atleft .w-blog-entry.format-audio .w-blog-entry-link:hover .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-gallery .w-blog-entry-link:hover .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-link .w-blog-entry-link:hover .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-quote .w-blog-entry-link:hover .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-status .w-blog-entry-link:hover .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-video .w-blog-entry-link:hover .w-blog-entry-preview-icon,.no-touch .w-blog.type_masonry .w-blog-entry.format-video .w-blog-entry-link:hover .w-blog-entry-preview-icon,.w-clients-nav:hover,.l-main .w-contacts-item i,.w-counter.color_primary .w-counter-number,.w-filters-item.active .w-filters-item-link,.no-touch .w-filters-item.active .w-filters-item-link:hover,.w-icon.color_primary .w-icon-link,.w-iconbox-icon,.no-touch .w-iconbox-link:hover .w-iconbox-title,.no-touch .w-nav.layout_ver .w-nav-list .w-nav-anchor:hover,.w-nav.layout_ver .w-nav-item.active > .w-nav-anchor,.no-touch .w-pagehead-nav .w-pagehead-nav-h .w-pagehead-nav-item:hover,.w-shortblog-entry-title-h,.w-tabs-item.active,.no-touch .w-tabs-item.active:hover,.w-tabs.layout_accordion .w-tabs-section.active .w-tabs-section-title,.no-touch .w-tags.layout_block .w-tags-item-link:hover,.w-team-member-link .w-team-member-name,.widget.widget_nav_menu .menu-item.current-menu-item > a,.woocommerce .products .product .button.product_type_simple,.woocommerce .products .product .button.product_type_variable,.woocommerce .products .product .button.product_type_grouped,.no-touch .woocommerce .products .product .button.product_type_simple.loading:hover,.no-touch .woocommerce .products .product .button.product_type_variable.loading:hover,.no-touch .woocommerce .products .product .button.product_type_grouped.loading:hover,.woocommerce .star-rating span:before,.woocommerce .woocommerce-breadcrumb a,.woocommerce div.product .price,.woocommerce div.product .woocommerce-tabs .tabs li.active,.no-touch .woocommerce div.product .woocommerce-tabs .tabs li.active:hover,.woocommerce .stars span a:after,.woocommerce .cart-collaterals .cart_totals tr.total,.woocommerce .checkout table.shop_table .total,.woocommerce.widget.widget_shopping_cart p.total .amount,.color_alternate a,.color_alternate .g-btn.type_primary.outlined,.no-touch .color_alternate .w-blog-entry-link:hover .w-blog-entry-title-h,.no-touch .color_alternate .w-blog.type_masonry .w-blog-entry.format-video .w-blog-entry-link:hover .w-blog-entry-preview-icon,.color_alternate .w-clients-nav:hover,.color_alternate .l-main .w-contacts-item i,.color_alternate .w-counter.color_primary .w-counter-number,.color_alternate .w-filters-item.active .w-filters-item-link,.no-touch .color_alternate .w-filters-item.active .w-filters-item-link:hover,.color_alternate .w-icon.color_primary .w-icon-link,.color_alternate .w-iconbox-icon,.no-touch .color_alternate .w-iconbox-link:hover .w-iconbox-title,.no-touch .color_alternate .w-nav.layout_ver .w-nav-list .w-nav-anchor:hover,.color_alternate .w-nav.layout_ver .w-nav-item.active > .w-nav-anchor,.no-touch .color_alternate .w-pagehead-nav .w-pagehead-nav-h .w-pagehead-nav-item:hover,.color_alternate .w-shortblog-entry-title-h,.color_alternate .w-tabs-item.active,.no-touch .color_alternate .w-tabs-item.active:hover,.color_alternate .w-tabs.layout_accordion .w-tabs-section.active .w-tabs-section-title,.no-touch .color_alternate .w-tags.layout_block .w-tags-item-link:hover,.color_alternate .w-team-member-link .w-team-member-name,.color_alternate .widget.widget_nav_menu .menu-item.current-menu-item > a,.no-touch .l-subfooter.at_top a:hover,.no-touch .l-subfooter.at_top .widget.widget_archive ul li a:hover,.no-touch .l-subfooter.at_top .widget.widget_categories ul li a:hover,.no-touch .l-subfooter.at_top .widget.widget_tag_cloud .tagcloud a:hover,.no-touch .l-subfooter.at_bottom a:hover {
color:#32beeb;
}

.l-subheader.at_top,.l-subheader.at_top .w-lang-list .w-lang-item,.l-subheader.at_bottom,.g-btn.type_contrast,.g-btn.type_contrast.outlined:before,.color_alternate .g-btn.type_contrast,.color_alternate .g-btn.type_contrast.outlined:before {
background-color:#222;
}

.l-subheader .w-search-form:before,.l-submain.color_primary,.w-actionbox.color_primary,.g-btn.type_primary,.g-btn.type_primary.outlined:before,input[type="submit"],.g-pagination-item.active,.no-touch .g-pagination-item:before,.no-touch .w-filters-item-link:hover,.w-icon.color_primary.with_circle .w-icon-link,.no-touch .w-iconbox.with_circle .w-iconbox-icon:before,.w-pricing-item.type_featured .w-pricing-item-title,.w-pricing-item.type_featured .w-pricing-item-price,.no-touch .w-team-member-links,.w-timeline-item:before,.w-timeline.type_vertical .w-timeline-section:before,.w-timeline-section-title:before,.w-timeline-section.active .w-timeline-section-title:before,.no-touch .w-toplink.active:hover,.no-touch .flex-direction-nav li span:before,.no-touch .tp-leftarrow.default:before,.no-touch .tp-rightarrow.default:before,.no-touch .widget.widget_nav_menu .menu-item a:hover,.woocommerce .button.alt,.woocommerce .button.checkout,.no-touch .woocommerce .products .product .button.product_type_simple:hover,.no-touch .woocommerce .products .product .button.product_type_variable:hover,.no-touch .woocommerce .products .product .button.product_type_grouped:hover,.no-touch .woocommerce .woocommerce-pagination ul li a:hover,.woocommerce .woocommerce-pagination ul li span.current,.woocommerce .onsale,.no-touch .woocommerce table.shop_table .product-remove a.remove:hover,.woocommerce.widget_price_filter .ui-slider .ui-slider-range,.woocommerce.widget_layered_nav ul li.chosen,.woocommerce.widget_layered_nav_filters ul li a,.color_alternate .g-btn.type_primary,.color_alternate .g-btn.type_primary.outlined:before,.color_alternate input[type="submit"],.color_alternate .g-pagination-item.active,.no-touch .color_alternate .g-pagination-item:before,.no-touch .color_alternate .w-iconbox.with_circle .w-iconbox-icon:before,.no-touch .color_alternate .w-filters-item-link:hover,.color_alternate .w-icon.color_primary.with_circle .w-icon-link,.color_alternate .w-pricing-item.type_featured .w-pricing-item-title,.color_alternate .w-pricing-item.type_featured .w-pricing-item-price,.no-touch .color_alternate .w-team-member-links,.color_alternate .w-timeline-item:before,.color_alternate .w-timeline.type_vertical .w-timeline-section:before,.color_alternate .w-timeline-section-title:before,.color_alternate .w-timeline-section.active .w-timeline-section-title:before,.no-touch .color_alternate .w-toplink.active:hover,.no-touch .color_alternate .flex-direction-nav li span:before,.no-touch .color_alternate .tp-leftarrow.default:before,.no-touch .color_alternate .tp-rightarrow.default:before,.no-touch .color_alternate .widget.widget_nav_menu .menu-item a:hover {
background-color:#32beeb;
}

.l-subheader .w-search-label,.l-subheader .w-search-input input,.l-subheader .w-search-close,.g-btn.type_contrast,.no-touch .g-btn.type_contrast:hover,.no-touch .g-btn.type_contrast.outlined:hover,.w-icon.color_border.with_circle .w-icon-link {
color:#fff;
}

.no-touch .l-subheader .w-nav-item.level_1:hover .w-nav-anchor.level_1,.no-touch .l-subheader .w-nav-item.level_1.active:hover .w-nav-anchor.level_1,.no-touch .l-subheader .w-nav-item.level_1.current-menu-item:hover .w-nav-anchor.level_1,.no-touch .l-subheader .w-nav-item.level_1.current-menu-ancestor:hover .w-nav-anchor.level_1,.l-subheader .w-nav-anchor.level_2,.l-subheader .w-nav-anchor.level_3 {
background-color:#32beeb;
color:#fff;
}

.no-touch .l-subheader .w-nav-anchor.level_1:after,.l-canvas,.w-blog.type_masonry .w-blog-entry-preview:before,.w-clients-itemgroup,.w-filters-item.active .w-filters-item-link,.no-touch .w-filters-item.active .w-filters-item-link:hover,.w-portfolio-item-meta,.w-portfolio-item-arrow,.w-tabs-item.active,.no-touch .w-tabs-item.active:hover,.w-timeline-item,.w-timeline-section-title,.w-timeline.type_vertical .w-timeline-section-content,.woocommerce div.product .woocommerce-tabs .tabs li.active,.no-touch .woocommerce div.product .woocommerce-tabs .tabs li.active:hover,.woocommerce .stars span:after,.woocommerce .stars span a:after,.color_alternate input[type="text"],.color_alternate input[type="password"],.color_alternate input[type="email"],.color_alternate input[type="url"],.color_alternate input[type="tel"],.color_alternate input[type="number"],.color_alternate input[type="date"],.color_alternate textarea,.color_alternate select,.color_alternate .w-blog.imgpos_atleft .w-blog-entry.format-audio .w-blog-entry-preview-icon,.color_alternate .w-blog.imgpos_atleft .w-blog-entry.format-gallery .w-blog-entry-preview-icon,.color_alternate .w-blog.imgpos_atleft .w-blog-entry.format-link .w-blog-entry-preview-icon,.color_alternate .w-blog.imgpos_atleft .w-blog-entry.format-quote .w-blog-entry-preview-icon,.color_alternate .w-blog.imgpos_atleft .w-blog-entry.format-status .w-blog-entry-preview-icon,.color_alternate .w-blog.imgpos_atleft .w-blog-entry.format-video .w-blog-entry-preview-icon,.color_alternate .w-filters,.color_alternate .w-icon.color_text.with_circle .w-icon-link,.color_alternate .w-icon.color_fade.with_circle .w-icon-link,.color_alternate .w-pricing-item-title,.color_alternate .w-pricing-item-price,.color_alternate .w-tabs-list,.color_alternate .widget.widget_nav_menu .menu-item.current-menu-item > a {
background-color:#fff;
}

input[type="text"],input[type="password"],input[type="email"],input[type="url"],input[type="tel"],input[type="number"],input[type="date"],textarea,select,.w-actionbox.color_alternate,.w-blog.imgpos_atleft .w-blog-entry.format-audio .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-gallery .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-link .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-quote .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-status .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-video .w-blog-entry-preview-icon,.w-filters,.w-icon.color_text.with_circle .w-icon-link,.w-icon.color_fade.with_circle .w-icon-link,.w-pricing-item-title,.w-pricing-item-price,.w-tabs-list,.widget.widget_nav_menu .menu-item.current-menu-item > a,.woocommerce .quantity .plus,.woocommerce .quantity .minus,.woocommerce div.product .woocommerce-tabs .tabs,.woocommerce table.shop_table .actions .coupon .input-text,.woocommerce #payment .payment_box,.l-submain.color_alternate,.color_alternate .w-blog.type_masonry .w-blog-entry-preview:before,.color_alternate .w-clients-itemgroup,.color_alternate .w-filters-item.active .w-filters-item-link,.no-touch .color_alternate .w-filters-item.active .w-filters-item-link:hover,.color_alternate .w-tabs-item.active,.no-touch .color_alternate .w-tabs-item.active:hover,.color_alternate .w-timeline-item,.color_alternate .w-timeline-section-title,.color_alternate .w-timeline.type_vertical .w-timeline-section-content {
background-color:#edf1f2;
}

.g-html h1,.g-html h2,.g-html h3,.g-html h4,.g-html h5,.g-html h6,input[type="text"],input[type="password"],input[type="email"],input[type="url"],input[type="tel"],input[type="number"],input[type="date"],textarea,select,.no-touch .g-btn.type_default:hover,.no-touch .g-btn.type_default.outlined:hover,.g-btn.type_contrast.outlined,.w-blog-entry-title,.w-counter-number,.w-portfolio .w-portfolio-item h2.w-portfolio-item-title,.w-pricing-item-title,.w-pricing-item-price,.w-search.submit_inside .w-search-submit:hover:before,.w-shortblog-entry-meta-date,.no-touch .w-tabs-item:hover,.no-touch .w-testimonial:hover,.w-timeline-item,.w-timeline-section-title,.woocommerce .products .product .price,.no-touch .woocommerce div.product .woocommerce-tabs .tabs li:hover,.woocommerce table.shop_table .actions .coupon .input-text,.color_alternate h1,.color_alternate h2,.color_alternate h3,.color_alternate h4,.color_alternate h5,.color_alternate h6,.color_alternate input[type="text"],.color_alternate input[type="password"],.color_alternate input[type="email"],.color_alternate input[type="url"],.color_alternate input[type="tel"],.color_alternate input[type="number"],.color_alternate input[type="date"],.color_alternate textarea,.color_alternate select,.no-touch .color_alternate .g-btn.type_default:hover,.no-touch .color_alternate .g-btn.type_default.outlined:hover,.color_alternate .g-btn.type_contrast.outlined,.color_alternate .w-blog-entry-title,.color_alternate .w-counter-number,.color_alternate .w-pricing-item-title,.color_alternate .w-pricing-item-price,.color_alternate .w-search.submit_inside .w-search-submit:hover:before,.color_alternate .w-shortblog-entry-meta-date,.no-touch .color_alternate .w-tabs-item:hover,.no-touch .color_alternate .w-testimonial:hover,.color_alternate .w-timeline-item,.color_alternate .w-timeline-section-title {
color:#222;
}

.g-btn.type_contrast.outlined,.color_alternate .g-btn.type_contrast.outlined,.l-subfooter.at_top .w-socials-item-link {
box-shadow:0 0 0 2px #222 inset;
}

.l-canvas,.g-btn.type_default,.g-btn.type_default.outlined,.g-pagination-item,.w-clients-nav,.w-clients-nav.disabled,.w-clients-nav.disabled:hover,.w-filters-item-link,.w-icon.color_text .w-icon-link,.color_primary .w-icon.color_text.with_circle .w-icon-link,.w-nav.layout_ver .w-nav-list .w-nav-anchor,.w-socials-item-link,.w-tags.layout_block .w-tags-item-link,.widget.widget_archive ul li a,.widget.widget_categories ul li a,.widget.widget_nav_menu .menu-item a,.woocommerce .button,.l-subfooter.at_top .woocommerce .button,.no-touch .woocommerce .products .product .button:hover,.woocommerce .quantity .plus,.woocommerce .quantity .minus,.l-submain.color_alternate,.color_alternate .g-btn.type_default,.color_alternate .g-btn.type_default.outlined,.color_alternate .g-pagination-item,.color_alternate .w-clients-nav,.color_alternate .w-clients-nav.disabled,.color_alternate .w-clients-nav.disabled:hover,.color_alternate .w-filters-item-link,.color_alternate .w-icon.color_text .w-icon-link,.color_alternate .w-nav.layout_ver .w-nav-list .w-nav-anchor,.color_alternate .w-socials-item-link,.color_alternate .w-tags.layout_block .w-tags-item-link,.color_alternate .widget.widget_archive ul li a,.color_alternate .widget.widget_categories ul li a,.color_alternate .widget.widget_nav_menu .menu-item a {
color:#444;
}

.g-html blockquote,.w-blog-entry.sticky,.w-clients-item:hover,.w-filters-item.active .w-filters-item-link,.w-tabs-item.active,.no-touch .w-tabs-item.active:hover,.no-touch .widget.widget_nav_menu .menu-item a:hover,.woocommerce div.product .woocommerce-tabs .tabs li.active,.woocommerce.widget_layered_nav ul li.chosen,.color_alternate .g-html blockquote,.color_alternate .w-blog-entry.sticky,.color_alternate .w-clients-item:hover,.color_alternate .w-filters-item.active .w-filters-item-link,.color_alternate .w-tabs-item.active,.no-touch .color_alternate .w-tabs-item.active:hover,.no-touch .color_alternate .widget.widget_nav_menu .menu-item a:hover {
border-color:#32beeb;
}

input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="tel"]:focus,input[type="number"]:focus,input[type="date"]:focus,textarea:focus,select:focus,.woocommerce .quantity input.qty:focus,.woocommerce table.shop_table .actions .coupon .input-text:focus,.color_alternate input[type="text"]:focus,.color_alternate input[type="password"]:focus,.color_alternate input[type="email"]:focus,.color_alternate input[type="url"]:focus,.color_alternate input[type="tel"]:focus,.color_alternate input[type="number"]:focus,.color_alternate input[type="date"]:focus,.color_alternate textarea:focus,.color_alternate select:focus {
box-shadow:0 0 0 2px #32beeb;
}

.g-btn.type_primary.outlined,.w-clients-nav:hover,.l-main .w-contacts-item i,.w-iconbox.with_circle .w-iconbox-icon,.no-touch .w-pagehead-nav .w-pagehead-nav-h .w-pagehead-nav-item:hover,.no-touch .w-tags.layout_block .w-tags-item-link:hover,.no-touch .w-testimonial:hover,.w-timeline-item,.w-timeline-section-title,.woocommerce .products .product .button.product_type_simple,.woocommerce .products .product .button.product_type_variable,.woocommerce .products .product .button.product_type_grouped,.no-touch .woocommerce .products .product .button.product_type_simple.loading:hover,.no-touch .woocommerce .products .product .button.product_type_variable.loading:hover,.no-touch .woocommerce .products .product .button.product_type_grouped.loading:hover,.color_alternate .g-btn.type_primary.outlined,.color_alternate .w-clients-nav:hover,.color_alternate .l-main .w-contacts-item i,.color_alternate .w-iconbox.with_circle .w-iconbox-icon,.no-touch .color_alternate .w-pagehead-nav .w-pagehead-nav-h .w-pagehead-nav-item:hover,.no-touch .color_alternate .w-tags.layout_block .w-tags-item-link:hover,.no-touch .color_alternate .w-testimonial:hover,.color_alternate .w-timeline-item:before,.color_alternate .w-timeline-section-title:before {
box-shadow:0 0 0 2px #32beeb inset;
}

a:hover,a:active,.g-btn.type_secondary.outlined,.no-touch .w-blog.type_masonry .w-blog-entry-meta a:hover,.w-counter.color_secondary .w-counter-number,.w-icon.color_secondary .w-icon-link,.no-touch .w-shortblog-entry-link:hover .w-shortblog-entry-title-h,.no-touch .w-team-member-link:hover .w-team-member-name,.no-touch .widget.widget_archive ul li a:hover,.no-touch .widget.widget_categories ul li a:hover,.no-touch .widget.widget_tag_cloud .tagcloud a:hover,.no-touch .woocommerce .woocommerce-breadcrumb a:hover,.no-touch .woocommerce.widget.widget_product_tag_cloud .tagcloud a:hover,.color_alternate a:hover,.color_alternate a:active,.color_alternate .g-btn.type_secondary.outlined,.no-touch .color_alternate .w-blog.type_masonry .w-blog-entry-meta a:hover,.color_alternate .w-counter.color_secondary .w-counter-number,.color_alternate .w-icon.color_secondary .w-icon-link,.no-touch .color_alternate .w-shortblog-entry-link:hover .w-shortblog-entry-title-h,.no-touch .color_alternate .w-team-member-link:hover .w-team-member-name,.no-touch .color_alternate .widget.widget_archive ul li a:hover,.no-touch .color_alternate .widget.widget_categories ul li a:hover,.no-touch .color_alternate .widget.widget_tag_cloud .tagcloud a:hover,.l-subfooter.at_top .w-bloglist-entry-date,.l-subfooter.at_top #wp-calendar thead th,.l-subfooter.at_top .widget.widget_archive ul li:before,.l-subfooter.at_top .widget.widget_categories ul li:before,.l-subfooter.at_top .widget.widget_nav_menu .menu-item a:before,.l-subfooter.at_top .widget.widget_recent_entries ul li span,.l-subfooter.at_top .widget.widget_rss ul li span,.l-subfooter.at_top .widget.widget_rss ul li cite {
color:#666;
}

.g-btn.type_secondary,.g-btn.type_secondary.outlined:before,.w-icon.color_secondary.with_circle .w-icon-link,.no-touch .woocommerce .button:hover,.no-touch .woocommerce input[type="submit"]:hover,.no-touch .woocommerce .button.alt:hover,.no-touch .woocommerce .button.checkout:hover,.no-touch .woocommerce.widget_layered_nav_filters ul li a:hover,.color_alternate .g-btn.type_secondary,.color_alternate .g-btn.type_secondary.outlined:before,.color_alternate .w-icon.color_secondary.with_circle .w-icon-link {
background-color:#666;
}

.g-btn.type_secondary.outlined,.color_alternate .g-btn.type_secondary.outlined {
box-shadow:0 0 0 2px #666 inset;
}

.w-blog-entry-meta-date i,.w-blog-entry-meta-author i,.w-blog-entry-meta-tags i,.w-blog-entry-meta-comments i,.w-blog.imgpos_atleft .w-blog-entry.format-audio .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-gallery .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-link .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-quote .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-status .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-video .w-blog-entry-preview-icon,.w-blog.type_masonry .w-blog-entry.format-video .w-blog-entry-preview-icon,.w-blog.type_masonry .w-blog-entry-meta-date,.w-blog.type_masonry .w-blog-entry-meta-author,.w-blog.type_masonry .w-blog-entry-meta-tags,.w-blog.type_masonry .w-blog-entry-meta-comments,.w-blog.type_masonry .w-blog-entry-meta a,.w-bloglist-entry-date,.w-bloglist-entry-author,.w-blogpost-meta,.w-comments-item-date,.w-icon.color_fade .w-icon-link,.no-touch .w-icon.color_fade.with_circle .w-icon-link:hover,.w-links-anchor:before,.w-nav.layout_ver .w-nav-list .w-nav-anchor:before,.w-pagehead p,.w-pagehead-nav .w-pagehead-nav-h .w-pagehead-nav-item,.w-search.submit_inside .w-search-submit:before,.w-team-member-role,.w-testimonial-person i,#wp-calendar thead th,.widget.widget_archive ul li:before,.widget.widget_categories ul li:before,.widget.widget_nav_menu .menu-item a:before,.widget.widget_recent_entries ul li span,.widget.widget_rss ul li span,.widget.widget_rss ul li cite,.widget.widget_tag_cloud .tagcloud a,.woocommerce .woocommerce-breadcrumb,.woocommerce .star-rating:before,.woocommerce small.note,.woocommerce .woocommerce-result-count,.woocommerce .products .product .price del,.woocommerce div.product .price del,.woocommerce #reviews #comments .commentlist .meta,.woocommerce .stars span:after,.woocommerce table.shop_table .product-remove a.remove,.woocommerce .cart-collaterals .cart_totals small,.woocommerce #payment .payment_box span.help,.woocommerce.widget.widget_product_tag_cloud .tagcloud a,.woocommerce.widget.widget_product_categories ul li:before,.color_alternate .w-blog-entry-meta-date i,.color_alternate .w-blog-entry-meta-author i,.color_alternate .w-blog-entry-meta-tags i,.color_alternate .w-blog-entry-meta-comments i,.color_alternate .w-blog.imgpos_atleft .w-blog-entry.format-audio .w-blog-entry-preview-icon,.color_alternate .w-blog.imgpos_atleft .w-blog-entry.format-gallery .w-blog-entry-preview-icon,.color_alternate .w-blog.imgpos_atleft .w-blog-entry.format-link .w-blog-entry-preview-icon,.color_alternate .w-blog.imgpos_atleft .w-blog-entry.format-quote .w-blog-entry-preview-icon,.color_alternate .w-blog.imgpos_atleft .w-blog-entry.format-status .w-blog-entry-preview-icon,.color_alternate .w-blog.imgpos_atleft .w-blog-entry.format-video .w-blog-entry-preview-icon,.color_alternate .w-blog.type_masonry .w-blog-entry.format-video .w-blog-entry-preview-icon,.color_alternate .w-blog.type_masonry .w-blog-entry-meta-date,.color_alternate .w-blog.type_masonry .w-blog-entry-meta-author,.color_alternate .w-blog.type_masonry .w-blog-entry-meta-tags,.color_alternate .w-blog.type_masonry .w-blog-entry-meta-comments,.color_alternate .w-blog.type_masonry .w-blog-entry-meta a,.color_alternate .w-bloglist-entry-date,.color_alternate .w-bloglist-entry-author,.color_alternate .w-blogpost-meta,.color_alternate .w-comments-item-date,.color_alternate .w-icon.color_fade .w-icon-link,.color_alternate .w-links-anchor:before,.color_alternate .w-nav.layout_ver .w-nav-list .w-nav-anchor:before,.color_alternate .w-pagehead p,.color_alternate .w-pagehead-nav .w-pagehead-nav-h .w-pagehead-nav-item,.color_alternate .w-search.submit_inside .w-search-submit:before,.color_alternate .w-team-member-role,.color_alternate .w-testimonial-person i,.color_alternate #wp-calendar thead th,.color_alternate .widget.widget_archive ul li:before,.color_alternate .widget.widget_categories ul li:before,.color_alternate .widget.widget_nav_menu .menu-item a:before,.color_alternate .widget.widget_recent_entries ul li span,.color_alternate .widget.widget_rss ul li span,.color_alternate .widget.widget_rss ul li cite,.color_alternate .widget.widget_tag_cloud .tagcloud a {
color:#999c9f;
}

.w-shortblog-entry-meta-date,.color_alternate .w-shortblog-entry-meta-date {
box-shadow:0 0 0 2px #999c9f inset;
}

.l-subfooter.at_top h1,.l-subfooter.at_top h2,.l-subfooter.at_top h3,.l-subfooter.at_top h4,.l-subfooter.at_top h5,.l-subfooter.at_top h6,.l-subfooter.at_top a,.l-subfooter.at_top .widget.widget_archive ul li a,.l-subfooter.at_top .widget.widget_categories ul li a,.l-subfooter.at_top .widget.widget_nav_menu .menu-item a {
color:#ccc;
}