@font-face
{
font-family: PTBold;
src: url(../fonts/PT_Sans-Narrow-Web-Bold.ttf);
}
@font-face
{
font-family: PTRegular;
src: url(../fonts/PT_Sans-Narrow-Web-Regular.ttf);
}

.tp-caption.impreza_white_huge {
position:absolute;
font-weight:400;
font-size:60px;
line-height:60px;
font-family:"Noto Sans";
text-transform:uppercase;
letter-spacing:1px;
border:0;
text-shadow:0 1px 0 rgba(0,0,0,0.2);
background-color:transparent;
color:#fff;
margin:0;
padding:0;
}

.tp-caption.impreza_white_big {
position:absolute;
font-weight:400;
font-size:40px;
line-height:40px;
font-family: PTBold, "Noto Sans";
border:0;
text-shadow:0 1px 0 rgba(0,0,0,0.2);
background-color:transparent;
color:#fff;
margin:0;
padding:0;
}

.tp-caption.impreza_white_small {
position:absolute;
font-weight:400;
font-size:18px;
line-height:26px;
font-family:"Open Sans";
border:0;
text-shadow:0 1px 0 rgba(0,0,0,0.2);
background-color:transparent;
color:#fff;
margin:0;
padding:0;
}

.tp-caption.impreza_dark_huge {
position:absolute;
font-weight:400;
font-size:60px;
line-height:60px;
font-family:"Noto Sans";
text-transform:uppercase;
letter-spacing:1px;
border:0;
text-shadow:none;
background-color:transparent;
color:#222;
margin:0;
padding:0;
}

.tp-caption.impreza_dark_big {
position:absolute;
font-weight:400;
font-size:40px;
line-height:40px;
font-family:"Noto Sans";
border:0;
text-shadow:none;
background-color:transparent;
color:#222;
margin:0;
padding:0;
}

.tp-caption.impreza_dark_small {
position:absolute;
font-weight:400;
font-size:18px;
line-height:26px;
font-family:"Open Sans";
border:0;
text-shadow:none;
background-color:transparent;
color:#222;
margin:0;
padding:0;
}