/*
Plugin Name: AO FDS Sports 
Author URI: http://www.alleyoop.be
Description: A pre-configured Sports widget for AO FDS.
Author: Simon Arickx
Version: 1.0
*/

/** Tab settings **/
.widget-aofds-sports .sports {
	overflow: auto;
}
.widget-aofds-sports .sport {
	margin: 0 0 10px !important;
}
.widget-aofds-sports .sport .sport-id-photo img {
    width: 100%;
}
.widget-aofds-sports .buttons {
  text-align: center;
  margin: 20px 0;
}

@media (min-width: 960px) {
    #sidebar-top-content .widget-aofds-sports ul li,
    #sidebar-bottom-content .widget-aofds-sports ul li{
        width: 50%;
        float: left;
        clear: none;
    }
    #sidebar-top-content .widget-aofds-sports ul li:odd,
    #sidebar-bottom-content .widget-aofds-sports ul li:odd {
        clear: both;
    }
    #sidebar-top-page .widget-aofds-sports ul li,
    #sidebar-bottom-page .widget-aofds-sports ul li{
        width: 33%;
        float: left;
        clear: none;
    }
    #sidebar-top-page .widget-aofds-sports ul li:nth-child(3n+1),
    #sidebar-bottom-page .widget-aofds-sports ul li:nth-child(3n+1){
        clear: both;
    }
}
