/** style.css
 * 
 * Theme Name:	AO Foret de Soignes
 * Theme URI:	http://www.foretdesoignessport.be/
 * Description:	A WordPress Theme for Foret de Soignes.
 * Author:		Alley Oop
 * Author URI:	http://www.alleyoop.be/
 * Version:		1.0.0
 * Text Domain:	aofds
 *
 * Copyright (C) 2014 Alley Oop <info@alleyoop.be>
 *
 */

/*
{
    font-family: Futura ExtraBold;
    src: url(css/fonts/Futura.ttc#4);
}
*/

/***************************************************************************************
 	BASE
 ***************************************************************************************/


html {
}

body {
    margin: 0;
    padding: 20px 0;
}

h1, h2, h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}


/***************************************************************************************
 	STRUCTURE
 ***************************************************************************************/

#site {
    margin: 60px auto 0;
}

#site-header {
    border-radius: 10px 10px 0 0;
    background: white;
}

#site-header .inner {
    background-color: #f68a48;
    border-radius: 10px 10px 0 0; 
    height: 40px;
    margin-bottom: 15px;
    position: relative;
}

#site-logo {
    padding: 0;
    width: 20%;
    float: left;
}

#site-navigation {
    padding: 0;
    width: 80%;
    float: left;
}

#site-center {
    background-color: rgba(30, 181, 200, 0.8);
    color: #fff;
}

#site-left-column {
    padding: 0;
    width: 20%;
    float: left;
}

#site-main-column {
    background-color: #fff !important;
    color: #333;
    padding: 0;
    width: 80%;
    float: left;
}

#site-main {
    padding: 0 15px;
    overflow: hidden;
}

#site-content {
    margin-top: -15px;
    min-height: 700px;
}

#site-right-content {
    background: #D9F4F7;
    padding-bottom: 99999px;
    margin-bottom: -99999px;
}

#site-footer {
    background: #fff;
    border-radius: 0 0 10px 10px;
    padding: 15px;
}


/***************************************************************************************
 	LOGO
 ***************************************************************************************/

#logo {
    float: none;
    padding: 0;
    position: relative;
    height: 30px;
    border-radius: 10px 0 0;
}

#logo a {
    float: none;
    padding: 0;
    position: absolute;
    top: -65px;
    left: 10px;
    width: 100%;
    height: initial;
    overflow: auto;
}

#logo a img {
    width: 100%;
}

#logo .title {
    display: none;
}


/***************************************************************************************
 	NAVIGATION
 ***************************************************************************************/

#navigation {
    padding: 0;
}

#navigation ul {
}
    
#navigation ul li {
}
    
#navigation ul li a {
    color: white;
    font-size: 1em;
    line-height: 40px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    padding: 0 15px;
}


/***************************************************************************************
 	SPORTS - LEFT COLUMN
 ***************************************************************************************/

#site-left-column ul.sports {
    margin: 15px 0;
    padding: 0;
    list-style: none;
}

#site-left-column ul.sports li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#site-left-column ul.sports li a {
    color: white;
    padding: 0 0 0 25px;
    line-height: 2.4em;
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    display: block;
}

#site-left-column ul.sports a .flaticon {
    width: 30px;
    display: inline-block;
    font-weight: normal;
}

#site-left-column ul.sports a .flaticon:before {
    margin-left: 0;
}

#site-left-column ul.sports a:hover {
    background: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}


/***************************************************************************************
 	HEADER
 ***************************************************************************************/

#sidebar-header {
    padding: 0 15px 15px;
    position: relative;
}

#sidebar-header .widget_sp_image img {
    width: 100%;
    height: inherit;
}

#sidebar-header .widget_sp_image-description {
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 2.5em;
    padding: 0 15px;
    text-shadow: 1px 1px 3px rgba(0,0,0,1);
}


/***************************************************************************************
 	SIDEBAR RIGHT
 ***************************************************************************************/

#sidebar-right-content aside {
    margin-bottom: 15px;
}

#sidebar-right-content .booking .fa {
    display: inline-block;
    width: 20px;
    margin-bottom: 10px;
    float: left;
}

#sidebar-right-content .booking .address {
    font-style: italic;
}


/***************************************************************************************
 	CONTENT
 ***************************************************************************************/

#site-content h1 {
}

#site-content h2 {
    border-bottom: 0px solid #f68a48;
    color: #f2963e;
    font-size: 1.6em;
    line-height: 1.4em;
}

#site-content h3 {
    font-size: 1.2em;
    line-height: 1.2em;
}

#site-content table {
    font-size: 1em;
}

#site-content.home h1 {
    color: #f2963e;
    font-size: 3em;
}

#site-content.home ul {
    list-style: none;
    padding-left: 10px;
}

#site-content.home ul li {
    line-height: 1.4em;
}

#site-content.home ul li:before {
    font-family: Fontawesome !important;
    font-size: 16px !important;
    content: '\f00c'; /* 046 */
    display: inline-block;
    width: 30px;
}


/***************************************************************************************
 	IMAGES - CAROUSEL
 ***************************************************************************************/

.carousel .carousel-control {
    height: 60px;
    background: #000;
    top: 50%;
    margin-top: -30px;
    line-height: 60px;
    width: 60px;
    opacity: 0.4;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}
.carousel:hover .carousel-control {
    opacity: 1;
}
.carousel .carousel-control.right {
    border-radius: 10px 0 0 10px;
}
.carousel .carousel-control.left {
    border-radius: 0 10px 10px 0;
}
.carousel .carousel-control span {
    height: 60px;
    line-height: 60px;
    width: 60px;
}
.carousel .carousel-control.right span {
    right: 15px;
}
.carousel .carousel-control.left span {
    left: 15px;
}
.carousel .carousel-indicators {
  bottom: 20px;
}
.carousel .carousel-indicators li {
    box-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}
.carousel .item {
    background-size: cover;
}
.carousel .item .image {
    position: relative;
    width: 100%;
    padding-bottom: 56%;
    height: 0;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
    padding: 0 10px;
    line-height: 20px;
    height: 20px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/***************************************************************************************
 	IMAGES - GALLERY
 ***************************************************************************************/

.row.gallery {
    margin-left: -15px !important;
    margin-right: 0 !important;
}
.row.gallery .col {
    padding-left: 15px !important;
    padding-right: 0 !important;
}
.row.gallery .item {
    position: relative;
    margin-bottom: 15px;
}
.row.gallery .item img {
    width: 100%;
}
.row.gallery .item .description {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
    padding: 0 10px;
    line-height: 20px;
    height: 20px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/***************************************************************************************
 	FOOTER
 ***************************************************************************************/

#site-footer #map {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
}


/* End of file style.css */
/* Location: ./wp-content/themes/aofds/style.css */
