/** style.css
 * 
 * Theme Name:	AO Foret de Soignes
 * Theme URI:	http://www.foretdesoignessport.be/
 * Description:	A WordPress Theme for Foret de Soignes.
 * Author:		Alley Oop
 * Author URI:	http://www.alleyoop.be/
 * Version:		1.0.0
 * Text Domain:	aofds
 *
 * Copyright (C) 2014 Alley Oop <info@alleyoop.be>
 *
 */


@font-face
{
font-family: Calibri;
src: url(css/font/Calibri.ttf);
}

body, html {
background-color: #222 !important;
}

h3 {
margin-top: 0px !important;
margin-bottom: 20px !important;
}

h4 {
margin-top: 20px !important;
margin-bottom: 10px !important;
}

::-webkit-input-placeholder {
color: grey;
}
:-moz-placeholder { /* Firefox 18- */
color: grey;
}
::-moz-placeholder {  /* Firefox 19+ */
color: grey;
}
:-ms-input-placeholder {  
color: grey;
}

.alignleft {
float: left;
margin: 0 20px 10px 0;
}
.alignright {
float: right;
margin: 0 0 10px 10px;
}
.wp-caption {
border: 1px solid #ddd;
border-radius: 3px;
padding: 3px;   
}
.wp-caption p.wp-caption-text {
margin: 5px 0;
font-size: 0.8em;
text-align: center;  
}

/**********/
/* NAVBAR */
/**********/

.navbar-fixed-top {
border: 0 !important;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
/*
-webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
-moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
box-shadow: 0 1px 10px rgba(0,0,0,.1);
*/
border-bottom: 1px solid #ddd;
-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.05) !important;
-moz-box-shadow: 0px 2px 2px rgba(0,0,0,.05) !important;
box-shadow: 0px 2px 2px rgba(0,0,0,.05) !important;

}
.navbar-header {
position: relative;
z-index: 2000;
}
.navbar-brand {
padding: 3px 15px !important;
}
.navbar-brand .logo {
height: 120px; /*70px;*/
}
.navbar-brand .title {
display: none;
}
#navbar {
text-align: right;
position: relative;
}
#navbar nav {
display: inline-block;
vertical-align:top;
text-align: left;
margin-right: 35px;
}
#navbar .nav > li > a {
line-height: 50px !important;
color: #333 !important;
}
#navbar .nav > li.menu-item-has-children > a {
padding-right: 0;
margin-right: 30px;
}
#navbar .nav > li > span {
position: absolute;
right: 15px;
top: 0;
display: inline-block;
padding: 15px 0;
line-height: 50px;
}
#navbar .nav > li > span i:before {
line-height: 50px;
}
.navbar-default .navbar-nav >.active {
background-color: #e7e7e7;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
background-color: transparent;
}
#navbar .nav li.dropdown:hover {
background: #e7e7e7;
}
#navbar .nav li.dropdown:hover > ul.dropdown-menu { 
/*display: block;*/
}
#navbar .nav .dropdown-menu {
border: 1px solid #ddd !important;
/*border-top: 0 !important;*/
-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.05) !important;
-moz-box-shadow: 0px 2px 2px rgba(0,0,0,.05) !important;
box-shadow: 0px 2px 2px rgba(0,0,0,.05) !important;
}
#navbar .nav .dropdown-submenu {
position: relative;
}
/*
#navbar .nav .dropdown-submenu > a:after {
font-family: Fontawesome !important;
content: '\f0da';
float: right;
}
*/
#navbar .nav .dropdown-submenu > span {
position: absolute;
right: 10px;
top: 3px;
}
#navbar .nav .dropdown-submenu > .dropdown-menu {
top: -2px;
left: 100%;
background: #eee;
border-radius: 0 5px 5px 5px;
}
#navbar .nav .dropdown-submenu:hover > .dropdown-menu {
/*display: block;*/
}
#navbar .nav li.menu-item-type-infrastructure > ul.dropdown-menu {
-moz-column-count: 2; /* Firefox */
-webkit-column-count: 2; /* Safari and Chrome */
column-count: 2;
width: 400px;
}

/* === Search === */

#navbar .search-form {
display: inline-block;
margin: -2px -7px 0 30px;
padding: 13px 0;
vertical-align: top;
line-height: 50px;
position: absolute;
right: 0;
}
#navbar .search-form .form-group {
position: relative;
}
#navbar .search-form .form-control {
padding-right: 30px;
width: 300px;
}
#navbar .search-form .btn {
border: 0;
padding: 0 0 0 5px;
color: #aaa;
margin-left: -30px;
background: transparent;
}
#navbar .search-form .show-search {
position: absolute;
top: 1px;
right: 15px;
color: #aaa;
cursor: pointer;
}
#navbar .search-form .show-search:before {
line-height: 50px;
}
#navbar .search-form .hide-search {
position: relative;
right: -10px;
top: 0;
color: #aaa;
cursor: pointer;
}

/* === Languages === */

#navbar ul.polylang {
display: inline-block;
list-style: none;
margin: 0 0 0 8px;
padding: 15px 0;
}
#navbar ul.polylang li {
display: inline-block;
list-style: none;
padding: 0;
vertical-align: top;
line-height: 50px;
}
#navbar ul.polylang li a {
color: #aaa;
text-decoration: none;
border-left: 1px solid #ddd;
padding: 0 3px 0 8px;
}
#navbar ul.polylang li a:hover {
text-decoration: underline;
}

/******************/
/* SIDEBAR-HEADER */
/******************/

#sidebar-header {
position: absolute;
top: 80px;
left: 0;
right: 0;
position: absolute;
/* text-align: right; */
}
#sidebar-header .container {
/* position: relative; */
}
#sidebar-header aside.widget {
position: relative;
/* top: 300px; */
/* right: 100px; */
/* width: 320px; */
/* background: #FFF; */
z-index: 1000;
/* border: 0px solid #ddd; */
}

/**********/
/* SLIDER */
/**********/

#slider {
position: relative;
margin-top: 80px;
height: 350px !important;
}
#slider .cycloneslider-slides {
height: 350px !important;
}
#slider .cycloneslider-slides > div {
background: url(images/lawoluwe-bg5-full.png) center center no-repeat;
}
#slider .cycloneslider-template-thumbnails .cycloneslider-caption {
background: rgba(0,0,0,0.5) !important;
}
#slider .cycloneslider-caption .cycloneslider-caption-title {
padding: 20px 20px 10px 0px !important;
font-size: 3em !important;
font-weight: 400 !important;
text-shadow: 0 2px 3px rgba(0,0,0,.6);
}
#slider .cycloneslider-caption .cycloneslider-caption-description {
padding: 0px 20px 90px 0px !important;
font-size: 1.4em !important;
font-weight: 300 !important;
text-shadow: 0 2px 3px rgba(0,0,0,.4);
}
#slider .cycloneslider-thumbnails {
background: #333; 
padding: 5px 0 !important;
position: absolute;
bottom: 0;
z-index: 1000;
width: 100%;
}
#slider .cycloneslider-thumbnails ul {
text-align: left;
}
#slider .cycloneslider-thumbnails li {
margin: 10px 10px 10px 0px !important;
border-width: 1px !important;
height: 30px !important;
}
#slider .cycloneslider-thumbnails li.current {
border-color: white !important;
}

#slider .cycloneslider-template-standard {
margin-bottom: 0 !important;
margin: 0 auto;
}
#slider .cycloneslider-template-standard .filter {
background: rgba(0,0,0,0.3) !important;
background: url(images/filter.png) bottom left repeat-x !important;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
}
#slider .cycloneslider-template-standard .cycloneslider-caption {
background: transparent;
opacity: 1 !important;
bottom: 0px !important;
}
#slider .cycloneslider-template-standard .cycloneslider-caption .cycloneslider-caption-description {
padding: 0px 20px 20px 0px !important;
}
#slider .cycloneslider-template-standard .cycloneslider-pager {
background: none repeat scroll 0% 0% transparent;
padding: 20px 0px !important;
position: absolute;
top: 0px !important;
}
#slider .cycloneslider-template-standard .cycloneslider-pager span {
margin: 0 5px;
width: 8px;
height: 8px;
border-radius: 4px;
background: #aaa;
}
#slider .cycloneslider-template-standard .cycloneslider-pager span.cycle-pager-active {
background-color: #fff;
}

/********/
/* PAGE */
/********/

#mainpage {
background: #fff;
font-weight: 300;
padding-bottom: 30px;
}

/* === common === */

#mainpage .more-link {
display: block;
margin: 10px 0;
}
.not-homepage #content {
padding: 0;
font-size: 1.2em;
}
.not-homepage .entry-title {
margin-top: 20px;
}
article .entry-content table {
width: 100%;
}
article .entry-content table td {
border: 1px solid #ddd;
padding: 3px 5px;
}
article .entry-content p img {
max-width: 100% !important;
height: inherit !important;
}

/* === Error 404 === */

.error404 article form.searchform {
margin-bottom: 40px;
}

/*
#mainpage #searchform {
margin-top: 30px;
}
*/

/* === Homepage === */

.homepage {
padding: 30px 0;
}
.homepage #content > .row {
overflow: hidden;
margin-bottom: 30px;
}
.homepage .news {
background: #333 url('images/lawoluwe-bg5-full.png') 80px 250px no-repeat;
margin-bottom: -500px;
padding-bottom: 500px;
}

.homepage .news .intro-image.default {
/*background: url('http://foretdesoignessport.be/dev/wp-content/uploads/2014/11/DSCN0752.jpg') center top no-repeat;*/
}
.homepage .news .intro-image {
width: 100%;
height: 150px; /* 250px; */
background-size: cover !important;
overflow: hidden;
opacity: 1;
}
.homepage .news:hover .intro-image {
opacity: 1;
}
.homepage .news .entry-meta  {
margin: 0;
}
.homepage .news .entry-meta .edit-link {
font-size: 0.8em;
padding: 0 10px 10px;
}
.homepage .news .entry-meta .edit-link i.fa {
padding-right: 10px;
}
.homepage .news h1 {
margin: 0;
padding: 10px;
font-size: 1.2em;
font-weight: 300;
line-height: 1.2em;
}
.homepage .news .entry-content {
color: #fff;
padding: 0 10px 10px;
font-weight: 300;
}

/* === Entry meta === */

.entry-meta {
margin: 0 0 30px;
}
.entry-meta > span {
padding: 0 10px;
border-right: 1px solid;
}
.entry-meta > span:first-child {
padding-left: 0;
}
.entry-meta > span:last-child {
padding-right: 0;
border-right: 0;
}
.entry-meta .edit-link i.fa {
padding-right: 10px;
}
.entry-meta .infrastructure a {
color: white;
}

/* === Header image === */

.header-image {
position: relative;
margin-top: 80px;
margin-bottom: 30px;
}
.header-image.default {
height: 120px;
}
.header-image.default .image {
height: 120px;
}
.header-image .image {
height: 350px;
background-size: cover !important;
}
.header-image .filter {
background: rgba(0,0,0,0.3) !important;
background: url(images/filter.png) bottom left repeat-x !important;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
}
.header-image .caption {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
color: white;
text-shadow: 0 2px 3px rgba(0,0,0,.6);
/*background: rgba(0,0,0,0.3);*/
}
.header-image .caption .inner {
width: 100%;
}
.header-image .caption .title {
margin: 30px 0 20px;
}

/*
#mainpage.not-homepage.with-header {
padding: 30px 0 40px 0;
margin-top: 430px;
}
#mainpage.not-homepage.with-header #content {
font-weight: 300;
padding: 0;
}
#mainpage.not-homepage.with-header .header-image .image {
height: 350px;
}
#mainpage.not-homepage.with-header .header-image  .filter {
background: rgba(0,0,0,0.3) !important;
background: url(images/filter.png) bottom left repeat-x !important;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
}
#mainpage.not-homepage.with-header .header-image .caption {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
color: white;
text-shadow: 0 2px 3px rgba(0,0,0,.6);
}
#mainpage.not-homepage.with-header .header-image .caption .inner {
width: 100%;
}
#mainpage.not-homepage.with-header .header-image .caption .title {
margin: 30px 0 20px;
}

#mainpage.not-homepage.not-archive.without-header {
padding: 40px 0 40px 0;
padding-top: 30px;
}
#mainpage.archive.without-header {
padding-top: 30px;
}
#mainpage.not-homepage.without-header .header-image .image {
height: 120px;
}
#mainpage.not-homepage.without-header #content {
position: relative;
}
*/

/* === Not homepage === */


/* === Default header === */

/* === Archive === */

.archive h1.archive-title {
margin: 0 0 30px;
}
.archive h1.entry-title, h1.archive-title {
margin-top: 0;
}
.archive #content {
margin-bottom: 30px;
}
.archive #content article {
margin-bottom: 30px;
border-top: 1px solid #ddd;
}
.archive #content article:last-child {
border-bottom: 1px solid #ddd;
padding-bottom: 30px;
}
.archive #content .entry-title {
font-size: 1.8em;
margin-top: 30px;
margin-bottom: 10px;
font-weight: 400;
}
.archive .entry-meta {
margin: 0 0 20px;
font-size: 0.7em;
text-transform: none;
color: #ccc;
}
.archive .entry-meta a {
color: #ccc;
}
.archive .entry-meta a:hover {
color: #333;
text-decoration: underline;
}
.archive .entry-meta i.fa {
padding-right: 5px;
color: #ccc;
}
.archive #content .post-thumbnail {
/* height: 200px; */
}
.archive #content .post-thumbnail img {
width: 100%;
}
.archive #content .post-thumbnail img.default {
background: #333;
}

/* === Single === */

#mainpage.single.with-header .entry-meta {
margin: 0 0 20px;
font-size: 0.8em;
color: #fff;
text-shadow: 0 2px 3px rgba(0,0,0,.6);
}
#mainpage.single.with-header .entry-meta a {
color: #fff;
}
#mainpage.single.with-header .entry-meta a:hover {
color: #fff;
text-decoration: underline;
}
#mainpage.single.with-header .entry-meta i.fa {
padding-right: 5px;
color: #fff;
}
#mainpage.single.without-header .entry-meta {
margin: 0 0 20px;
font-size: 0.7em;
text-transform: none;
color: #ccc;
}
#mainpage.single.without-header .entry-meta a {
color: #ccc;
}
#mainpage.single.without-header .entry-meta a:hover {
color: #333;
text-decoration: underline;
}
#mainpage.single.without-header .entry-meta i.fa {
padding-right: 5px;
color: #ccc;
}
#mainpage.single .event-details {
border: 1px solid #ddd;
padding: 20px 20px 10px;
margin-bottom: 20px;
overflow: auto;
}
#mainpage.single .event-details p {
float: left;
margin-right: 40px;
}
#mainpage.single .event-details .fa {
width: 20px;
}
#mainpage.single .event-details .gmap {
height: 200px;
}

/* === Page === */

#mainpage.page.with-header #content .entry-meta {
margin: 0 0 20px;
font-size: 0.8em;
color: #fff;
text-shadow: 0 2px 3px rgba(0,0,0,.6);
}
#mainpage.page.with-header #content .entry-meta a {
color: #fff;
}
#mainpage.page.with-header #content .entry-meta a:hover {
color: #fff;
text-decoration: underline;
}
#mainpage.page.with-header #content .entry-meta i.fa {
padding-right: 5px;
color: #fff;
}
#mainpage.page.without-header #content .entry-meta {
margin: 0 0 20px;
font-size: 0.7em;
text-transform: none;
color: #ccc;
}
#mainpage.page.without-header #content .entry-meta a {
color: #ccc;
}
#mainpage.page.without-header #content .entry-meta a:hover {
color: #333;
text-decoration: underline;
}
#mainpage.page.without-header #content .entry-meta i.fa {
padding-right: 5px;
color: #ccc;
}

/* === Event === */

.event-pills {
position: absolute;
top: 0;
right: 0;
border: 0;
}
.event {
padding: 10px 0px;
clear: both;
overflow: auto;
border-bottom: 1px solid #efefef;
}
.event-date {
display: inline-block;
border: 0px solid #5A5A5A; /*#ddd;*/
border-radius: 5px;
width: 60px;
height: 60px;
position: relative;
float: left;
margin: 0 15px 0 0;
font-size: 20px;
font-weight: bold;
font-family: PTRegular,'Noto Sans',sans-serif;
}
#mainpage.with-header .event-date {
box-shadow: 0px 2px 2px 1px rgba(0,0,0,.2);
}
.event-date .event-day {
position: absolute;
top: 5px;
width: 60px;
font-size: 150%;
color: #fff;
text-align: center;
}
.event-date .event-month {
position: absolute;
bottom: 5px;
width: 60px;
font-size: 80%;
border-top: 0px solid #5A5A5A;
color: white;
font-weight: normal;
text-align: center;
}

/* === Sport === */

#mainpage .sport .nav-tabs {
margin: 30px 0 20px; 
}
#mainpage .sport .nav-tabs a {
padding: 10px 20px; 
margin-right: 5px;
border: 1px solid #ddd;
border-bottom: 1px solid #ddd;
background: #fcfcfc;
color: #333;
}
#mainpage .sport .nav-tabs a:hover {
border: 1px solid #ddd;
border-bottom: 1px solid #ddd;
background: #eee;
color: #333;
}
#mainpage .sport .nav-tabs .active a {
font-weight: bold; 
border: 1px solid #ddd;
border-bottom-color: white;
background: transparent;
}
#mainpage .sport h3 {
margin-top: 30px !important;
clear: both;
}
#mainpage .sport .bookings .prices {
margin-top: 20px;
margin-bottom: 20px;
}
#mainpage .sport .bookings .prices .panel-heading {
text-align: center;
}
#mainpage .sport .bookings .prices .panel-body {
font-size: 2em;
font-weight: 100;
text-align: center;
}
#mainpage .sport .bookings .materials {
margin-top: 20px; 
margin-bottom: 50px;
}
#mainpage .sport .bookings .materials table td {
border: 0;
border-top: 1px solid #ddd;
}
#mainpage .sport .bookings .materials tr:last-child td {
border-bottom: 1px solid #ddd;    
}
#mainpage .sport .bookings .contacts {
font-size: 2em;    
text-align: center;
}
#mainpage .sport .bookings .contacts .btn-success {
border: 0;
margin: 0 0 20px 0;
width: 100%;
}
#mainpage .sport .bookings .contacts a {
color: white;    
}
#mainpage .sport .bookings .contacts .fa {
padding-right: 10px;    
}
#mainpage .sport #sport_subscriptions .formulas {
margin-top: 20px;
margin-bottom: 20px;
}
#mainpage .sport #sport_subscriptions .formulas .panel {
text-align: center; 
}
#mainpage .sport #sport_subscriptions .formulas .panel-body {
border-top: 1px solid #ddd;
font-size: 2em;
font-weight: 100;
}
#mainpage .sport #sport_subscriptions .formulas .panel-body span {
font-size: 0.5em;
font-weight: 200;
}
#mainpage .sport #sport_subscriptions .contacts .btn-success {
border: 0;
margin: 0 0 20px 0;
width: 100%;
}
#mainpage .sport #sport_subscriptions .contacts a {
color: white;    
}
#mainpage .sport #sport_subscriptions .contacts .fa {
padding-right: 10px;    
}
#mainpage .sport .club .schedule {
clear:both;
}
#mainpage .sport .club table td {
border: 0;
border-top: 1px solid #ddd;
}
#mainpage .sport .club .contacts .btn-success {
border: 0;
margin: 0 0 20px 0;
width: 100%;
}
#mainpage .sport .club .contacts a {
color: white;    
}
#mainpage .sport .club .contacts .fa {
padding-right: 10px;    
}
#mainpage .linked-sports,
#mainpage .linked-infrastructures {
border-top: 0px solid #efefef;
border-bottom: 0px solid #efefef;
background: transparent;
padding: 0 0 20px 0;
}
#mainpage .linked-sports .row,
#mainpage .linked-infrastructures .row {
margin-left: -5px;
margin-right: -5px;
}
#mainpage .linked-sports .row > div,
#mainpage .linked-infrastructures .row > div {
padding-left: 5px;
padding-right: 5px;
margin-bottom: 10px;
}
#mainpage .linked-sports .post-thumbnail,
#mainpage .linked-infrastructures .post-thumbnail {
position: relative;
position: relative;
background: #333;
}
#mainpage .linked-sports .post-thumbnail img,
#mainpage .linked-infrastructures .post-thumbnail img {
opacity: 0.8;
}
#mainpage .linked-sports .post-thumbnail:hover img,
#mainpage .linked-infrastructures .post-thumbnail:hover img {
opacity: 1;
}
#mainpage .linked-sports .post-thumbnail img.default,
#mainpage .linked-infrastructures .post-thumbnail img.default {
opacity: 0.3;
}
#mainpage .linked-sports .post-thumbnail:hover img.default,
#mainpage .linked-infrastructures .post-thumbnail:hover img.default {
opacity: 0.5;
}
/*
#mainpage .linked-sports .post-thumbnail .caption,
#mainpage .linked-infrastructures .post-thumbnail .caption {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
text-align: center;
background: rgba(51,51,51,0.9) url('images/lawoluwe-bg5-full.png') center center / 80% no-repeat;
display: none;
}
#mainpage .linked-sports .post-thumbnail .caption:hover,
#mainpage .linked-infrastructures .post-thumbnail .caption:hover {
text-decoration: none;
}
#mainpage .linked-sports .post-thumbnail .title,
#mainpage .linked-infrastructures .post-thumbnail .title {
position: absolute;
margin: -15px 10px 0;
top: 50%;
left: 0;
right: 0;
padding: 0px;
text-shadow: 0 2px 3px rgba(0,0,0,.6);
font-size: 14px;
}
*/
#mainpage .linked-sports .post-thumbnail .caption,
#mainpage .linked-infrastructures .post-thumbnail .caption {
position: relative;
top: 0;
display: block!important;
font-size: 100%;
background: #333 url('images/lawoluwe-bg5-full.png') right center / 80% no-repeat;
height: 50px;
padding: 5px;
text-align: center;
/* border-radius: 0 0 5px 5px; */
font-weight: 300;
}
#mainpage .linked-sports .post-thumbnail .caption:hover,
#mainpage .linked-infrastructures .post-thumbnail .caption:hover {
text-decoration: none;
}
#mainpage .linked-sports .post-thumbnail .title,
#mainpage .linked-infrastructures .post-thumbnail .title {
position: relative;
top: 0;
margin: 0 !important;
right: 0;
padding: 0px;
text-shadow: none;
font-size: 1em;
line-height: 1.2em;
}
#mainpage .linked-sports img,
#mainpage .linked-infrastructures img {
width: 100%;
font-size: 85%;
}

/* === Infrastructure ===*/

#mainpage .infrastructure .album .row {
margin-left: -5px;
margin-right: -5px;
}
#mainpage .infrastructure .album .row > div {
padding-left: 5px;
padding-right: 5px;
margin-bottom: 10px;
}
#mainpage .infrastructure .album .infrastructure-main {
position: relative;
display: none;
}
#mainpage .infrastructure .album .infrastructure-main.show {
display: block;
}
#mainpage .infrastructure .album .infrastructure-main img {
width: 100%;
max-height: 300px;
}
#mainpage .infrastructure .album .infrastructure-main .filter {
background: url(images/filter.png) bottom left repeat-x !important;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
}
#mainpage .infrastructure .album .infrastructure-main .caption {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
color: white;
}
#mainpage .infrastructure .album .infrastructure-main .caption .inner {
margin: 0;
padding: 10px 20px;
}
#mainpage .infrastructure .album .infrastructure-main .caption .title {
font-size: 1.2em;
font-weight: bold;
margin: 10px 0;
text-shadow: 0 2px 3px rgba(0,0,0,.6);
}
#mainpage .infrastructure .album .infrastructure-main .caption p {
text-shadow: 0 2px 3px rgba(0,0,0,.6);
}
#mainpage .infrastructure .album .infrastructure-thumbnail {
width: 100%;
}
#mainpage .infrastructure .prices {
margin-top: 20px;
margin-bottom: 20px;
}
#mainpage .infrastructure .prices .panel-heading {
text-align: center;
}
#mainpage .infrastructure .prices .panel-body {
font-size: 2em;
font-weight: 100;
text-align: center;
}
#mainpage .infrastructure .contacts .row {
font-size: 2em;    
text-align: center;
}
#mainpage .infrastructure .contacts .btn-success {
border: 0;
margin: 0 0 20px 0;
width: 100%;
}
#mainpage .infrastructure .contacts a {
color: white;    
}
#mainpage .infrastructure .contacts .fa {
padding-right: 10px;    
}
#mainpage .linked-infrastructure .row {
margin-left: -5px;
margin-right: -5px;
}
#mainpage .linked-infrastructure .row > div {
padding-left: 5px;
padding-right: 5px;
margin-bottom: 10px;
}
#mainpage .linked-infrastructure .post-thumbnail {
position: relative;
background: #333;
}
#mainpage .linked-infrastructure .post-thumbnail img {
opacity: 0.8;
}
#mainpage .linked-infrastructure .post-thumbnail:hover img {
opacity: 1;
}
#mainpage .linked-infrastructure .post-thumbnail .caption {
display: block!important;
font-size: 100%;
background: #333 url('images/lawoluwe-bg5-full.png') right center / 80% no-repeat;
height: 50px;
padding: 5px;
text-align: center;
/* border-radius: 0 0 5px 5px; */
font-weight: 300;
}
#mainpage .linked-infrastructure .post-thumbnail .caption:hover {
text-decoration: none;
}
#mainpage .linked-infrastructure .post-thumbnail .title {
/* position: absolute; */
margin: 0 !important;
/* top: 50%; */
/* left: 0; */
right: 0;
padding: 0px;
}
#mainpage .linked-infrastructure img {
width: 100%;
}

/* === Team === */

#mainpage .team .contacts {
}
#mainpage .team .contacts .contact .contact-image .inner{
position: relative;
}
#mainpage .team .contacts .contact .contact-image {
position: relative;
margin-bottom: 10px;
}
#mainpage .team .contacts .contact .contact-image img {
width: 100%;
border-radius: 50%;
}
#mainpage .team .contacts .contact .contact-infos {
margin-bottom: 10px;
}
#mainpage .team .contacts .contact h2 {
margin-top: 0 !important;
}
#mainpage .team .contacts .contact h3 {
margin-top: 0 !important;
margin-bottom: 10px !important;
}
#mainpage .team .contacts .contact h4 {
margin-top: 0 !important;
}
#mainpage .team .contacts .contact .fa {
display: inline-block;
width: 30px;
text-align: center;
}
#mainpage .team .contacts .contact .motto {
font-style: italic;
margin-top: 10px;
}
#mainpage .team .contacts .contact .motto q {
font-style: italic;
margin-top: 10px;
}
#mainpage .team .contacts .contact hr {
border: 0;
margin: 30px 0 40px;
border-bottom: 1px solid #ddd;
/*
-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.05) !important;
-moz-box-shadow: 0px 2px 2px rgba(0,0,0,.05) !important;
box-shadow: 0px 2px 2px rgba(0,0,0,.05) !important;
height: 2px;
*/
}
#mainpage .team .contacts .contact.cols {
margin-bottom: 20px;
padding-top: 10px;
padding-bottom: 10px;
}
#mainpage .team .contacts .contact.cols .fa {
text-align: left;
}
#mainpage .team .contacts .contact.cols .contact-infos {
text-align: center;
}
#mainpage .team .contacts .contact.nbcols-2 .contact-infos {
text-align: left;
}
#mainpage .team .contacts .contact.cols .contact-more {
display: none;
position: absolute;
top: 0;
left: 0;
right: 0;
background: rgba(0,0,0,0.8);
padding: 0 15px;
color: white;
font-size: 80%;
border-radius: 10px;
}
#mainpage .team .contacts .contact.cols .contact-more .inner {
overflow: scroll;
padding: 10px 0;
}
#mainpage .team .contacts .contact.cols:hover .contact-more {
display: block;
}
#mainpage .team .contacts .contact.nbcols-2,
#mainpage .team .contacts .contact.nbcols-2 .contact-more,
#mainpage .team .contacts .contact.nbcols-2 .contact-more .inner {
}
#mainpage .team .contacts .contact.nbcols-3 {
text-align: center;
}
#mainpage .team .contacts .contact.nbcols-3 .contact-image {
padding: 10px;
}

#mainpage .team .contacts .contact.nbcols-4 {
}
#mainpage .team .contacts .contact.nbcols-4 h5 {
margin-top: 0 !important;
font-weight: 300;
}

#mainpage .team .contacts .contact.nbcols-6 {
}
#mainpage .team .contacts .contact.nbcols-6 h4 {
margin-bottom: 5px !important;
font-size: 14px;
}
#mainpage .team .contacts .contact.nbcols-6 h5 {
margin-top: 0 !important;
font-size: 12px;
font-weight: 300;
}
#mainpage .team .contacts .contact.nbcols-3 .fa,
#mainpage .team .contacts .contact.nbcols-4 .fa,
#mainpage .team .contacts .contact.nbcols-6 .fa {
width: 20px;
}
#mainpage .team .contacts .contact.nbcols-6 .contact-more {
padding: 0 10px;
font-size: 70%;
}

#mainpage .team .contacts .contact.nbcols-3 .contact-more,
#mainpage .team .contacts .contact.nbcols-4 .contact-more,
#mainpage .team .contacts .contact.nbcols-6 .contact-more {
height: 100%;
text-align: center;
border-radius: 50%;
overflow: hide; 
padding: 10px;
}
#mainpage .team .contacts .contact.nbcols-3 .table,
#mainpage .team .contacts .contact.nbcols-4 .table,
#mainpage .team .contacts .contact.nbcols-6 .table {
display: table;
height: 100%;
}
#mainpage .team .contacts .contact.nbcols-3 .table-cell,
#mainpage .team .contacts .contact.nbcols-4 .table-cell,
#mainpage .team .contacts .contact.nbcols-6 .table-cell {
display: table-cell;
vertical-align: middle;
}
#mainpage .team .contacts .contact.nbcols-2:nth-child(2n+1),
#mainpage .team .contacts .contact.nbcols-3:nth-child(3n+1),
#mainpage .team .contacts .contact.nbcols-4:nth-child(4n+1),
#mainpage .team .contacts .contact.nbcols-6:nth-child(6n+1) {
clear: both;
}


/* === Quote === */

.quote {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
color: white;
text-shadow: 0 2px 3px rgba(0,0,0,.6);
z-index: 200;
}
.quote .inner {
width: 100%;
}
.quote blockquote {
font-family: Georgia, serif;
font-size: 24px;
font-style: italic;
max-width: 400px;
margin: 30px 0;
padding: 0 0 0 40px;
line-height: 1.45;
position: relative;
color: #fff;
text-shadow: 0 2px 3px rgba(0,0,0,.6);
float: right;
border-left: 0;
text-align: right;
}
.quote blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #fff;
}
.quote blockquote cite {
color: #fff;
font-size: 14px;
display: block;
margin-top: 5px;
}
.quote blockquote cite:before {
content: "\2014 \2009";
}
.quote blockquote cite .avatar {
height: 32px;
}

/* === Share === */

#mainpage .social-share {
clear: both;
margin: 30px 0;
}
#mainpage .social-share a {
margin: 0 10px 0 0 !important;
}

/* === Pagination === */

#mainpage .paging-navigation a[rel="next"], .post-navigation a[rel="next"] {
float: right;
text-align: right;
}

/* === Gallery === */

.gallery {
margin-right: -5px !important;
margin-left: -5px !important;
}
.gallery dl {
margin-top: 0 !important;
margin-bottom: 0 !important;
}
.gallery dt {
text-align: left;
padding-left: 5px;
padding-right: 5px;
margin-bottom: 10px;
}
.gallery img {
/*border: 0 !important;*/
width: 100%;
height: initial;
}
.gallery .gallery-caption {
font-size: 0.8em;
margin-bottom: 20px;
}

/* === Comments === */

.g-recaptcha {
margin-bottom: 15px;
}

/* === Single === */

.globalsearch_header {
margin: 0 !important;
}
.globalblog_title {
text-decoration: none !important;
margin: 50px 0 30px 0 !important;
}
.globalblog_title:before {
font-family: Fontawesome !important;
/*font-size: 16px !important;*/
content: '\f0a9';
padding-right: 10px;

}
.globalsearch_post {
clear: both;
padding-top: 6px;
padding-bottom: 9px;
margin-bottom: 10px;
border: 1px solid #ddd;
padding: 0 20px;
border-radius: 3px;
margin: 20px 0;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.globalsearch_meta {
display: none !important;
}
p code {
display: none !important;
}
.globalsearch_content {
margin-bottom: 20px !important;
}

/**************************/
/* SIDEBAR-RIGHT-CONTENT */
/**************************/

.sidebar-content aside {
margin: 0 0 30px 0;
}
.sidebar-content .row > div {
/*margin: 0 0 20px 0;*/
}
.sidebar-content .widget_sp_image {
margin-bottom: 30px;
}
.sidebar-content .widget_sp_image img {
/*width: 100%;*/
}
.sidebar-content .clear-screen {
clear: both;
}

.sidebar-content .panel {
border-radius: 0;
border: 0;
color: #333;
background: #fff;
}
.sidebar-content .panel .panel-heading {
background: url('images/lawoluwe-bg5-full.png') 210px -100px no-repeat;
border-bottom: 0;
border-radius: 3px 3px 0 0;
}

/* === Text widget === */

.sidebar-content .textwidget > p {
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
box-shadow: 0 1px 1px rgba(0,0,0,.05);
border: 1px solid #ddd;
padding: 10px 15px;
margin: 0 0 20px;
overflow: auto;
border-radius: 0 0 3px 3px !important;
}

/* === Image === */

.sidebar-content .widget_sp_image img {
border: 1px solid #ddd;
/* border-top: 0; */
-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.05);
box-shadow: 0px 1px 1px rgba(0,0,0,.05);
border-radius: 0 0 3px 3px !important;
}

/* === Upcoming events === */

.sidebar-content .widget-ao-upcoming-events .panel-heading {
background-color: #d24036;
}
.sidebar-content .widget-ao-upcoming-events .panel-title {
color: white;
text-transform: uppercase;
}
.sidebar-content .widget-ao-upcoming-events .ao-upcoming-events {
border: 1px solid #ddd;
border-top: 0;
-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.05);
box-shadow: 0px 1px 1px rgba(0,0,0,.05);
border-radius: 0 0 3px 3px !important;
}
.sidebar-content .widget-ao-upcoming-events ul {
padding: 0;
list-style: none;
}
.sidebar-content .widget-ao-upcoming-events li {
padding: 10px 15px;
clear: both;
overflow: auto;
border-bottom: 1px solid #efefef;
}
.sidebar-content .widget-ao-upcoming-events li:last-child {
/*border-bottom: 0;*/
}
.sidebar-content .widget-ao-upcoming-events li:hover {
background: #fff;
}
.sidebar-content .widget-ao-upcoming-events li a {
color: #333;
}
.sidebar-content .widget-ao-upcoming-events li a:hover {
text-decoration: none;
}
.sidebar-content .widget-ao-upcoming-events .event-date {
display: inline-block;
border: 0px solid #5A5A5A; /*#ddd;*/
border-radius: 5px;
width: 50px;
height: 50px;
position: relative;
float: left;
margin: 0 10px 0 0;
/* box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1); */
font-size: 20px;
font-weight: bold;
font-family: PTRegular,'Noto Sans',sans-serif;
}
.sidebar-content .widget-ao-upcoming-events .event-date .event-day {
top: 2px;
width: 48px;
font-size: 120%;
color: #fff;
}
.sidebar-content .widget-ao-upcoming-events .event-date .event-month {
bottom: 2px;
width: 48px;
font-size: 60%;
border-top: 0px solid #5A5A5A;
color: white;
font-weight: normal;
}
.sidebar-content .widget-ao-upcoming-events .event-title {
line-height: 1.6em;
}
.sidebar-content .widget-ao-upcoming-events .no-event {
padding: 10px;
}
.sidebar-content .widget-ao-upcoming-events .event-intro {
line-height: 1.4em;
font-size: 0.8em;
margin-bottom: 0;
font-style: italic;
}
.sidebar-content .widget-ao-upcoming-events .no-event {
border: 1px solid #ddd;
border-top: 0;
}
.sidebar-content .widget-ao-upcoming-events .buttons {
text-align: center;
    margin: 10px 0;
}
.sidebar-content .widget-ao-upcoming-events .btn-success {
border: 0;
}

/* === Nav Adeps === */

.sidebar-content .widget_nav_menu .panel-heading {
background-color: #ffa600; /*#f3ab2a;*/
}
.sidebar-content .widget_nav_menu .panel-title {
color: white;
text-transform: uppercase;
}
.sidebar-content .widget_nav_menu ul.menu {
padding: 0;
margin: 0;
list-style: none;
border: 1px solid #ddd;
border-top: 0;
border-radius: 0 0 5px 5px;
-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.05);
box-shadow: 0px 1px 1px rgba(0,0,0,.05);
}
.sidebar-content .widget_nav_menu ul.menu > li {
border-bottom: 1px solid #efefef;
}
.sidebar-content .widget_nav_menu ul.menu > li:last-child {
border-bottom: 0;
}
.sidebar-content .widget_nav_menu ul.menu > li:hover {
background: #fff;
}
.sidebar-content .widget_nav_menu ul.menu > li > a {
color: #333;
display: block;
padding: 15px;
background: transparent;
cursor: pointer;
}
.sidebar-content .widget_nav_menu ul.menu > li > a:hover {
text-decoration: none;
}
.sidebar-content .widget_nav_menu ul.menu > li > a:before {
font-family: Fontawesome !important;
font-size: 16px !important;
content: '\f055';
padding-right: 10px;
}
.sidebar-content .widget_nav_menu ul.menu > li.open > a:before {
content: '\f056';
}
.sidebar-content .widget_nav_menu ul.menu > li > ul {
display: none;
list-style: none;
margin: 0 0 20px;
}
.sidebar-content .widget_nav_menu ul.menu > li > ul li {
}
.sidebar-content .widget_nav_menu ul.menu > li > ul li a {
line-height: 1.6em;
color: #333;
}
.sidebar-content .widget_nav_menu ul.menu > li > ul li a:hover {
text-decoration: none;
}
.sidebar-content .widget_nav_menu ul.menu > li > ul li a:before {
font-family: Fontawesome !important;
font-size: 16px !important;
content: '\f061';
padding-right: 10px;
}

/* === Polls === */

.sidebar-content .widget_polls-widget .panel-title {
color: white;
}
.sidebar-content .widget_polls-widget .wp-polls-ans {
padding: 10px 15px;
border: 1px solid #ddd;
border-top: 0;
border-radius: 0 0 5px 5px;
-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.05);
box-shadow: 0px 1px 1px rgba(0,0,0,.05);
}
.sidebar-content .widget_polls-widget .wp-polls-ans .wp-polls-ul {
margin: 0 0 20px;
}
.sidebar-content .widget_polls-widget .wp-polls-ans li {
margin: 5px 0;
}
.sidebar-content .widget_polls-widget .wp-polls-ans label {
font-weight: normal;
padding-left: 10px;
}
.sidebar-content .widget_polls-widget .wp-polls-ans .buttons {
text-align: center;
border: 0;
background-color: transparent;
}
.sidebar-content .widget_polls-widget .wp-polls-ans .btn-success {
border: 0;
}
.sidebar-content .widget_polls-widget .wp-polls .pollbar {
margin: 1px;
font-size: 8px;
line-height: 10px;
height: 10px;
border: 0;
border-radius: 3px;
}

/* === Facebook === */

.sidebar-content .widget-ao-facebook .panel {
border: 0px solid #efefef;
-webkit-box-shadow: none !important;
box-shadow: none !important;
}
.sidebar-content .widget-ao-facebook .panel-heading {
background-color: #3b5998;
}
.sidebar-content .widget-ao-facebook .panel-title {
color: white;
text-transform: uppercase;
}
#fb-root {
display: none;
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
width: 100% !important;
}
.sidebar-content .widget-ao-facebook iframe {
border: 1px solid #ddd !important;
border-top: 0 !important;
-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.05);
box-shadow: 0px 1px 1px rgba(0,0,0,.05);
}


/* === Logos === */

.sidebar-content .lshowcase-logos {
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
box-shadow: 0 1px 1px rgba(0,0,0,.05);
border: 1px solid #ddd;
padding: 20px 5px;
overflow: auto;
border-radius: 0 0 3px 3px !important;
width: 100%;
max-width: none !important;
}
.lshowcase-wrap-responsive {
width: 80% !important;
margin: 0 auto;
}


.sidebar-content .panel-heading {
/*border-radius: 0 !important;*/
color: white !important;
text-transform: uppercase !important;
}
.sidebar-content .panel .partners, 
.sidebar-content .panel > ul, 
.sidebar-content .panel ul.menu, 
.sidebar-content .panel .wp-polls-ans, 
.sidebar-content .panel p.no-event,
.sidebar-content .panel #mc_embed_signup {
border-radius: 0 0 3px 3px !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;    
border: 1px solid #ddd !important;
border-top: none !important;
overflow: auto;
}
.sidebar-content .other-sites {
border: 1px solid #ddd;   
padding: 10px 0 0;
margin: 0 0 20px;
    overflow: auto;
}
.sidebar-content .panel .partners {
padding: 10px 0 !important;   
}

/***********************/
/* SIDEBAR-BOTTOM-PAGE */
/***********************/

/* === Post thumbnails === */

.widget-ao-posts-thumbnails {
border-top: 0px solid #efefef;
border-bottom: 0px solid #efefef;
background: transparent;
padding: 0 0 20px;
}
.widget-ao-posts-thumbnails .row {
margin-left: -5px;
margin-right: -5px;
}
.widget-ao-posts-thumbnails .row > div {
padding-left: 5px;
padding-right: 5px;
margin-bottom: 0;
}
.widget-ao-posts-thumbnails .row .row > div {
margin-bottom: 10px;
}
.widget-ao-posts-thumbnails .post-thumbnail {
position: relative;
background: #333;
}
.widget-ao-posts-thumbnails .post-thumbnail img {
opacity: 0.8;
}
.widget-ao-posts-thumbnails .post-thumbnail:hover img {
opacity: 1;
}
.widget-ao-posts-thumbnails #post-thumbnail-see-more a .fa {
width: 100%;
font-size: 65px;
text-align: center;
padding: 10px;
opacity: 0.8;
}
.widget-ao-posts-thumbnails #post-thumbnail-see-more:hover a .fa {
opacity: 1;
}
/*
.widget-ao-posts-thumbnails .post-thumbnail .caption {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
text-align: center;
background: rgba(51,51,51,0.9) url('images/lawoluwe-bg5-full.png') center center / 80% no-repeat;
display: none;
}
.widget-ao-posts-thumbnails .post-thumbnail .caption:hover {
text-decoration: none;
}
.widget-ao-posts-thumbnails .post-thumbnail .title {
position: absolute;
margin: -15px 10px 0;
top: 50%;
left: 0;
right: 0;
padding: 0px;
text-shadow: 0 2px 3px rgba(0,0,0,.6);
font-size: 1em;
}
*/
.widget-ao-posts-thumbnails .post-thumbnail .caption {
display: block!important;
font-size: 100%;
background: #333 url('images/lawoluwe-bg5-full.png') right center / 80% no-repeat;
height: 50px;
padding: 5px;
text-align: center;
/* border-radius: 0 0 5px 5px; */
font-weight: 300;
}
.widget-ao-posts-thumbnails .post-thumbnail .caption:hover {
text-decoration: none;
}
.widget-ao-posts-thumbnails .post-thumbnail .title {
/* position: absolute; */
margin: 0 !important;
/* top: 50%; */
/* left: 0; */
right: 0;
padding: 0px;
}
.widget-ao-posts-thumbnails img {
width: 100%;
}

/* === Infrastructure === */

.widget-ao-infrastructure {
border-top: 0px solid #efefef;
border-bottom: 0px solid #efefef;
background: transparent;
padding: 0 0 20px;
}
.widget-ao-infrastructure .row {
margin-left: -5px;
margin-right: -5px;
}
.widget-ao-infrastructure .row > div {
padding-left: 5px;
padding-right: 5px;
margin-bottom: 10px;
}
.widget-ao-infrastructure .infrastructure-main {
position: relative;
display: none;
}
.widget-ao-infrastructure .infrastructure-main.show {
display: block;
}
.widget-ao-infrastructure .infrastructure-main img {
width: 100%;
max-height: 300px;
}
.widget-ao-infrastructure .infrastructure-main .filter {
background: url(images/filter.png) bottom left repeat-x !important;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
}
.widget-ao-infrastructure .infrastructure-main .caption {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
color: white;
}
.widget-ao-infrastructure .infrastructure-main .caption .inner {
margin: 0;
padding: 10px 20px;
}
.widget-ao-infrastructure .infrastructure-main .caption .title {
font-size: 1.2em;
font-weight: bold;
margin: 10px 0;
text-shadow: 0 2px 3px rgba(0,0,0,.6);
}
.widget-ao-infrastructure .infrastructure-main .caption p {
text-shadow: 0 2px 3px rgba(0,0,0,.6);
}
.widget-ao-infrastructure .infrastructure-thumbnail {
width: 100%;
}

/****************************/
/* SIDEBAR-BOTTOM-ALL-PAGES */
/****************************/

#bottom-all-pages {
}

/**********/
/* FOOTER */
/**********/

#footer {
background: #333;
color: #eee;
padding: 20px 0 40px 0;
font-weight: 300;
line-height: 1.8em;
}
#footer .fa {
width: 25px;
}
#map {
height: 400px;
}
#map .overlay{
display:block;
text-align:center;
height:50px;
width:45px;
background: transparent no-repeat bottom center;
background-size: 45px 50px;
margin-top: -15px;
margin-left: 0px;
}
#map .overlay_arrow{
left:50%;
margin-left:-16px;
width:0;
height:0;
position:absolute;
}
#map .overlay_arrow.above{
bottom:-13px;
border-left:16px solid transparent;
border-right:16px solid transparent;
border-top:16px solid #000;
}
#map .overlay_arrow.below{
top:-15px;
border-left:16px solid transparent;
border-right:16px solid transparent;
border-bottom:16px solid #000;
}
#footer-menu > div {
text-align: center;
}
#footer-menu ul.menu {
list-style: none;
overflow: auto;
margin: 40px 0;
padding: 0;
color: #ccc;
display: inline-block;
font-weight: 300;
width: 100%;
}
#footer-menu ul.menu > li {
/*float: left;*/
margin: 0 20px 0 0;
padding: 0;
text-align: left;
line-height: 2em;
width: 100%;
}
#footer-menu ul.menu > li > a {
font-weight: bold;
color: #999;
font-size: 1.5em;
margin: 30px 0 10px 0;
display: block;
}
#footer-menu ul.menu > li > ul.sub-menu {
margin: 0 0 10px;
padding: 0;
list-style: none;
-moz-column-count: 5;
-webkit-column-count: 5;
column-count: 5;
width: 100%;
}
#footer-menu ul.menu > li > ul.sub-menu > li {
margin: 0;
padding: 0;
}
#footer-menu ul.menu > li > ul.sub-menu > li > a {
color: #666;
}
#footer-menu ul.menu > li > ul.sub-menu > li > ul.sub-menu {
margin: 0;
padding: 0 0 0 15px;
color: #666;
}
#footer-menu ul.menu > li > ul.sub-menu > li > ul.sub-menu > li {
margin: 0;
padding: 0;
}
#footer-menu ul.menu > li > ul.sub-menu > li > ul.sub-menu > li > a {
color: #666;
}
#footer-menu ul.menu > li:first-child {
display: none;
}
#footer-menu ul.menu > li:nth-child(2) > ul.sub-menu {
margin: 0 0 30px;
}

#copyright {
color: #999;
font-size: 0.8em;
padding: 20px 0;
text-align: center;
font-weight: 300;
}
#copyright p {
display: inline-block;
}
#copyright .legal-menu {
display: inline-block;
line-height: 1em;
}
#copyright .legal-menu ul {
list-style: none;
padding: 0;
}
#copyright .legal-menu ul li {
display: inline-block;
list-style: none;
border-left: 1px solid #666;
padding-left: 5px;
margin-left: 5px;
}
#copyright .legal-menu ul li a {
color: #999;
}
#copyright .designed-by {
margin: 10px 0 0;
}
#copyright .designed-by img {
width: 60px;
opacity: 0.2;
}

/* === MailChimp === */

#footer #mc_embed_signup {
background: transparent !important;
}
#footer #mc_embed_signup form {
padding: 0 !important;
}
#footer #mc_embed_signup .mc-field-group {
min-height: 40px !important;
}
#footer #mc_embed_signup .mc-field-group input {
border: 0 !important;
}
#footer input {
color: #333;
}




.navbar-form .form-control {
display: none;
}
.effect {
opacity: 0;
}
.come-in {
opacity: 1;
-webkit-transition: opacity 1s ease-out;
transition: opacity 1s ease-out;
}
.already-visible {
opacity: 1;
}

@keyframes come-in {
  to { transform: translateY(0); }
}





@media (max-width: 1199px) {
	table {
	overflow-x: auto;
	display: block;
	}
	.table-responsive table {
	overflow-x: initial;
	display: table;
	}
    .navbar-fixed-top .nav>li>a {
    padding-right: 10px;
    padding-left: 10px;
    }
    .navbar-fixed-top .nav>li:nth-child(1) {
    display: none;
    }
}
@media (max-width: 992px) {
    .navbar-header {
        float: none;
        height: 50px;
    }
    .navbar-brand .logo {
        height: 75px !important;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        max-height: none;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-fixed-top .navbar-inner {
        height: 100%;
        background-color: #f8f8f8;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 25px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-fixed-top .nav>li:nth-child(1) {
    display: block;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    #slider, .header-image, #sidebar-header {
        margin-top: 50px;
    }
    #footer-menu ul.menu > li > ul.sub-menu {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
    #navbar nav {
        display: block;
        margin-right: 0;
    }
    .navbar-fixed-top.open-mobile {
    height: 100%;
    overflow: auto;
    }
    #navbar .nav > li > a {
    line-height: 30px !important;
    }
    .navbar-nav>li {
    float: none;
    border-bottom: 1px solid #ddd;
    padding: 0;
    background-color: #f8f8f8;
    }
    .navbar-nav>li li {
    background-color: #ffffff;
    }
    #navbar .search-form {
    position: relative;
    }
    #navbar .nav > li > span {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    padding: 0 20px 0 0;
    line-height: 50px;
    /*background: #eee;*/
    width: 100px;
    color: #aaa;
    border-radius: 0;
    text-align: right;
    font-size: 20px;
    cursor: pointer;
    }
    .navbar-fixed-top.open-mobile #navbar .nav > li > span .fa:before {
    content: '\f055';
    }
    .navbar-fixed-top.open-mobile #navbar .nav > li > span.open .fa:before {
    content: '\f056';
    }
    #navbar .nav .dropdown-menu>li>a {
    padding: 3px 20px;
    line-height: 30px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    #navbar .nav .dropdown-menu>li>a:before {
    font-family: Fontawesome !important;
    content: '\f0da';
    padding-right: 20px;
    }
    #navbar .nav .dropdown-menu {
    border: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    position: relative;
    float: none;
    padding: 0;
    -moz-column-count: 1 !important;
    -webkit-column-count: 1 !important;
    column-count: 1 !important;
    width: 100% !important;
    border-radius: 0;
    }
    #navbar .nav .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 0;
    background: transparent;
    }
    #navbar .nav .dropdown-submenu > .dropdown-menu > li > a {
    padding-left: 50px;
    }
    #navbar .nav .dropdown-submenu > span {
    width: 100px;
    /*background: #eee;*/
    border-radius: 0;
    text-align: right;
    color: #aaa;
    line-height: 51px;
    top: 1px;
    position: absolute;
    right: 0;
    font-size: 20px;
    cursor: pointer;
    padding: 0 20px 0 0;
    }
    .navbar-fixed-top.open-mobile #navbar .nav .dropdown-submenu > span .fa:before {
    content: '\f055';
    }
    .navbar-fixed-top.open-mobile #navbar .nav .dropdown-submenu > span.open .fa:before {
    content: '\f056';
    }
    .navbar-fixed-top.open-mobile #navbar .nav .fa {
    line-height: 50px;
    }
    .navbar-fixed-top .nav li:hover {
    background: #ddd !important;
    }
    .navbar-default .navbar-nav >.active,
    .dropdown-menu>.active>a, 
    .dropdown-menu>.active>a:hover, 
    .dropdown-menu>.active>a:focus,
    #navbar .dropdown-menu > li:hover > a, 
    #navbar .dropdown-submenu > li:hover > a {
    background: transparent !important;
    color: #333 !important;
    }
    #navbar .search-form,
    #navbar .search-form .form-group {
    width: 100%;
    margin: 0;
    border: 0 !important;
    }
    #navbar .search-form input.form-control {
    width: 100%;
    display: block;
    line-height: 40px;
    height: 50px;
    padding: 10px 100px 10px 15px;
    }
    #navbar .search-form .btn {
    display: block !important;
    position: absolute;
    top: 15px;
    right: 20px;
    }
    #navbar .search-form .btn .fa {
    font-size: 20px;
    }
    #navbar .search-form .show-search {
    display: none !important;
    }
    #sidebar-header {
    display: none;
    }
    .header-image .image {
    height: 250px;
    }
    .effect {
    opacity: 1;
    }
    .header-image {
    margin-bottom: 10px;
    }
    .header-image.default,
    .header-image.default .image {
    height: 40px;
    }
    #slider,
    #slider .cycloneslider-slides {
    height: 200px !important;
    }
    .cycloneslider-template-standard.cycloneslider-width-full .cycloneslider-slide img {
    width: inherit !important;
    height: 100% !important;
    }
    .cycloneslider-template-standard .cycloneslider-slide img {
    max-width: none !important;
    max-height: 100% !important;
    }
    #slider .cycloneslider-caption .cycloneslider-caption-title {
    font-size: 1.5em !important;
    padding-bottom: 10px !important;
    }
    #slider .cycloneslider-caption .cycloneslider-caption-description {
    font-size: 1em !important;
    line-height: 1.2em !important;
    padding-bottom: 10px !important;
    }
    #accordion {
    margin-bottom: 40px;
    }
    #accordion a.accordion-toggle:hover {
    text-decoration: none;
    }
    #accordion a.accordion-toggle h2 {
    border-bottom: 1px solid #ddd;
    color: #333;
    margin: 20px 0;
    background: #f9f9f9;
    padding: 5px;
    font-size: 1.2em !important;
    }
    #accordion a.accordion-toggle h2:after {
    font-family: Fontawesome !important;
    content: '\f056';
    float: right;
    color: #ccc;
    }
    #accordion a.accordion-toggle.collapsed h2:after {
    font-family: Fontawesome !important;
    content: '\f055';
    float: right;
    color: #ccc;
    }
    h1.entry-title {
    font-size: 1.4em !important;
    }
    .header-image h1.entry-title {
    font-size: 1.6em !important;
    }
    .event-date {
    width: 34px;
    height: 34px;
    font-size: 12px;
    margin-bottom: 10px;
    }
    .event-date .event-day {
    top: 4px;
    width: 34px;
    }
    .event-date .event-month {
    bottom: 2px;
    width: 34px;
    }
    .entry-meta {
    clear: both;
    margin: 0 0 10px;
    }  
    .event-pills {
    position: relative;
    margin-bottom: 20px;
    }

}
@media (max-width: 767px) {
    .homepage {
        padding: 20px 0 0;
    }
    .homepage #content > .row {
    overflow: auto;
    margin-bottom: 10px;
    }
	#mainpage.homepage .news {
	height: initial !important;
    margin-bottom: 20px;
	}
    .homepage .news .intro-image {
    background-size: 100% !important;
    opacity: 1;
    height: 100px;
    }
    .homepage .news {
    background: #f9f9f9;
    border: 1px solid #ccc;
    margin-bottom: 0;
    padding-bottom: 0;
    }
    .homepage .news h1 {
    background: transparent;
    /*padding: 10px 0;*/
    font-size: 1.4em;
    }
    .homepage .news .entry-content {
    color: #333;
    /*padding: 0;*/
    }

    .homepage .news .intro-image.default {
    /*background: url('http://foretdesoignessport.be/dev/wp-content/uploads/2014/11/DSCN0752.jpg') center top no-repeat;*/
    }
    .homepage .news .intro-image {
    width: 100%;
    height: 150px; /* 250px; */
    background-size: cover !important;
    overflow: hidden;
    opacity: 1;
    }
    .sidebar-content aside {
    margin: 0 0 20px 0 !important;
    }
    #footer-menu ul.menu > li > ul.sub-menu {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
    #mainpage .team .contacts .contact .contact-image{
    padding: 10px;
    }
    #mainpage .team .contacts .contact {
    height: initial !important;
    }
    #mainpage .team .contacts .contact.nbcols-6 h5,
    #mainpage .team .contacts .contact.nbcols-6 h4 {
    font-size: inherit !important;
    }
    #mainpage .team .contacts .contact.nbcols-2:nth-child(2n+1),
    #mainpage .team .contacts .contact.nbcols-3:nth-child(3n+1),
    #mainpage .team .contacts .contact.nbcols-4:nth-child(4n+1),
    #mainpage .team .contacts .contact.nbcols-6:nth-child(6n+1) {
    clear: none;
    }
    #mainpage .team .contacts .contact:nth-child(2n+1) {
    clear: both !important;
    }
    .prices .col-xs-12, .contacts .col-xs-12 {
    margin-bottom: 10px;
    margin-top: 10px;
    }


}



/* End of file style.css */
/* Location: ./wp-content/themes/aofds/style.css */
