/** style.css
 * 
 * Theme Name:	AO Auberge des 3 fontaines
 * Theme URI:	http://www.foretdesoignessport.be/
 * Description:	A WordPress Theme for Auberge des 3 fontaines.
 * Author:		Alley Oop
 * Author URI:	http://www.alleyoop.be/
 * Version:		1.0.0
 * Text Domain:	aoa3f
 *
 * Copyright (C) 2014 Alley Oop <info@alleyoop.be>
 *
 */

/*
@font-face
{
    font-family: 'Open Sans Light';
    src: url(css/fonts/OpenSans-Light.ttf);
}
@font-face
{
    font-family: 'Open Sans Light Italic';
    src: url(css/fonts/OpenSans-LightItalic.ttf);
}
@font-face
{
    font-family: 'Open Sans';
    src: url(css/fonts/OpenSans-Regular.ttf);
}
@font-face
{
    font-family: 'Open Sans Italic';
    src: url(css/fonts/OpenSans-Italic.ttf);
}
@font-face
{
    font-family: 'Open Sans Semibold';
    src: url(css/fonts/OpenSans-Semibold.ttf);
}
@font-face
{
    font-family: 'Open Sans Semibold Italic';
    src: url(css/fonts/OpenSans-SemiboldItalic.ttf);
}
@font-face
{
    font-family: 'Open Sans Bold';
    src: url(css/fonts/OpenSans-Bold.ttf);
}
@font-face
{
    font-family: 'Open Sans Bold Italic';
    src: url(css/fonts/OpenSans-BoldItalic.ttf);
}
@font-face
{
    font-family: 'Open Sans ExtraBold';
    src: url(css/fonts/OpenSans-ExtraBold.ttf);
}
@font-face
{
    font-family: 'Open Sans ExtraBold Italic';
    src: url(css/fonts/OpenSans-ExtraBoldItalic.ttf);
}
*/


/***************************************************************************************
 	BASE
 ***************************************************************************************/


html {
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

h1 {
    /*
    font-size: 2.5em;
    line-height: 1.2em;
    margin: 30px 0 25px;
    */
    font-size: 2em;
    line-height: 1em;
    margin: 30px 0;
    font-family: 'Open sans';
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
}

h1.mainsection {
    color: #1eb5c8;
    font-weight: bold;
}

h2 {
    /*
    font-size: 1.6em;
    line-height: 1.4em;
    margin: 25px 0 15px;
    */
    font-size: 1.4em;
    line-height: 1.4em;
    margin: 20px 0 20px;
    color: #f2963e;
}

h3 {
    /*
    font-size: 1.4em;
    line-height: 1.2em;
    margin: 15px 0;
    */
    font-size: 1.2em;
    line-height: 1em;
    margin: 20px 0 20px;
}

aside h3 {
    font-size: 1.1em; 
    line-height: 1.2em;
    margin: 30px 0 15px;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Open sans';
    font-weight: 900;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child { 
    margin-top: 0px; 
}
p {
    margin: 0 0 20px;
}

a {
    color: #1EB5C8;
}

.clearfix {
    clear: both;
}

.nowrap {
    white-space: nowrap;
}

*:focus {
    outline: none !important;
}

.gallery .col-lg-6:nth-child(2n+3), .gallery .col-md-6:nth-child(2n+3) {
    clear: both;
}

.gallery .col-lg-4:nth-child(3n+4), .gallery .col-md-4:nth-child(3n+4) {
    clear: both;
}

.gallery .col-lg-3:nth-child(4n+5), .gallery .col-md-3:nth-child(4n+5) {
    clear: both;
}

.gallery .col-lg-2:nth-child(6n+7), .gallery .col-md-2:nth-child(6n+7) {
    clear: both;
}

.gallery .col-lg-1:nth-child(12n+13), .gallery .col-md-1:nth-child(12n+13) {
    clear: both;
}

.alignright {
    float: right;
}


/***************************************************************************************
 	STRUCTURE
 ***************************************************************************************/

#site-header {
    margin: 0 auto;
    height: 120px;
    background: white;
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
    z-index: 2000;
    position: relative;
}

#site-header > .inner > .container {
    background: white;
}

#site-header .row {
    position: relative;
    margin: 0;
}

body.fixed #site-header {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    margin-top: -60px;
    z-index: 2000;
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
}

#site {
    margin: 0;
}

body.fixed #sidebar-header {
    margin-top: 120px;
}

#site-center {
    /*background-color: rgba(30, 181, 200, 0.8);*/
    /*color: #fff;*/
}

#site-left-column {
    padding: 0;
    width: 210px;
    float: left;
}

#site-main-column {
    background-color: #fff !important;
    color: #333;
    padding: 0 0 60px;
}

#site-main {    
    overflow: hidden;
    line-height: 1.4em;
}

#site-content {
    margin-top: 60px;
    /* min-height: 500px; */ 
}

#site-right-content {
    margin-top: 30px;
}

#site-content .row > div:after,
#site-right-content .row > div:after {
    display: block;
    position: absolute;
    height: 100%;
    content: "";
    background-color: #fff;
}


/***************************************************************************************
 	SIDEBAR TOP
 ***************************************************************************************/

#site-header-top {
    /*
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    */
    height: 50px;
    /* background: #eee; */
    font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 16px !important;
    color: #1eb5c8 !important;
    line-height: 50px;
    font-weight: 100;
}

#site-header-top .container {
    background: transparent;
    text-align: right;   
}

#site-header-top aside {
    display: inline-block;
}

#site-header-top .contact div {
    display: inline-block;
    vertical-align: middle;
}

#site-header-top .contact span {
    display: inline-block;
    vertical-align: middle;
}

#site-header-top .contact .flaticon {
    margin: 0 15px 0 20px;
}

#site-header-top .contact .flaticon:before {
    font-size: 26px !important;
}


#booking-form {
    position: relative;
    z-index: 1000;
    background: #D9F4F7; 
    background: #eee;
    padding: 15px 0;
}

body.home #booking-form {
    padding: 30px 0;
}

.no-header-image #booking-form {
    padding-top: 50px;
}

#booking-form form {
    margin-bottom: 0;
}

#booking-form .input-group {
    width: 100%;
}

#booking-form input {
    border: 0;
    line-height: 50px;
    height: 50px;
    box-shadow: none;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    font-size: 20px;
}

#booking-form .input-group-addon {
    background-color: #fff;
    border: 0;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    font-size: 20px;
    color: #aaa;
}

#booking-form .input-group-addon .flaticon:before {
    font-weight: normal;
    color: #aaa;
}

#booking-form select {
    width: 100%;
    border: 0;
    line-height: 50px;
    height: 50px;
    box-shadow: none;
}

#booking-form label {
    margin-bottom: 0;
}

#booking-form .switch-light > span {
    background: #fff;
    border: 0;
    margin-bottom: 0;
}

#booking-form .switch-light span span {
    border: 0;
    height: 50px;
    box-shadow: none;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    font-size: 20px;
    /* background: #fff; */
    text-transform: uppercase;
    line-height: 50px;
    cursor: pointer;
}

#booking-form .switch-light span span:nth-child(1) {
    color: #fff;
}

#booking-form .switch-light span span:nth-child(2) {
    color: #aaa;
}

#booking-form .switch-light input:checked ~ span span:nth-child(1) {
    color: #aaa;
}

#booking-form .switch-light input:checked ~ span span:nth-child(2) {
    color: #fff;
}

#booking-form .switch-light input:focus ~ span a, 
#booking-form .switch-light input:focus + label {
    outline-width: 0;
}

#booking-form .btn {
    border: 0;
    height: 50px;
    box-shadow: none;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    background: #1EB5C8;
    text-transform: uppercase;
    margin: 0;
}

#booking-form a.btn {
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
}

#booking-form button.btn {
    width: 100%;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;    
}

#booking-form button.btn:hover {
    background: #333;
}

#ui-datepicker-div {
    z-index: 1000 !important;
    width: 40em !important;
    padding: 10px;
    border-color: #ccc;
}
.ui-datepicker .ui-datepicker-header {
    background: transparent;
    border: 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #eee;
    padding: 10px;
    border-color: #eee;
    padding: 7px 0.5em;
}
.ui-state-default:hover, .ui-widget-content .ui-state-default:hover, .ui-widget-header .ui-state-default:hover,
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #1EB5C8;
    border-color: #1EB5C8;
    color: #fff;
}
.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover {
    background: transparent;
    border-color: #fff;
}
.ui-datepicker .ui-datepicker-next {
    top: 1px !important;
    right: 1px !important;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev {
    top: 1px !important;
    left: 1px !important;
    cursor: pointer;
}

/***************************************************************************************
 	NAVBAR + LOGO
 ***************************************************************************************/

.navbar {
    border: 0px solid transparent;
    min-height: inherit;
    margin-bottom: 0 !important;
}
.navbar-brand {
    float: none;
    padding: 0;
    font-size: 1em;
    line-height: 1em;
    height: inherit;
    position: absolute;
    top: -20px;
    z-index: 2000;
}
.navbar-brand img.logo {
    height: 135px;
}
.navbar-brand .title {
    display: none;
}

#navbar {
    padding: 0;
    text-align: right;
}
#navbar .subnav {
    margin-left: 225px;
    margin-left: 0;
    /*width: 100%;*/
}

#navbar ul {
}
    
#navbar ul li {
}
    
#navbar ul li a {
    color: #f68a48;
    font-size: 16px;
    line-height: 50px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    padding: 0 20px;
    /*transition: all 0.3s ease;*/
}

#navbar .subnav > ul > li {
    /* border-top: 10px solid white; */
    /* border-bottom: 10px solid white; */
    margin: 10px 5px 0; /* 60px; */
    display: inline-block;
}

#navbar .subnav > ul > li > a {
    /* border-top: 10px solid white; */
    /* border-bottom: 10px solid white; */
    display: inline-block;
}

#navbar .subnav > ul > li:last-child > a {
    /*
    color: #fff;
    background: #f68a48 !important;
    /*
    padding-top: 60px;
    margin-top: 0;
    */
}

#navbar .subnav > ul > li.active {
    background: #1EB5C8 !important;
}

#navbar .subnav > ul > li.active a {
    color: #fff;
    background: transparent;
}

#navbar .subnav > ul > li.active .fa {
    color: #fff;
}

#navbar .subnav > ul > li:hover {
    background: #1EB5C8 !important;
}

#navbar .subnav > ul > li:hover a {
    color: #fff;
    background: transparent;
}

#navbar .subnav > ul > li.active:hover {
    background: #1EB5C8 !important;
}

#navbar .subnav > ul > li.active:hover a {
    color: #fff;
    background: transparent;
}

#navbar .subnav > ul > li:last-child:hover {
    /*
    color: #fff;
    background: #1EB5C8 !important;
    */
}

#navbar nav {
    display: inline-block;
    vertical-align:top;
    text-align: left;
}

#navbar .nav > li > a {
}

#navbar .nav > li.menu-item-has-children > a {
    padding-right: 30px;
}

#navbar .nav > li > span {
    position: absolute;
    right: 15px;
    top: 0;
    display: inline-block;
    padding: 0;
    line-height: 50px;
    color: #f68a48;
}

#navbar .subnav > ul > li:hover > span {
    color: #fff;
}

#navbar .nav > li > span i:before {
    line-height: 50px;
}

.navigation-default .navigation-nav >.active {
    /*background-color: #e7e7e7;*/
}

.navigation-default .navigation-nav>.active>a, .navigation-default .navigation-nav>.active>a:hover, .navigation-default .navigation-nav>.active>a:focus {
    background-color: transparent;
}

#navbar .nav li.dropdown:hover {
    /*background: #e7e7e7;*/
}

#navbar .nav li.dropdown:hover > ul.dropdown-menu { 
    /*display: block;*/
}

#navbar .nav .dropdown-menu {
    border: 0px solid #ddd !important;
    /*border-top: 0 !important;*/
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.05) !important;
    -moz-box-shadow: 0px 2px 2px rgba(0,0,0,.05) !important;
    box-shadow: 0px 2px 2px rgba(0,0,0,.05) !important;
    background-color: rgba(240,132,69,1); /*rgba(246,138,72,0.95);*/
    padding: 0;
    border-radius: 0; /*0 5px 5px 5px;*/
    padding-top: 10px;
    background: transparent;
    margin: 0;
    min-width: 100%;
}

#navbar .nav li:hover .dropdown-menu {
    top: 100%;
}

#navbar .nav .dropdown-menu li {
    background: #1EB5C8;
    background: #333;
    padding: 10px 0;
}

#navbar .nav .dropdown-menu a {
    font-size: 1em;
    line-height: 30px;
    text-transform: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    color: #fff;
}

#navbar .nav .dropdown-submenu {
    position: relative;
}

/*
#navbar .nav .dropdown-submenu > a:after {
font-family: Fontawesome !important;
content: '\f0da';
float: right;
}
*/

#navbar .nav .dropdown-submenu > span {
    position: absolute;
    right: 10px;
    top: 12px;
    color: white;
}

#navbar .nav .dropdown-submenu > .dropdown-menu {
    top: -2px;
    left: 100%;
    /*background: #eee;*/
    border-radius: 0; /*0 5px 5px 5px;*/
    background: rgba(235,133,70,1)
}

#navbar .nav .dropdown-submenu:hover > .dropdown-menu {
    /*display: block;*/
}

#navbar .nav li.menu-item-type-infrastructure > ul.dropdown-menu {
    -moz-column-count: 2; /* Firefox */
    -webkit-column-count: 2; /* Safari and Chrome */
    column-count: 2;
    width: 400px;
}

#navbar .menu-item.hidden-large {
    display: none;
}

#navbar ul.lang {
    margin: 10px 0 0 5px;
    padding: 0;
    background: #f68a48;
    display: inline-block;
}

#navbar ul.lang li {
    display: inline-block;
    list-style: none;
    padding: 0;
}

#navbar ul.lang li a {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding: 0 10px;
}


/***************************************************************************************
 	SIDEBAR LEFT (SPORTS)
 ***************************************************************************************/

/*
#site-left-column ul.sports {
    margin: 15px 0;
    padding: 0;
    list-style: none;
}

#site-left-column ul.sports li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#site-left-column ul.sports li a {
    color: white;
    padding: 0 0 0 20px; 
    line-height: 3em;
    font-size: 0.8em;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
    display: block;
}

#site-left-column ul.sports li.all a {
    font-weight: 800;
}

#site-left-column ul.sports a .flaticon {
    width: 25px;
    display: inline-block;
    font-weight: normal;
}

#site-left-column ul.sports a .flaticon:before {
    margin-left: 0;
}

#site-left-column ul.sports a:hover,
#site-left-column ul.sports li.active a {
    background: rgba(0, 0, 0, 0.2);
    text-decoration: none;
}
*/

/***************************************************************************************
 	SIDEBAR HEADER
 ***************************************************************************************/

#site-main-header {
    padding: 0 15px 15px;
    position: relative;
}

#site-main-header div.header-image {
    width: 100%;
    height: 300px;
    background-size: cover !important;
    background-position: center;
}

#sidebar-header {
}

#sidebar-header .widget_sp_image img {
    width: 100%;
    height: inherit;
}

#sidebar-header .widget_sp_image-description {
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 2.5em;
    padding: 0 15px;
    text-shadow: 1px 1px 3px rgba(0,0,0,1);
}

.cycloneslider-template-standard {
    margin-bottom: 0 !important;
}

.cycloneslider-template-standard .cycloneslider-pager {
    bottom: 22px !important;
}

.cycloneslider-template-standard .cycloneslider-pager span {
    background: #ccc !important;
}

.cycloneslider-template-standard .cycloneslider-pager span.cycle-pager-active {
    background-color: #fff !important;
}

.cycloneslider-template-standard .cycloneslider-caption {
    width: 800px !important;
    left: 50% !important;
    /*
    margin-left: -665px !important;
    bottom: 60px !important;
    */
    opacity: 1 !important;
    background: rgba(0,0,0,0.5) !important;
    padding: 10px 0;
    margin-left: -140px !important;
    bottom: inherit !important;
    top: 100px !important;
}

.cycloneslider-template-standard .cycloneslider-caption-title {
    font-family: 'Open sans' !important;
    font-weight: 900 !important;
    font-style: italic !important;
    font-size: 36px !important;
    margin-bottom: 10px !important;
}

.cycloneslider-template-standard .cycloneslider-caption-description {
    font-size: 18px !important;
}

/*
.cycloneslider-template-standard .cycloneslider-slide:nth-child(3) .cycloneslider-caption {
    margin-left: -665px !important;
}

.cycloneslider-template-standard .cycloneslider-slide:nth-child(4) .cycloneslider-caption {
    margin-left: -400px !important;
    top: 200px !important;
}
*/


#site-main-header {
    position: relative;
    padding: 0;
}

/*
.widget_revslider > div {
    height: 70% !important;
    min-height: 500px !important;
}

.widget_revslider .rev_slider_wrapper {
    height: 100% !important;
}

.widget_revslider .rev_slider {
    height: 100% !important;
    max-height: none !important;
}

.widget_revslider .rev_slider .caption-box {
    width: 800px !important;
    left: 50% !important;
    margin-left: -665px !important;
    bottom: 60px !important;
    opacity: 1 !important;
    background: rgba(0,0,0,0.5) !important;
    padding: 10px 0;
    position: absolute;
    z-index: 500;
    color: #fff;
    text-align: left;
}

.widget_revslider .rev_slider .caption-title {
    font-family: 'Open sans' !important;
    font-weight: 900 !important;
    font-style: italic !important;
    font-size: 36px !important;
    margin-bottom: 10px !important;
}

.widget_revslider .rev_slider .caption-description {
    padding: 0 20px 15px 20px;
    font-size: 18px;
    line-height: 1.5;
}
*/


/***************************************************************************************
 	SIDEBAR RIGHT
 ***************************************************************************************/

#sidebar-right-content {
    background: #D9F4F7;
    padding: 30px;
}

#sidebar-right-content aside {
    margin-bottom: 15px;
}

.ao-upcoming-events {

}

.widget-ao-upcoming-events .no-event {
    padding-left: 0; 
}

.widget-ao-upcoming-events ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget-ao-upcoming-events ul li {
    position: relative;
    padding: 0;
    margin: 20px 0;
}

.widget-ao-upcoming-events ul li a {
    color: #333;
}

.widget-ao-upcoming-events .event-date {
    display: inline-block;
    border: 0px solid #ddd;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.9);
    position: absolute;
    left: 0;
    top: 0;
    /*box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);*/
    font-size: 20px;
    font-weight: bold;
    font-family: PTRegular,'Noto Sans',sans-serif;
    font-style: italic;
}

.widget-ao-upcoming-events .event-date .event-day {
    position: absolute;
    top: 3px;
    width: 40px;
    text-align: center;
    font-size: 80%;
}

.widget-ao-upcoming-events .event-date .event-month {
    position: absolute;
    bottom: 5px;
    width: 40px;
    text-align: center;
    font-size: 50%;
}

.widget-ao-upcoming-events .event-title {
    font-weight: bold;
    margin-left: 50px;
    line-height: inherit;
    display: block;
}

.widget-ao-upcoming-events p.event-intro {
    margin-left: 50px;
    font-size: 80%;
    /*
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    */
}

.widget-ao-upcoming-events .btn-success {
    color: #fff;
    background-color: #1EB5C8;
    border-color: #4cae4c;
    border: 0;
}

.widget-aoa3f-linked .col {
    margin-bottom: 15px;
}

.widget-aoa3f-linked a {
    color: #333;
    padding: 0;
    display: block;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    font-style: italic;
}

.widget-aoa3f-linked a .flaticon {
    width: 34px;
    display: inline-block;
    font-weight: normal;
    color: #333;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    margin-right: 5px;
}

.widget-aoa3f-linked .row {
    margin-right: 0 !important;
}

.widget-aoa3f-linked .row .col {
    padding-right: 0 !important;
}

#sidebar-right-content .widget-aoa3f-linked .row {
    margin-left: -5px !important;
}

#sidebar-right-content .widget-aoa3f-linked .row .col {
    padding-left: 5px !important;
}
 
.widget-aoa3f-linked a img {
    width: 100%;
    height: inherit;
    margin-bottom: 5px;
    border: 1px solid #ccc;
}

#sidebar-right-content .widget-aoa3f-linked a img {
    border: 0;
}

.widget-aoa3f-linked .titles-with-icons .col {
    margin-bottom: 5px;
}

.widget-aoa3f-linked .titles-with-icons a {
    display: inline-block;
}

.widget-aoa3f-linked .titles-with-icons .title {
    display: inline-block;
}

.widget-aoa3f-linked .titles-with-icons .title a:hover {
    text-decoration: underline;
}

.widget-aoa3f-linked a .flaticon:before {
    margin-left: 0;
}

.widget-aoa3f-linked .logo,
.widget-aoa3f-linked .map {
    position: relative;
}

.widget-aoa3f-linked .sport {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(30, 181, 200, 1);
    color: white;
    border-radius: 0;
    padding: 2px 15px 2px 5px;
}

.widget-aoa3f-linked .sport a {
    color: white;
    line-height: 18px;
}

#sidebar-right-content .widget_sp_image img {
    width: 100%;
    height: inherit;
    margin-bottom: 10px;
}

#sidebar-right-content .widget_sp_image-description {
    font-size: 80%;
}


/***************************************************************************************
 	SIDEBAR BOTTOM
 ***************************************************************************************/

#sidebar-bottom1 {
    margin: 0;
    padding: 60px 0;
    background: #f3f3f3;
}

#sidebar-bottom1 aside h3 {
    font-size: 30px;
    text-transform: none;
}

#sidebar-bottom2 {
    background: transparent;
}

#sidebar-bottom2 .col {
    position: static;
}

#sidebar-bottom2 aside .title {
    font-size: 34px !important;
}

#sidebar-bottom2 aside .btn {
    font-size: 26px !important;
    height: initial !important;
}

#sidebar-bottom3 {
    background: #fff;
    padding: 60px 0;
}

#sidebar-bottom3 aside h3 {
    font-size: 30px;
}


/***************************************************************************************
 	CONTENT
 ***************************************************************************************/

#site-content h1 {
}

#site-content h2 {
}

#site-content h3 {
}

#site-content table {
    font-size: 1em;
}

#site-content.home > .row > .col-md-4 {
    width: 28%;
}

#site-content.home > .row > .col-md-4:nth-child(1) {
    width: 44%;
    padding-right: 50px;
}

#site-content.home h1 {
    color: #f2963e;
    text-transform: none;
    font-size: 2.4em;
    margin-bottom: 50px;
}

#site-content.home h3 {
    margin-bottom: 10px;
}

#site-content.home ul {
    list-style: none;
    padding-left: 6px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
}

#site-content.home li {
    line-height: 1.6em;
}

#site-content.home .presentation li:before { 
    font-family: Flaticon !important;
    font-size: 12px !important;
    content: '\e01f'; /* 046 */
    display: inline-block;
    width: 26px;
}

#site-content .panel {
    /*width: inherit;*/
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
    width: 100%;
}

#site-content .panel-body > div.details.with-image {
    margin-left: 200px;
}

#site-content .panel-body > div.details div {
    white-space: nowrap;
}

#site-content .panel-body div.image {
    position: absolute;
    margin-left: 0;
}

#site-content .panel-body address {
    font-style: italic;
}

#site-content .panel-body .fa {
    display: inline-block;
    width: 30px;
}

#site-content article .entry-meta {
    margin: 0 0 10px;
    color: #ccc;
    font-size: 0.8em;
}

#site-content article .entry-meta > span .fa {
    padding-right: 5px;
    padding-left: 10px;
}

#site-content article .entry-meta > span:first-child .fa {
    padding-left: 0;
}

#site-content article .entry-meta a {
    color: #ccc;
    text-decoration: underline;
}

#site-content article .nav-tabs {
    margin: 15px 0;
}
#site-content article .tab-content {
    margin: 0 0 30px;
}

#site-content article .prices-table td.description {
}

#site-content article .prices-table td.price {
    width: 130px;
}

#site-content article .prices-table tfoot td {
    font-style: italic;
    font-size: 80%;
    text-align: right;
}

#site-content article .equipment-table td.equipment {
}

#site-content article .equipment-table td.price {
    width: 130px;
}

#site-content article .features-table td.feature {
}

#site-content article .features-table td.value {
   /* width: 260px; */
}

#site-content article .entry-logo {
    float: right;
    margin: 0 0 10px 10px;
}
#site-content .schedule-table table {
    margin-bottom: 0px !important;
}
#site-content .schedule-table {
    margin-bottom: 15px !important;
}

.single #site-content article .event-date {
    display: inline-block;
    border: 0px solid #ddd;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,0.9);
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);
    font-size: 20px;
    font-weight: bold;
    font-family: PTRegular,'Noto Sans',sans-serif;
    text-transform: none;
    font-style: italic;
    float: right;
    position: relative;
    border: 1px solid #ddd;
    margin: 0 10px 0px 0;
}

.single #site-content article .event-date .event-day {
    position: absolute;
    top: 15px;
    width: 100px;
    text-align: center;
    font-size: 200%;
}

.single #site-content article .event-date .event-month {
    position: absolute;
    bottom: 15px;
    width: 100px;
    text-align: center;
    font-size: 140%;
    line-height: 1em;
}

#site-content .entry-event {
    font-weight: bold;
    margin: 25px 0;
}

.flexible-bg {
    background: #eee;
    padding: 40px;
    /*margin: 40px 0;*/
}


/* === IMAGES - CAROUSEL === */

.carousel .carousel-control {
    height: 60px;
    background: #000;
    top: 50%;
    margin-top: -30px;
    line-height: 60px;
    width: 60px;
    opacity: 0.4;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}
.carousel:hover .carousel-control {
    opacity: 1;
}
.carousel .carousel-control.right {
    border-radius: 10px 0 0 10px;
}
.carousel .carousel-control.left {
    border-radius: 0 10px 10px 0;
}
.carousel .carousel-control span {
    height: 60px;
    line-height: 60px;
    width: 60px;
}
.carousel .carousel-control.right span {
    right: 15px;
}
.carousel .carousel-control.left span {
    left: 15px;
}
.carousel .carousel-indicators {
  bottom: 20px;
}
.carousel .carousel-indicators li {
    box-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}
.carousel .item {
    background-size: cover;
}
.carousel .item .image {
    position: relative;
    width: 100%;
    padding-bottom: 56%;
    height: 0;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 10px;
}
.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
    padding: 0 10px;
    line-height: 20px;
    height: 20px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* === IMAGES - GALLERY === */

.row.gallery {
    margin-left: -15px !important;
    margin-right: 0 !important;
}
.row.gallery .col {
    padding-left: 15px !important;
    padding-right: 0 !important;
}
.row.gallery .item {
    position: relative;
    margin-bottom: 15px;
}
.row.gallery .item img {
    width: 100%;
}
.row.gallery .item .description {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
    padding: 0 10px;
    line-height: 20px;
    height: 20px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* === Share === */

.social-share {
    clear: both;
    margin: 15px 0;
}

.social-share a {
    margin: 0 5px 0 0 !important;
}


/* === Features === */

div.feature {
    position: relative;
    margin-bottom: 10px;
    line-height: 88px;
    height: 88px;he
}

div.feature .icon {
    /* border: 1px solid rgba(0,178,195,0.3); */
    display: inline-block;
    /* border-radius: 50%; */
    padding: 3px;
    margin-right: 10px;
    background-image: url('images/ovale_80.png');
    background-repeat: no-repeat;
    background-size: 80px auto;
    background-position: 2px 13px;
    vertical-align: top;
}

div.feature .icon .flaticon {
    /* background: #00b2c4; */
    width: 80px;
    display: block;
    height: 80px;
    color: white;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
}

div.feature .icon .flaticon:before {
    margin-left: 0;
    font-size: 32px;
}

div.feature .text {
    display: inline-block;
    line-height: 1.4em;
    vertical-align: top;
    width: 250px;
    padding-top: 15px;
    padding-left: 10px;
}

div.feature .text p {
    line-height: 1.4em;
    font-size: 16px;
    font-family: 'Open Sans';
    font-style: italic;
    margin-bottom: 25px;
}

.col-md-3 div.feature {
    margin-bottom: 30px;
}

.col-md-3 div.feature .text {
    width: 175px;
}

.single div.feature {
    display: inline-block;
    margin-bottom: 20px;
    height: 60px;
    line-height: 60px;
}

.single div.feature .icon {
    background-image: url('images/ovale_60.png');
    background-size: 60px auto;
    background-position: 2px 11px; 
}

.single div.feature .icon .flaticon {
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.single div.feature .icon .flaticon:before {
    font-size: 25px;
}

.single div.feature .text {
    display: none;
}




/* === FAQ Accordion === */

.faq.panel .panel-heading h4 {
    font-size: 1em;
    /* line-height: 1.8em; */
    /* color: #f2963e; */
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-weight: normal;    
}

.faq.panel .panel-heading h4 a:hover,
.faq.panel .panel-heading h4 a:focus {
    text-decoration: none; 
}

.faq.panel>.panel-heading a .flaticon {
    float: right;
}

.faq.panel>.panel-heading a .flaticon.plus,
.faq.panel>.panel-heading a.collapsed .flaticon.minus {
    display: none;
}
.faq.panel>.panel-heading a.collapsed .flaticon.plus {
    display: inline-block;
}

.faq.panel>.panel-heading a {
    display: block;
    padding: 10px 0; 
}

.faq.panel>.panel-heading {
    border-radius: 0;
}

.faq.panel .panel-body {
    padding-left: 30px;
}

.faq.panel {
    margin-bottom: 0px;
    border: 0;
    box-shadow: none;
    border-radius: 0;
}



/***************************************************************************************
 	ARCHIVE
 ***************************************************************************************/

.archive #site-content article {
    margin: 0 0 0 0;
    clear: both;
    margin: 0 -15px;
    padding: 15px 15px 0;
    overflow: auto;
    position: relative;
}

.archive #site-content article:hover {
    background: #f3f3f3;
}

.archive #site-content article a {
    color: #333;
}

.archive #site-content article a:hover {
    text-decoration: none;
}

.archive #site-content article img {
    float: left;
    margin: 0 15px 15px 0;
}

.archive #site-content article .entry-title {
    color: #f2963e;
    font-size: 1.6em;
    line-height: 1em;
    margin: 0 0 15px 175px;
/*
    font-size: 1.4em;
    line-height: 1.2em;
    margin: 30px 0 15px;
*/
}

.archive #site-content article .entry-meta {
    margin: 0 0 10px 175px;
    color: #ccc;
    font-size: 0.8em;
}

.archive #site-content article .entry-meta .fa {
    padding-right: 5px;
    padding-left: 10px;
}

.archive #site-content article .entry-meta > span:first-child .fa {
    padding-left: 0;
}

.archive #site-content article .entry-meta a {
    color: #ccc;
    text-decoration: underline;
}

.archive #site-content article .entry-excerpt {
    margin: 0 0 15px 175px;
}

.archive #site-content .event-tabs {
    margin: -43px -2px 0 -15px;
}

.archive #site-content .event-tabs li {
    float: right;
}

.archive #site-content article .event-date {
    display: inline-block;
    border: 0px solid #ddd;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.9);
    position: absolute;
    left: 25px;
    top: 25px;
    /*box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);*/
    font-size: 20px;
    font-weight: bold;
    font-family: PTRegular,'Noto Sans',sans-serif;
    text-transform: none;
    font-style: italic;
}

.archive #site-content article .event-date .event-day {
    position: absolute;
    top: 3px;
    width: 40px;
    text-align: center;
    font-size: 80%;
}

.archive #site-content article .event-date .event-month {
    position: absolute;
    bottom: 6px;
    width: 40px;
    text-align: center;
    font-size: 50%;
    line-height: 1em;
}

.archive #site-content article img.thumbnail {
    width: 150px;
    height: 150px;
}

.archive #site-content article .read-more {
    margin: 0px 0px 15px 175px;
}

.archive #site-content article .read-more .btn {
    background: #eee !important;
}

.archive #site-content article:hover .read-more .btn {
    background: rgba(30, 181, 200, 1) !important;
    color: white;
}

.archive #site-content .nav-previous {
    float: left;
}

.archive #site-content .nav-next {
    float: right;
}

.archive #site-content .no-post {
    margin-top: 15px;
}



/* === rooms ===*/

.archive #site-content.rooms article {
    padding: 0;
    margin: 0 0 30px;
    background: #f3f3f3; 
}

.archive #site-content.rooms article:hover {
    background: #f3f3f3; /*rgba(0,0,0,0.4);*/
}

.archive #site-content.rooms article .image-wrapper {
    position: relative;
    width: 56%;
}

.archive #site-content.rooms article .image {
    position: relative;
    width: 100%;
    padding-bottom: 66%;
    height: 0;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    /* margin-bottom: 15px; */
    border: 0px solid #333;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.archive #site-content.rooms article:hover .image {
    background-size: auto 110%;
}

.archive #site-content.rooms article .filter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.archive #site-content.rooms article:hover .filter {
    background: rgba(0,0,0,0.5);
}

.archive #site-content.rooms article a .filter:after {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;    
    font-family: Fontawesome !important;
    font-size: 16px !important;
    content: '\f06e';
    position: absolute;
    top: 50%;
    /* right: 0; */
    /* bottom: 0; */
    left: 50%;
    color: #fff;
    font-size: 100px !important;
    margin-left: -60px;
    margin-top: -20px;  
    opacity: 0;
}

.archive #site-content.rooms article:hover .filter:after {
    opacity: 0.2;
}

.archive #site-content.rooms article a {
    color: #333;
}

.archive #site-content.rooms article a:hover {
    text-decoration: none;
}

.archive #site-content.rooms article .caption {
    padding: 20px;
    overflow: auto;
}

.archive #site-content.rooms article .title {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Open Sans Condensed';
    margin-bottom: 10px;
}

.archive #site-content.rooms article .content {
}

.archive #site-content.rooms article .price-from {
    position: absolute;
    top: 15px;
    right: 0;
    padding: 10px 15px;
    background: #1EB5C8;
    background: #f68a48;
    background: rgba(246, 138, 72, 0.8);
    color: #fff;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    font-size: 14px;
}

.archive #site-content.rooms article .price {
    display: block;
    font-size: 26px;
    font-family: 'Open Sans';
    line-height: 1em;
}


.archive #site-content.rooms article .book-now {
    border: 0;
    box-shadow: none;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    background: #1EB5C8;
    text-transform: uppercase;
    margin: 15px 10px 0 0;
    float: left;
    line-height: 2;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;    
}

.archive #site-content.rooms article .book-now:hover,
.single .book-now:hover {
    background: #333;
}

.archive #site-content.rooms article .read-more {
    border: 0;
    box-shadow: none;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    font-size: 16px;
    background: #ddd;
    /*text-transform: uppercase;*/
    margin: 15px 10px 0 0;
    float: left;
    line-height: 2;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;    
}

.archive #site-content.rooms article .read-more:hover {
    background: #333;
}

.archive #site-content.rooms article .read-more:hover {
    background: #fff;
}

.archive #site-content.rooms .row div .image-wrapper {
    float: right;
}

.archive #site-content.rooms > .row:nth-child(odd) .image-wrapper {
    float: left;
}

.archive #site-content.rooms > .row:nth-child(odd) .price-from {
    right: auto;
    left: 0;
}



/* === single-room ===*/

.single-room .room-main {
    margin-bottom: 30px;    
}

.single-room .images_thumbnail,
.single-room .room-image-main {
    position: relative;
    width: 100%;
    padding-bottom: 56%;
    height: 0;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;    
}

.single-room .room-image-main  {
    position: relative;
    display: none;
}

.single-room .room-image-main.show {
    display: block;
}

.single-room .price-from {
    font-size: 1.6em;
    line-height: 1em;
    margin: 0 0 20px;
    font-family: 'Open sans';
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    color: #f68a48;
}

.single-room .book-now {
    height: 50px;
    box-shadow: none;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    background: #1EB5C8;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
    margin: 20px 0 40px;
}

.single-room .nb-guests {
    margin: 10px 10px 20px;
    color: #aaa;
}

.single-room .nb-guests .flaticon {
}

.single-room .nb-guests .flaticon:before {
    margin-left: -15px;
    font-size: 25px;
}

.single-room .nb-guests .text {
    font-size: 1.4em;
    line-height: 1em;
    margin: 0 0 20px;
    /* font-family: 'Open sans'; */
    font-weight: 900;
    /* font-style: italic; */
    /* text-transform: uppercase; */
    /* color: #333; */
}

/*
.single-room ul, .single-room ul li {
    list-style: none;
}

.single-room ul li:before {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
    content: "\f107";
}
*/


/* === meetings ===*/

.archive #site-content.meetings article {
    padding: 0;
    margin: 0 0 30px;
    background: #f3f3f3; 
}

.archive #site-content.meetings article:hover {
    background: #f3f3f3; /*rgba(0,0,0,0.4);*/
}

.archive #site-content.meetings article .image-wrapper {
    position: relative;
    width: 56%;
}

.archive #site-content.meetings article .image {
    position: relative;
    width: 100%;
    padding-bottom: 66%;
    height: 0;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    /* margin-bottom: 15px; */
    border: 0px solid #333;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.archive #site-content.meetings article:hover .image {
    background-size: auto 110%;
}

.archive #site-content.meetings article .filter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.archive #site-content.meetings article:hover .filter {
    background: rgba(0,0,0,0.5);
}

.archive #site-content.meetings article a .filter:after {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;    
    font-family: Fontawesome !important;
    font-size: 16px !important;
    content: '\f06e';
    position: absolute;
    top: 50%;
    /* right: 0; */
    /* bottom: 0; */
    left: 50%;
    color: #fff;
    font-size: 100px !important;
    margin-left: -60px;
    margin-top: -20px;  
    opacity: 0;
}

.archive #site-content.meetings article:hover .filter:after {
    opacity: 0.2;
}

.archive #site-content.meetings article a {
    color: #333;
}

.archive #site-content.meetings article a:hover {
    text-decoration: none;
}

.archive #site-content.meetings article .caption {
    padding: 20px;
    overflow: auto;
}

.archive #site-content.meetings article .title {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Open Sans Condensed';
    margin-bottom: 10px;
}

.archive #site-content.meetings article .content {
}

.archive #site-content.meetings article .read-more {
    border: 0;
    box-shadow: none;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    font-size: 16px;
    background: #ddd;
    /*text-transform: uppercase;*/
    margin: 15px 10px 0 0;
    float: left;
    line-height: 2;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;    
}

.archive #site-content.meetings article .read-more:hover {
    background: #333;
}

.archive #site-content.meetings article .read-more:hover {
    background: #fff;
}

.archive #site-content.meetings .row div .image-wrapper {
    float: right;
}

.archive #site-content.meetings .row .meeting:nth-child(4n+1) .image-wrapper,
.archive #site-content.meetings .row .meeting:nth-child(4n+2) .image-wrapper {
    float: left;
}



/* === single-meeting ===*/

.single-meeting .meeting-main {
    margin-bottom: 30px;    
}

.single-meeting .images_thumbnail,
.single-meeting .meeting-image-main {
    position: relative;
    width: 100%;
    padding-bottom: 56%;
    height: 0;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;    
}

.single-meeting .meeting-image-main  {
    position: relative;
    display: none;
}

.single-meeting .meeting-image-main.show {
    display: block;
}

.single-meeting .price-from {
    font-size: 1.6em;
    line-height: 1em;
    margin: 0 0 20px;
    font-family: 'Open sans';
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    color: #f68a48;
}
 
.single-meeting .book-now {
    height: 50px;
    box-shadow: none;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    background: #1EB5C8;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
    margin: 20px 0 40px;
}

.single-meeting .nb-guests,
.single-meeting .surface {
    margin: 10px 10px 25px;
    color: #aaa;
}

.single-meeting .nb-guests .flaticon,
.single-meeting .surface .flaticon {
}

.single-meeting .nb-guests .flaticon:before,
.single-meeting .surface .flaticon:before {
    margin-left: 0;
    margin-right: 15px;
    font-size: 35px;
}

.single-meeting .nb-guests .text,
.single-meeting .surface .text {
    font-size: 1.4em;
    line-height: 1em;
    margin: 0 0 20px;
    /* font-family: 'Open sans'; */
    font-weight: 900;
    /* font-style: italic; */
    /* text-transform: uppercase; */
    /* color: #333; */
}

/*
.single-meeting ul, .single-meeting ul li {
    list-style: none;
}

.single-meeting ul li:before {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
    content: "\f107";
}
*/



/* === archive-news ===*/


.post-type-archive-news .row,
.tax-newscat .row {
}

.post-type-archive-news .row .col,
.tax-newscat .row col {
    margin-bottom: 30px;
}

.post-type-archive-news .image,
.tax-newscat .image {
    position: relative;
    width: 100%;
    padding-bottom: 32%;
    height: 0;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 15px;
    border: 1px solid #333;
}

.post-type-archive-news .row .col img,
.tax-newscat .row .com img {
    width: 100%;
    margin-bottom: 10px;
}

.post-type-archive-news .row .col.col-12 img,
.tax-newscat .row .col.col-12 img {
    width: 30%;
    margin-bottom: 0;
    float: left;
    margin-right: 10px;
}

.post-type-archive-news a,
.tax-newscat a {
    color: #333;
}

.post-type-archive-news .title,
.tax-newscat .title {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Open Sans Condensed';
    margin-bottom: 10px;
}

.post-type-archive-news .content,
.tax-newscat .content {
}

.post-type-archive-news .col-12 .content,
.tax-newscat .col-12 .content {
    /*
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    */
}

.post-type-archive-news .carousel .carousel-control,
.tax-newscat .carousel .carousel-control {
    opacity: 0;
    height: 60px;
    background: rgba(255,255,255,0.6);
    top: 55px;
    color: #333;
    text-shadow: 0;
}

.post-type-archive-news .carousel:hover .carousel-control,
.tax-newscat .carousel:hover .carousel-control  {
    opacity: 1;
}








/***************************************************************************************
 	SIDEBAR BOTTOM CONTENT
 ***************************************************************************************/

/* === Last news === */

.widget-ao-last-news .row {
}

.widget-ao-last-news .widget-title {
    font-size: 30px;
}

.widget-ao-last-news .row .col {
    margin-bottom: 30px;
}

.widget-ao-last-news .image {
    position: relative;
    width: 100%;
    padding-bottom: 32%;
    height: 0;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 15px;
    border: 1px solid #333;
}

.widget-ao-last-news .row .col img {
    width: 100%;
    margin-bottom: 10px;
}

.widget-ao-last-news .row .col.col-12 img {
    width: 30%;
    margin-bottom: 0;
    float: left;
    margin-right: 10px;
}

.widget-ao-last-news a {
    color: #333;
}

.widget-ao-last-news .title {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Open Sans Condensed';
    margin-bottom: 10px;
}

.widget-ao-last-news .content {
}

.widget-ao-last-news .col-12 .content {
    /*
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    */
}

.widget-ao-last-news .carousel .carousel-control {
    opacity: 0;
    height: 60px;
    background: rgba(255,255,255,0.6);
    top: 55px;
    color: #333;
    text-shadow: 0;
}

.widget-ao-last-news .carousel:hover .carousel-control {
    opacity: 1;
}

.widget-ao-last-news .buttons {
    margin: 20px auto;
    text-align: center;
}

.widget-ao-last-news .buttons a.btn-success {
    border: 0;
    /* height: 50px; */
    box-shadow: none;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    background: #1EB5C8;
    /* text-transform: uppercase; */
    margin: 0;
    /* line-height: 50px; */
    /* vertical-align: top; */
    /* padding: 0 40px; */
    /* margin: 40px auto; */
    border: 0;
    box-shadow: none;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    line-height: 2;
    background: #1EB5C8;
    text-transform: uppercase;
    /* margin: 15px 0 0; */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.widget-ao-last-news .buttons a.btn-success:hover {
    background: #333;
}

.widget-ao-last-news.shortcode {
    background: #f3f3f3;
    padding: 20px 20px 0;
    margin: 40px 0;
}

.widget-ao-last-news.shortcode .widget-title {
    margin-bottom: 15px;
    font-size: 20px;
}

.widget-ao-last-news.shortcode .title {
    font-size: 15px; 
    line-height: 1.2em;
        margin-bottom: 5px;
}

.widget-ao-last-news.shortcode .content {
    font-size: 12px; 
    line-height: 1.4em;
}

.widget-ao-last-news.shortcode .image {
    /*padding-bottom: 66%;*/
    border: 0;
}

.widget-ao-last-news.shortcode .wrapper {
    width: 40%;
    float: left;
    margin: 0 20px 0 0;
}

.widget-ao-last-news.shortcode .row .col {
    margin-bottom: 20px;
}


/* === Featured post === */

.widget-ao-post .featured-post {
    margin-bottom: 30px;
}



/* === Featured posts === */

.widget-ao-posts .row {
}

.widget-ao-posts .row .col {
}

.widget-ao-posts .post {
    position: relative;
    margin: 30px 0;
}

.widget-ao-posts .image-bg, 
.widget-ao-posts .image-fixed {
    text-align: center;
    margin: 0;
}

.widget-ao-posts .image-bg .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-size: cover;
    background-position-y: center;
}

.widget-ao-posts .image-fixed .image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100% !important;
    background-size: cover;
    background-position-y: center;
    z-index: -1;
}

.widget-ao-posts .image-left .image {
    float: left;
    width: 60%;
    margin-right: 30px;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.widget-ao-posts .image-right .image {
    float: right;
    width: 60%;
    margin-left: 30px;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.widget-ao-posts .image-bg .filter,
.widget-ao-posts .image-fixed .filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    height: 300px;
    z-index: 500;
}

.widget-ao-posts .image-bg .container,
.widget-ao-posts .image-fixed .container{
    background: transparent;
    color: white;
}

.widget-ao-posts .image-bg .caption,
.widget-ao-posts .image-fixed .caption {
    position: relative;
    z-index: 1000;
    top: 50%;
    transform: translateY(-50%);
}

.widget-ao-posts .image-left .caption,
.widget-ao-posts .image-right .caption {
    background: #f3f3f3;
    padding: 30px;
}

.widget-ao-posts .title {
    /* line-height: 1em; */
    font-style: italic;
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 34px;
    margin: 30px 0;
}

.widget-ao-posts .content {
}

.widget-ao-posts .image-bg .content .btn,
.widget-ao-posts .image-fixed .content .btn {
    color: white;
    border: 3px solid;
    padding: 10px 20px;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 30px;
}

.widget-ao-posts .image-left .content .btn,
.widget-ao-posts .image-right .content .btn {
    border: 0;
    box-shadow: none;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    background: #1EB5C8;
    text-transform: uppercase;
    margin: 15px 0 0;
    line-height: 2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.widget-ao-posts .image-left .content .btn {
    float: right;
}

.widget-ao-posts .image-left .content .btn:hover,
.widget-ao-posts .image-right .content .btn:hover {
    background: #333;
}

#sidebar-bottom2 .widget-ao-posts .row {
    margin-left: 0;
    margin-right: 0;
}

#sidebar-bottom2 .widget-ao-posts .row .col {
    padding-left: 0;
    padding-right: 0;
}

/* === Rooms === */

.widget-ao-rooms .row {
}

.widget-ao-rooms .row .col {
    margin-bottom: 30px;
}

.widget-ao-rooms .image-wrapper {
    position: relative;
}

.widget-ao-rooms .image { 
    position: relative;
    width: 100%;
    padding-bottom: 54%;
    height: 0;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    /* margin-bottom: 15px; */
    border: 0px solid #333;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;    
}

.widget-ao-rooms .room:hover .image {
    background-size: 110%;
}

.widget-ao-rooms a .filter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;    
}

.widget-ao-rooms .room:hover .filter {
    background: rgba(0,0,0,0.5);
}

.widget-ao-rooms a .filter:after {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;    
    font-family: Fontawesome !important;
    font-size: 16px !important;
    content: '\f06e';
    position: absolute;
    top: 50%;
    /* right: 0; */
    /* bottom: 0; */
    left: 50%;
    color: #fff;
    font-size: 100px !important;
    margin-left: -60px;
    margin-top: -66px;  
    opacity: 0;
}

.widget-ao-rooms .room:hover .filter:after {
    opacity: 0.2;
}

.widget-ao-rooms .row .col img {
    width: 100%;
    margin-bottom: 10px;
}

.widget-ao-rooms .row .col.col-12 img {
    width: 30%;
    margin-bottom: 0;
    float: left;
    margin-right: 10px;
}

.widget-ao-rooms a {
    color: #333;
}

.widget-ao-rooms a:hover {
    text-decoration: none;
}

.widget-ao-rooms .caption {
    background: #fff;
    padding: 20px;
    overflow: auto;
}

.widget-ao-rooms .title {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Open Sans Condensed';
    margin-bottom: 10px;
}

.widget-ao-rooms .content {
}

.widget-ao-rooms .col-12 .content {
    /*
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    */
}

.widget-ao-rooms .carousel .carousel-control {
    opacity: 0;
    height: 60px;
    background: rgba(255,255,255,0.6);
    top: 55px;
    color: #333;
    text-shadow: 0;
}

.widget-ao-rooms .carousel:hover .carousel-control {
    opacity: 1;
}

.widget-ao-rooms .price-from {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px 15px;
    background: #1EB5C8;
    background: #f68a48;
    background: rgba(246, 138, 72, 0.8);
    color: #fff;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    font-size: 14px;
}

.widget-ao-rooms .price {
    display: block;
    font-size: 26px;
    font-family: 'Open Sans';
    line-height: 1em;
}


.widget-ao-rooms .book-now {
    border: 0;
    box-shadow: none;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    background: #1EB5C8;
    text-transform: uppercase;
    margin: 15px 0 0;
    float: right;
    line-height: 2;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;    
}

.widget-ao-rooms .book-now:hover {
    background: #333;
}


/* === Infrastructure === */

.widget-ao-infrastructure {
    border-top: 0px solid #efefef;
    border-bottom: 0px solid #efefef;
    background: transparent;
    padding: 0 0 20px;
}

.widget-ao-infrastructure .row {
    margin-left: -5px;
    margin-right: -5px;
}

.widget-ao-infrastructure .row > div {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

.widget-ao-infrastructure .infrastructure-main {
    position: relative;
    display: none;
}

.widget-ao-infrastructure .infrastructure-main.show {
    display: block;
}

.widget-ao-infrastructure .infrastructure-main img {
    width: 100%;
    max-height: 300px;
}

/*
.widget-ao-infrastructure .infrastructure-main .filter {
    background: url(images/filter.png) bottom left repeat-x !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.widget-ao-infrastructure .infrastructure-main .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
}

.widget-ao-infrastructure .infrastructure-main .caption .inner {
    margin: 0;
    padding: 10px 20px;
}

.widget-ao-infrastructure .infrastructure-main .caption .title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
    text-shadow: 0 2px 3px rgba(0,0,0,.6);
}

.widget-ao-infrastructure .infrastructure-main .caption p {
    text-shadow: 0 2px 3px rgba(0,0,0,.6);
}
*/

.widget-ao-infrastructure .infrastructure-main .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
    padding: 0 10px;
    line-height: 20px;
    height: 20px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.widget-ao-infrastructure .infrastructure-main .caption .title a {
    color: white;
}

.widget-ao-infrastructure .infrastructure-thumbnail {
    width: 100%;
}



.parallax {
  perspective: 1px;
  height: 500px; /*100vh;*/
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);;
}


/***************************************************************************************
 	FOOTER
 ***************************************************************************************/

#site-footer {
    background: #333;
    /*border-radius: 0 0 10px 10px;*/
    padding: 0;
    color: #fff;
}

#site-footer .inner {
    padding: 0 30px;
}

#site-footer .footer-contacts {
    padding-top: 40px
}

#site-footer .footer-contacts .contact {
    float: left;
    margin: 0px 60px 50px 30px;
}

#site-footer h2 {
    color: #1EB5C8;
}

#site-footer address {
    font-style: italic;
}

#site-footer .fa {
    width: 25px;
}

#site-footer #map {
    width: 100% !important;
    height: 600px;
    border: 0px solid #ccc;
}

#site-footer #map .overlay {
    display: block;
    text-align: center;
    height: 80px;
    width: 105px;
    /* background: transparent no-repeat bottom center; */
    /* background-size: 32 43px; */
    margin-top: -30px;
    margin-left: -7px;
    z-index: 10000;
    position: relative;
}

#footer-menu {
    padding: 30px;
}

#footer-menu > div {
    text-align: center;
}

#footer-menu ul.menu {
    list-style: none;
    overflow: auto;
    margin: 0 auto 40px;
    padding: 0;
    color: #ccc;
    display: inline-block;
    font-weight: 300;
    /*width: 100%;*/
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

#footer-menu ul.menu > li {
    float: left;
    margin: 0 60px 0 0;
    padding: 0;
    text-align: left;
    line-height: 1.6em;
    /*width: 100%;*/
}

#footer-menu ul.menu > li > a {
    color: #eee; /*#f2963e;*/
    font-size: 1.6em;
    line-height: 1.4em;
    margin: 25px 0 15px;
    display: block;
    font-weight: normal;
}

#footer-menu ul.menu > li > ul.sub-menu {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    /*
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
    width: 100%;
    */
}

#footer-menu ul.menu > li > ul.sub-menu > li {
    margin: 0;
    padding: 0;
}

#footer-menu ul.menu > li > ul.sub-menu > li > a {
    color: #999;
    font-weight: normal;
}

#footer-menu ul.menu > li > ul.sub-menu > li > ul.sub-menu {
    margin: 0;
    padding: 0 0 0 15px;
    color: #666;
}

#footer-menu ul.menu > li > ul.sub-menu > li > ul.sub-menu > li {
    margin: 0;
    padding: 0;
}

#footer-menu ul.menu > li > ul.sub-menu > li > ul.sub-menu > li > a {
    color: #999; /*#666;*/
    font-weight: normal;
}

#footer-menu ul.menu > li:first-child {
    display: none;
}

#footer-menu ul.menu > li:nth-child(2) > ul.sub-menu {
    margin: 0 0 30px;
}

#copyright {
    color: #999;
    font-size: 0.8em;
    padding: 20px 0;
    text-align: center;
    font-weight: 300;
}

#copyright p {
    display: inline-block;
}

#copyright .legal-menu {
    display: inline-block;
    line-height: 1em;
}

#copyright .legal-menu ul {
    list-style: none;
    padding: 0;
}

#copyright .legal-menu ul li {
    display: inline-block;
    list-style: none;
    border-left: 1px solid #666;
    padding-left: 5px;
    margin-left: 5px;
}

#copyright .legal-menu ul li a {
    color: #999;
}

#copyright .designed-by {
    margin: 10px 0 0;
}

#copyright .designed-by img {
    width: 60px;
    opacity: 0.2;
}


form.with-transition {
    height: 1500px;
}
form .btn {
    margin-right: 5px;
}
form .form-inline .input-group {
    margin-right: 10px;
}
form .form-pager {
    text-align: center;
}
form .form-pager .item {
    display: inline-block;
    width: 150px;
    text-align: center;
    margin-bottom: 20px;  
    position: relative;
}
form .form-pager .line {
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px dashed #ddd;
    z-index: 100;
}
form .form-pager .item:first-child .line {
    left: 50%;
}
form .form-pager .item:last-child .line {
    right: 50%;
}
form .form-pager span.step {
    display: block;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-weight: bold;
    font-size: 20px;
    margin: 10px auto;
    background: #f5f5f5;
    color: #999;
    position: relative;
    z-index: 200;
}
form .form-pager .item.done span.step {
    cursor: pointer;
}
form .form-pager div.active span.step,
form .form-pager div.done span.step{
    background: #fff;
    color: #333;
}
form .form-pager span.title {
    color: #999;
}
form .form-pager div.active span.title {
    color: #333;
}
form .form-pager div.done span.step {
    /*border-color: #d6e9c6;*/
    /*background: #dff0d8*/
}
form .form-pager div.done span.title {
    color: #1EB5C8; /*#3c763d */
}
form .form-pager div.done:after {
    font-family: Fontawesome !important;
    font-size: 30px !important;
    content: '\f00c';
    color: #1EB5C8; /*#5cb85c;*/
    position: absolute;
    top: 50px;
    left: 50px;
    margin-left: 36px;
    z-index: 300;
}
form .btn-success {
    background: #1EB5C8;
    border-color: #1EB5C8;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;    
}

form .btn-success:hover {
    background: #333;
    border-color: #333;
}
.form-group .alert {
    margin: 5px 0 10px;
}
.form-select {
    width: initial;
}
.form-datepicker {
    width: 120px;
}
.form-email {
    width: 300px;
}
.form-number {
    width: 60px;
}
form input#form3 {
    display: none;
}

@media screen and (min-width: 1400px) {
    .container {
        width: 1350px;
    }
}
@media (max-width: 1399px) {
    #navbar ul li a {
        padding: 0 10px;
    }
    #navbar .menu-item.homepage {
        display: none !important;
    }
    /*
    div.feature .icon {
        background-size: 80px auto;
    }
    div.feature .icon .flaticon {
        width: 80px;
        height: 80px;
        line-height: 80px;
    }
    div.feature .icon .flaticon:before {
        font-size: 28px;
    }
    */
    .col-md-3 div.feature .text {
        width: 160px;
    }
    div.feature .text p {
        font-size: 14px;
    }
    #sidebar-bottom1 aside h3 {
        font-size: 26px;
    }
    #sidebar-bottom3 aside h3 {
        font-size: 26px;
    }
    .widget-ao-posts .title {
        font-size: 26px;
        margin: 15px 0;
    }
    h2 {
        font-size: 1.2em;
        line-height: 1.2em;
    }
    .widget-ao-rooms .price,
    .archive #site-content.rooms article .price {
        font-size: 24px;
    }
    .archive #site-content.rooms article .title {
        font-size: 18px;
    }    
    .archive #site-content.rooms article .image {
        padding-bottom: 88%;
    }
    .archive #site-content.rooms article a .filter:after {
        top: 56%;
    }
    .single-meeting .images_thumbnail, .single-meeting .meeting-image-main {
    padding-bottom: 80%;
    }
}
@media (max-width: 1199px) {
    #site-left-column {
        display: none;
    }

    #site-main-column {
        background-color: #fff !important;
        /*width: 970px;*/
    }
    #site-header-top {
        font-size: 14px !important;
    }
    #navbar {
        /*text-align: right;*/
        /*padding-right: 20px;*/
    }
    #navbar .subnav > ul > li > a {
        padding: 0 6px 0 6px;
    }
    #navbar .nav > li.menu-item-has-children > a {
        padding-right: 0px;
        margin-right: 10px;
    }
    #navbar .subnav > ul > li > span {
        display: none;
    }
    #navbar .menu-item.hidden-large {
        display: block;
    }
    #navbar ul li a {
        font-size: 14px;
    }
    #navbar .subnav > ul > li:last-child .dropdown-menu {
        right: 0;
        left: inherit;
    }
    .col-md-3 div.feature {
        margin-bottom: 20px;
    }
    div.feature .icon {
        background-size: 70px auto;
    }
    div.feature .icon .flaticon {
        width: 70px;
        height: 70px;
        line-height: 70px;
    }
    div.feature .icon .flaticon:before {
        font-size: 28px;
    }
    .col-md-3 div.feature .text {
        width: 120px;
    }
    div.feature .text p {
        font-size: 13px;
    }
    #sidebar-bottom1 aside h3 {
        font-size: 20px;
    }
    #sidebar-bottom3 aside h3 {
        font-size: 20px;
    }
    .widget-ao-posts .title {
        font-size: 22px;
        margin: 15px 0;
    }
    h2 {
        font-size: 1.2em;
        line-height: 1.2em;
    }
    .widget-ao-posts .image-bg .content .btn, .widget-ao-posts .image-fixed .content .btn {
        font-size: 20px;
    }
    .widget-ao-rooms .price,
    .archive #site-content.rooms article .price {
        font-size: 24px;
    }
    .archive #site-content.rooms article .caption {
        padding: 40px 20px;
    }
    .archive #site-content.rooms article .title {
        font-size: 22px;
        margin-bottom: 20px;
    }    
    .archive #site-content.rooms article .image {
        padding-bottom: 50%;
        background-size: 100% auto;
    }
    .archive #site-content.rooms article:hover .image {
        background-size: 110% auto;
    }
    .archive #site-content.rooms article a .filter:after {
        top: 56%;
    }
    .archive #site-content.rooms article .read-more {
        margin: 20px 10px 0 0;
    }
    .archive #site-content.rooms article .book-now {
        margin: 20px 10px 0 0;
    }
    .cycloneslider-template-standard .cycloneslider-caption-title {
        font-size: 32px !important;
    }
    #booking-form {
        padding: 20px 0 !important;
    }
    .no-header-image #booking-form {
        padding-top: 50px !im portant;
    }
    #booking-form .input-group-addon {
        font-size: 16px;
    }
    #booking-form input {
        line-height: 44px;
        height: 44px;
        font-size: 16px;
    }
    [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
        font-size: 17px;
    }
    .single-room .nb-guests .flaticon:before {
        font-size: 22px;
    }
    #booking-form .btn, .single-room .book-now, .single-meeting .book-now, .btn {
        height: 44px;
        font-size: 16px;
    }  
    .single-room .price-from,
    .single-meeting .price-from {
        font-size: 1.4em;
    }
    .single-room .nb-guests .text, .single-meeting .nb-guests .text, .single-meeting .surface .text {
        font-size: 1.2em;
    }
    .single-meeting .nb-guests .flaticon:before, .single-meeting .surface .flaticon:before {
        margin-right: 10px;
        font-size: 28px;
    }
    div.feature .icon {
        margin-right: 0px;
    }
    .archive #site-content.meetings article .image {
        padding-bottom: 88%;
    }
    .single-meeting .images_thumbnail, .single-meeting .meeting-image-main {
    padding-bottom: 92%;
    }
    .cycloneslider-template-standard .cycloneslider-caption {
        width: 75% !important;
        right: 0 !important;
        left: initial !important; 
    }
}

@media (max-width: 991px) {
    body {
        font-size: 14px;
    }
    #site-header {
        /*margin: 40px auto 0px;*/
    }
    #site-header {
        height: 98px;
    }
    #site-header-top {
        font-size: 12px !important;
        height: 40px;
        line-height: 40px;
    }
    #site-header-top .contact .flaticon {
        margin: 0 10px 0 20px;
    }
    #site-header .row {
        height: 38px;
    }
    .navbar-brand img.logo {
            height: 80px;
        margin-top: 25px;
    }
    #navbar .subnav {
        margin-left: 150px;
    }
    #navbar ul li a {
        font-size: 0.8em;
        line-height: 38px;
        padding: 0 6px !important;
    }
    .nav > li > span i:before {
        line-height: 38px !important;
    }
    .nav > li.menu-item-has-children > a {
        margin-right: 0 !important;
    }
    #navbar .nav > li > span {
        right: 5px;
        display: none;
    }
    #logo {
        height: 38px;
    }
    #logo a {
        left: 10px;
    }
    #logo a img {
        /* width: 100%; */
        height: 80px;
    }
    #site-main-column {
        background-color: #fff !important;
        width: 100%;
    }
    #site-content {
        width: 100% !important;
        padding-bottom: 20px;
    }
    #site-right-content {
        border-radius: 0;
        width: 100% !important;
    }
    #sidebar-right-content {
        padding-top: 0;
    }
    #site-right-content .col-sm-6:nth-child(odd) {
        clear: both;
    }
    #footer-menu ul.menu > li > ul.sub-menu {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
    #site-footer .footer-contacts {
        padding-top: 25px
    }
    #site-footer .footer-contacts .contact {
        float: none;
    }
    #site-main-header .booking {
        display: none;
    }
    #site-main-header .booking-mobile {
        display: block;
        background: rgba(30, 181, 200, 1); 
        color: white; 
        height: inherit;
        margin-top: 0;
        position: relative; 
        width: 100%; 
        font-size: 1em;
        overflow: auto;
        padding: 10px 15px 5px;
        bottom: inherit;
        right: inherit;
    }

    #site-main-header .booking-mobile .phone {
        width: 50%;
        line-height: 20px;
        display: inline-block;
        padding-left: 20px;
        margin-bottom: 5px;
    }

    #site-main-header .booking-mobile .flaticon {
        display: inline-block;
        float: left;
    }

    #site-main-header .booking-mobile .flaticon:before {
        margin-right: 10px;
        margin-left: 0;
    }

    #site-main-header .booking-mobile .address {
        display: inline-block;
        margin-bottom: 5px;
    }
    #site-main-header .booking-mobile .fa {
        display: inline-block;
        float: left;
        width: 20px;
    }

    #site-main-header .booking-mobile address {
        margin-bottom: 0;
    }
    
    #site-main-header .booking a,
    #site-main-header .booking-mobile a {
        color: white;
    }

    #site-content ul.sports {
        margin-left: 0;
        padding-left: 0;
        margin-right: -15px;
        clear: both;
    }
    #site-content ul.sports:after {
        clear: both;
    }
    #site-content ul li.sport {
        line-height: 1.4em;
        float: left;
        display: inline-block;
        height: 100px;
        margin: 0 15px 15px 0;
        background-color: rgba(30, 181, 200, 1);
        color: white;
        padding: 0;
        height: 99px;
        width: 99px;
        text-align: center;
    }
    #site-content ul li.all {
        display: none;
    }
    #site-content ul li.sport a {
        color: white;
        display: table;
        text-align: center;
        height: 99px;
        width: 99px;
    }
    #site-content ul li.sport i {
        line-height: 100px;
    }
    #site-content ul li.sport i:before {
        font-family: Flaticon;
        font-size: 60px;
        font-style: normal;
        margin-left: 0px;
        color: white;
    }
    #site-content ul li.sport span {
        display: none;
        vertical-align: middle;
    }
    #site-content ul li.sport:hover i:before {
        display: none;
    }
    #site-content ul li.sport:hover span {
        display: table-cell;
        line-height: 2em;
    }
    #site-content aside {
        clear: both;
    }
    
    #site-footer .footer-contacts .contact {
        margin-left: 0;
    }
    #booking-form .input-group-addon.cal {
    font-size: 16px;
        display: none;
    }
    #booking-form .form-control {
        border-radius: 0 4px 4px 0;
    }
    #booking-form .input-group-addon {
        font-size: 14px;
    }
    #booking-form input {
        line-height: 40px;
        height: 40px;
        font-size: 14px;
    }
    #booking-form .btn, .single-room .book-now, .single-meeting .book-now, .btn {
        height: 40px;
        font-size: 14px;
    }
    #booking-form {
        padding: 10px 0 !important;
    }
    #booking-form .form-group {
        padding-left: 5px;
        padding-right: 5px;
    }
    .cycloneslider-template-standard .cycloneslider-caption-title {
        font-size: 22px !important;
    }
    .col-md-3 div.feature {
        margin-bottom: 20px;
        float: left;
        width: 33%;
    }
    #sidebar-bottom1 aside h3 {
        font-size: 16px;
    }
    #sidebar-bottom3 aside h3 {
        font-size: 20px;
    }
    .widget-ao-rooms .title {
        font-size: 16px;
    }
    .widget-ao-posts .title {
        font-size: 22px;
        margin: 15px 0;
    }
    h2 {
        font-size: 1.2em;
        line-height: 1.2em;
    }
    .widget-ao-posts .image-bg .content .btn, .widget-ao-posts .image-fixed .content .btn {
        font-size: 16px;
    }
    .widget-ao-rooms .price,
    .archive #site-content.rooms article .price {
        font-size: 16px;
    }
    .archive #site-content.rooms article .caption {
        padding: 40px 20px;
    }
    .archive #site-content.rooms article .title {
        font-size: 22px;
        margin-bottom: 20px;
    }    
    .archive #site-content.rooms article .image {
        padding-bottom: 60%;
        background-size: auto 100%;
    }
    .archive #site-content.rooms article:hover .image {
        background-size: auto 110%;
    }
    .archive #site-content.rooms article .image-wrapper {
        width: 50%;
    }
    .archive #site-content.rooms article a .filter:after {
        top: 56%;
    }
    .single-room .price-from, .single-meeting .price-from {
        font-size: 1.6em;
        margin-top: 20px;
    }
    .single-meeting .images_thumbnail, .single-meeting .meeting-image-main {
        padding-bottom: 56%;
    }
    .archive #site-content.rooms article .read-more {
        margin: 20px 10px 0 0;
    }
    .archive #site-content.rooms article .book-now {
        margin: 20px 10px 0 0;
    }
    .widget-ao-posts .image-left .image, .widget-ao-posts .image-right .image {
        float: none !important;
        width: 100% !important;
        height: 400px !important;
        margin-left: 0;
    }
    .widget-ao-posts .image-left .caption, .widget-ao-posts .image-right .caption {
        height: inherit !important;
    }
    .widget-ao-posts .image-left .content .btn, .widget-ao-posts .image-right .content .btn {
        float: none !important;
    }
    #footer-menu ul.menu > li {
        float: none;
    }
    #sidebar-footer .text-widget {
    font-size: 1em !important;
    }
}

@media (max-width: 767px) {
    #site {
        margin: 0px auto;
    }
    #site-header {
        margin: 0px auto;
    }
    #site-header .row {
        height: 50px;
        margin-bottom: 0;
    }
    .navbar-inner {
        height: 50px;
    }
    .navbar-brand img.logo {
        height: 60px;
    }
    .navbar-toggle {
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: rgba(0,0,0,0.2);
    }
    .navbar-toggle .icon-bar {
        background: #fff;
    }
    .navbar {
        overflow: auto;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        background: #fff; /*#F68A48;*/
        top: 0;
    }
    #navbar .menu-item.home {
        display: block;;
    }
    body.open-mobile {
        background: #fff !important; /*#F68A48;*/
    }
    body.open-mobile #site {
        display: none;
    }
    body.open-mobile .navbar .navbar-inner {
        height: 100%;
        background-color: #fff; /*#F68A48;*/
    }
    body.open-mobile .navbar #navbar .nav > li {
        background: #fff; /*#F68A48;*/
        display: block;
        margin: 0;
        padding: 10px;
    }
    body.open-mobile .navbar #navbar .nav > li > span .fa:before {
    content: '\f055';
    }
    body.open-mobile .navbar #navbar .nav > li > span.open .fa:before {
    content: '\f056';
    }
    body.open-mobile .navbar #navbar .nav .dropdown-submenu > span .fa:before {
    content: '\f055';
    }
    body.open-mobile .navbar #navbar .nav .dropdown-submenu > span.open .fa:before {
    content: '\f056';
    }
    body.open-mobile .navbar #navbar .nav .fa {
    line-height: 50px;
    }
    #navbar .subnav {
        margin-left: 0;
    }
    .navbar-header {
        position: relative;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 25px;
            margin: 0;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar .nav>li:nth-child(1) {
    display: block;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    #slider, .header-image, #sidebar-header { 
        /*margin-top: 50px;*/
    }
    #footer-menu ul.menu > li > ul.sub-menu {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
    #navbar nav {
        display: block;
        margin-right: 0;
    }
    body.open-mobile .navbar {
    height: 100%;
    overflow: auto;
    }
    #navbar .nav li a {
        line-height: 30px !important;
        padding: 10px 10px !important;
        font-size: initial;
        padding: 0 !important;
    }
    .navbar-nav>li {
    float: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 0;
    /*background-color: #f8f8f8;*/
    }
    .navbar-nav>li li {
    background-color: transparent !important;
    }
    #navbar .search-form {
    position: relative;
    }
    #navbar .nav > li > span {
    display: block !important
        ;
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    padding: 7px 20px 0 0;
    line-height: 50px;
    /*background: #eee;*/
    width: 100px;
    color: #fff;
    border-radius: 0;
    text-align: right;
    font-size: 20px;
    cursor: pointer;
    }
    body.open-mobile .navbar #navbar .nav > li > span .fa:before {
    content: '\f055';
    }
    body.open-mobile .navbar #navbar .nav > li > span.open .fa:before {
    content: '\f056';
    }
    #navbar .nav .dropdown-menu>li>a {
    padding: 3px 20px;
    line-height: 30px;
    border-top: 0px solid rgba(0,0,0,0.1);
    padding-top: 10px;
    padding-bottom: 10px;
    }
    #navbar .nav .dropdown-menu>li>a:before {
    font-family: Fontawesome !important;
    content: '\f0da';
    padding-right: 20px;
    }
    #navbar .nav .dropdown-menu {
    border: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    position: relative;
    float: none;
    padding: 0;
    -moz-column-count: 1 !important;
    -webkit-column-count: 1 !important;
    column-count: 1 !important;
    width: 100% !important;
    border-radius: 0;
    }
    #navbar .nav .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 0;
    background: transparent;
    }
    #navbar .nav .dropdown-submenu > .dropdown-menu > li > a {
    padding-left: 35px !important;
    }
    #navbar .nav .dropdown-submenu > span {
    width: 100px;
    /*background: #eee;*/
    border-radius: 0;
    text-align: right;
    color: #fff;
    line-height: 51px;
    top: 1px;
    position: absolute;
    right: 0;
    font-size: 20px;
    cursor: pointer;
    padding: 0 20px 0 0;
    }
    body.open-mobile .navbar #navbar .nav .dropdown-submenu > span .fa:before {
    content: '\f055';
    }
    body.open-mobile .navbar #navbar .nav .dropdown-submenu > span.open .fa:before {
    content: '\f056';
    }
    body.open-mobile .navbar #navbar .nav .fa {
    line-height: 50px;
    color: #F68A48;
    }
    body.open-mobile .navbar #navbar .nav li:hover .fa, 
    body.open-mobile .navbar #navbar .nav li.active .fa {
    color: #fff;
    }
   .navbar .nav li:hover {
    background: rgba(0,0,0,0.1) !important;
    }
    .navbar-default .navbar-nav >.active,
    .dropdown-menu>.active>a, 
    .dropdown-menu>.active>a:hover, 
    .dropdown-menu>.active>a:focus,
    #navbar .dropdown-menu > li:hover > a, 
    #navbar .dropdown-submenu > li:hover > a {
    background: transparent !important;
    color: #333 !important;
    }
    #navbar .search-form,
    #navbar .search-form .form-group {
    width: 100%;
    margin: 0;
    border: 0 !important;
    }
    #navbar .search-form input.form-control {
    width: 100%;
    display: block;
    line-height: 40px;
    height: 50px;
    padding: 10px 100px 10px 15px;
    }
    #navbar .search-form .btn {
    display: block !important;
    position: absolute;
    top: 15px;
    right: 20px;
    }
    #navbar .search-form .btn .fa {
    font-size: 20px;
    }
    #navbar .search-form .show-search {
    display: none !important;
    }
    #site-content.home h1 {
        font-size: 1.5em;
    }
    #site-main-header .booking-mobile .phone {
        padding-left: 0;
    }
    #site-content.home table, #site-content.home tbody, #site-content.home tr, #site-content.home td {
        display: block;
        border: 0;
        padding: 0;
        float: left;
        clear: both;
        width: 100%
    }
    #site-content.home table ul {
        margin-bottom: 0;
    }
    #site-content.home table {
        margin-bottom: 30px;
    }
    .archive #site-content article img {
        /*
        float: none;
        margin: 0 15px 15px 0;
        */
        width: 80px !important;
        height: inherit !important;
        border: 0;
        padding: 0;
        border-radius: 0;
    }
    .archive #site-content article .entry-title {
        margin: 0 0 15px 95px;
    }
    .archive #site-content article .entry-meta {
        margin: 0 0 10px 95px;
    }
    .archive #site-content article .entry-excerpt {
        margin: 0 0 15px 95px;
    }
    .archive #site-content article .read-more {
        margin: 0px 0px 15px 95px;
    }
    .archive #site-content article {
        border-bottom: 1px solid #ccc;
    }
    #site-content table {
        font-size: 80%;
    }
    #site-content article .prices-table td.description {
    }
    #site-content article .prices-table td.price {
        width: 80px;
    }
    #site-content article .equipment-table td.equipment {
    }

    #site-content article .equipment-table td.price {
        width: 80px;
    }
    #footer-menu {
        display: none;
    }
    #footer-menu ul.menu > li > ul.sub-menu {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
    #site-main-header {
        padding: 0 0px 15px;
    }
    #site-content {
        padding: 0 15px 120px;
    }
    aside {
        clear: both;
    }
    .col-md-3 div.feature {
        width: 100%;
        margin-bottom: 0;
    }
    .col-md-3 div.feature .text {
        width: 201px;
    }
    .widget-ao-rooms .book-now {
        float: none;
    }
    #site-content {
        padding: 0 15px 0;
    }
    #sidebar-bottom1 aside h3 {
        font-size: 20px;
    }
    #sidebar-bottom2 aside .title {
        font-size: 30px !important;
    }
    #sidebar-bottom2 aside .btn {
        height: initial !important;
    }
    .widget-ao-posts .image-left .image, .widget-ao-posts .image-right .image {
        height: 200px !important;
    }
    .archive #site-content.rooms > .row .image-wrapper {
    float: none;
    width: 100%;
    }
    .archive #site-content.meetings .row .meeting .image-wrapper {
    float: none;
    width: 100%;
    }
    .archive #site-content.meetings article .image {
    padding-bottom: 56%;
    }
    h1 {
    font-size: 1.6em;
    }
    #site-main-header .header-image {
        display: none;
    }
    #site-content {
    margin-top: 30px;
    }
    .navbar {
    height: 58px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
    #navbar .menu-item-home {
    display: block !important;
    }
    .navbar-header .logo {
        display: none;
    }
    .navbar-brand {
        background: url('images/logo-a3f.jpg') no-repeat;
        height: 50px;
        width: 150px;
        top: 3px;
        left: 15px;
    }
    .navbar-toggle {
        margin-top: 12px;
    }
    #site-header-top .contact {
    top: 58px;
    position: absolute;
    left: 0;
        right: 0;
        text-align: center;
        background: #eee;
    }
    #site-header-top .contact > div {
    margin: 0 5px;
    }
    #site-header-top .contact .flaticon {
    margin: 0 5px 0 0;
    }
    #site-header-top .contact .flaticon:before {
    font-size: 20px !important;
        margin-left: 0;
    }
    #navbar ul.lang {
    display: block;
    }
    #navbar ul.lang li {
    display: block;
    text-align: left;
    }
    #navbar ul li a {
    font-size: inherit;
    }
    .cycloneslider-template-standard .cycloneslider-slides {
        height: 70% !important; /* 500px !important; */
        min-height: 300px !important;
    }
    .cycloneslider-template-standard .cycloneslider-caption {
    width: 100% !important;
    /*bottom: 0 !important;*/
    top: 0 !important;
    padding-bottom: 0px;
    }
    .cycloneslider-template-standard .cycloneslider-caption-title {
    font-size: 16px !important;
    }
    .cycloneslider-template-standard .cycloneslider-caption-description {
    font-size: 13px !important;
    padding: 0 20px 5px 20px;
    }
    #booking-form .form-group {
    padding-left: 15px;
    padding-right: 15px;
    }
    #booking-form form {
    margin-bottom: 0 !important;
    padding-top: 15px !important;
    }
    form .type_groupe, form .tarif_souhaite {
    width: 50% !important;
    margin: 1px 0 !important;
            height: 125px;
    vertical-align: middle;
    }
    form .type_groupe div, form .tarif_souhaite div {
    width: 100% !important; 
        height: 100%;
    }
    form .form-pager .item {
    width: 25% !important;
    }
    form .form-pager span.step {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
        font-size: 14px !important;
    }
    form .form-pager span.title {
    font-size: 12px !important;
    }
    form .form-pager .line {
    height: 30px !important;
    }
    form .form-inline .input-group {
    margin-bottom: 5px;
        margin-right: 5px;
    }
    form .form-group {
        width: 100%;
    }
    .ui-datepicker-multi .ui-datepicker-group {
    float: none;
    }
    #ui-datepicker-div {
    width: 20em !important;
    }
    .ui-datepicker-multi-2 .ui-datepicker-group {
    width: 100%;
    }
    form input {
    background: #fff !important;
    }
    .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
    }
    form .col-sm-7 {
    padding: 0;
    }
    form .btn-success {
    width: 100%;
    }
}

/*
body.page-id-401 #site-header .inner {
    height: 48px;
    border-radius: 0;
}
body.page-id-401 #site-left-column {
    display: none;
}
body.page-id-401 #site-main-column {
    width: 100% !important;
}
body.page-id-401 #site-content {
    width: 70% !important;
}
body.page-id-401 #site-right-content {
    width: 30% !important;
}
body.page-id-401 #site-content h1.entry-title {
    display: none;
}

body.page-id-401 #site-content h1 {
    color: #f2963e;
    font-size: 3em;
}

body.page-id-401 #site-content ul {
    list-style: none;
    padding-left: 10px;
}

body.page-id-401 #site-content ul li {
    line-height: 1.4em;
}

body.page-id-401 #site-content .entry-content ul li:before {
    font-family: Fontawesome !important;
    font-size: 16px !important;
    content: '\f00c'; 
    display: inline-block;
    width: 30px;
}
body.page-id-401 #site-content ul.sports {
    margin-left: 0;
    padding-left: 0;
    margin-right: -15px;
    clear: both;
}
body.page-id-401 #site-content ul.sports:after {
    clear: both;
}
body.page-id-401 #site-content ul li.sport {
    line-height: 1.4em;
    float: left;
    display: inline-block;
    height: 100px;
    margin: 0 15px 15px 0;
    background-color: rgba(30, 181, 200, 1);
    color: white;
    padding: 20px;
    height: 99px;
    width: 99px;
    line-height: 60px;
    text-align: center;
}
body.page-id-401 #site-content ul li.sport a {
    color: white;
}
body.page-id-401 #site-content ul li.sport i:before {
    font-family: Flaticon;
    font-size: 60px;
    font-style: normal;
    margin-left: 0px;
    color: white;
}
body.page-id-401 #site-content ul li.sport span {
    display: none;
}
body.page-id-401 #site-content ul li.sport:hover i:before {
    display: none;
}
body.page-id-401 #site-content ul li.sport:hover span {
    display: inline-block;
        line-height: 2em;
}
*/

@media (min-width: 1200px) {
    .container {
    }
    #site-main-column {
    }
    .cycloneslider-template-standard .cycloneslider-slides {
        height: 60% !important; /* 500px !important; */
        min-height: 400px !important;
    }
}

/* End of file style.css */
/* Location: ./wp-content/themes/aoa3f/style.css */
