.g-form-row {
zoom:1;
padding:5px 0;
}

.g-form-row:before,.g-form-row:after {
display:table;
content:" ";
}

.g-form-row:after {
clear:both;
}

.g-form-row-label {
margin:0 0 5px;
}

.g-form-row-state {
display:none;
}

.g-form-row.check_correct .g-form-row-state {
display:block;
color:green;
}

.g-form-row.check_wrong .g-form-row-state {
display:block;
color:red;
}

.g-form-row-hint {
font-size:12px;
}

.g-form-group.layout_line .g-form-row-label {
float:left;
text-align:right;
width:150px;
margin:0;
padding:5px 15px 5px 0;
}

.g-form-group.layout_line .g-form-row-field {
float:left;
width:400px;
}

.g-form-group.layout_line .g-form-row-state {
clear:both;
margin:0 0 0 165px;
}

.g-form-group.layout_line .g-form-row-hint {
display:block;
clear:both;
margin:0 0 0 165px;
}

.g-input {
position:relative;
}

input[type="text"],input[type="password"],input[type="email"],input[type="url"],input[type="tel"],input[type="number"],input[type="date"],textarea,select {
border:none;
width:100%;
position:relative;
padding:5px;
}

input[type="text"],input[type="password"],input[type="email"],input[type="url"],input[type="tel"],input[type="number"],input[type="date"],select {
height:30px;
vertical-align:top;
}

select[multiple="multiple"] {
height:auto;
}

textarea {
line-height:20px;
height:120px;
resize:vertical;
}

.g-form-row.check_disabled input[type="text"],.g-form-row.check_disabled input[type="password"],.g-form-row.check_disabled input[type="email"],.g-form-row.check_correct input[type="url"],.g-form-row.check_correct input[type="tel"],.g-form-row.check_correct input[type="number"],.g-form-row.check_correct input[type="date"],.g-form-row.check_disabled textarea,.g-form-row.check_disabled select {
resize:none;
}

.g-radio,.g-checkbox {
display:block;
margin-bottom:6px;
padding-left:20px;
}

.g-radio:first-child,.g-checkbox:first-child {
padding-top:5px;
}

.g-radio > label > input[type="radio"],.g-checkbox > label > input[type="checkbox"] {
position:absolute;
margin:5px 0 0 -20px;
}

.g-btn {
display:inline-block;
vertical-align:middle;
font-size:15px;
line-height:20px;
text-align:center;
text-decoration:none;
white-space:nowrap;
cursor:pointer;
position:relative;
padding:6px 20px;
}

.g-btn:active {
top:1px;
}

.g-btn.disabled,.g-btn.disabled:hover,.g-btn.disabled:active {
top:0;
}

.g-btn.disabled {
opacity:0.5;
cursor:default;
}