/* FRONTEND DISPLAY STYLES */

.bps-last-news-widget {
    overflow: auto;
}
.bps-last-news-widget ul {
	list-style:none;
	padding-left:0;
}
.bps-last-news-widget ul li {
    position: relative;
    clear: both;
}
.bps-last-news-widget ul li .bps-last-news-thumb {
	float:left;	
    width: 120px;
    height: 60px;
    background-size: cover;
	margin: 0 10px 0 0;
    border: 1px solid #ddd;
}
.bps-last-news-widget .fa {
  padding: 0 4px 0 0;
}

.bps-last-news-widget ul li .bps-last-news-excerpt {
	line-height:1;
}

.bps-last-news-widget ul.without-thumb li .bps-last-news-date {
}

@media (min-width: 960px) {
    #sidebar-top-content .bps-last-news-widget ul.with-thumb li,
    #sidebar-bottom-content .bps-last-news-widget ul.with-thumb li{
        width: 50%;
        float: left;
        clear: none;
    }
    #sidebar-top-content .bps-last-news-widget ul.with-thumb li:odd,
    #sidebar-bottom-content .bps-last-news-widget ul.with-thumb li:odd {
        clear: both;
    }
    #sidebar-top-page .bps-last-news-widget ul.with-thumb li,
    #sidebar-bottom-page .bps-last-news-widget ul.with-thumb li{
        width: 33%;
        float: left;
        clear: none;
    }
    #sidebar-top-page .bps-last-news-widget ul.with-thumb li:nth-child(3n+1),
    #sidebar-bottom-page .bps-last-news-widget ul.with-thumb li:nth-child(3n+1){
        clear: both;
    }
}

