.widget-bps-upcoming-events li {
padding: 5px 0;
clear: both;
}
.widget-bps-upcoming-events li a {
color: #bc360a;
}
.widget-bps-upcoming-events .event-date {
display: inline-block;
border: 1px solid #ddd;
border-radius: 5px;
width: 34px;
height: 34px;
background: #f9f9f9;
position: relative;
float: left;
margin: 0 10px 0 0;
/* box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1); */
font-size: 20px;
font-weight: bold;
font-family: PTRegular,'Noto Sans',sans-serif;
}
.widget-bps-upcoming-events .event-date .event-day {
position: absolute;
top: -3px;
width: 34px;
text-align: center;
font-size: 90%;
}
.widget-bps-upcoming-events .event-date .event-month {
position: absolute;
bottom: -1px;
width: 34px;
text-align: center;
font-size: 50%;
}
.widget-bps-upcoming-events .event-title {
line-height: 34px;
}
.widget-bps-upcoming-events .no-event {
padding-left: 10px;
}