/** style.css
 * 
 * Theme Name:	BPS Molenbeek
 * Theme URI:	http://www.molenbeeksports.be/
 * Description:	A WordPress Theme for Molenbeek Sports.
 * Author:		be+SPORTS
 * Author URI:	https://www.beplusports.com/
 * Version:		1.0.0
 * Text Domain:	bpsmolsport
 *
 * Copyright (C) 2018 be+SPORTS <info@beplusports.com>
 *
 */

/*
@font-face
{
    font-family: 'Open Sans Light';
    src: url(css/fonts/OpenSans-Light.ttf);
}
@font-face
{
    font-family: 'Open Sans Light Italic';
    src: url(css/fonts/OpenSans-LightItalic.ttf);
}
@font-face
{
    font-family: 'Open Sans';
    src: url(css/fonts/OpenSans-Regular.ttf);
}
@font-face
{
    font-family: 'Open Sans Italic';
    src: url(css/fonts/OpenSans-Italic.ttf);
}
@font-face
{
    font-family: 'Open Sans Semibold';
    src: url(css/fonts/OpenSans-Semibold.ttf);
}
@font-face
{
    font-family: 'Open Sans Semibold Italic';
    src: url(css/fonts/OpenSans-SemiboldItalic.ttf);
}
@font-face
{
    font-family: 'Open Sans Bold';
    src: url(css/fonts/OpenSans-Bold.ttf);
}
@font-face
{
    font-family: 'Open Sans Bold Italic';
    src: url(css/fonts/OpenSans-BoldItalic.ttf);
}
@font-face
{
    font-family: 'Open Sans ExtraBold';
    src: url(css/fonts/OpenSans-ExtraBold.ttf);
}
@font-face
{
    font-family: 'Open Sans ExtraBold Italic';
    src: url(css/fonts/OpenSans-ExtraBoldItalic.ttf);
}
*/


/***************************************************************************************
 	BASE
 ***************************************************************************************/


html {
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

h1 {
    /*
    font-size: 2.5em;
    line-height: 1.2em;
    margin: 30px 0 25px;
    */
    font-size: 2em;
    line-height: 1em;
    margin: 30px 0 20px;
    font-family: 'Open sans';
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
}

h1.mainsection {
    color: #1eb5c8;
    font-weight: bold;
}

h2 {
    /*
    font-size: 1.6em;
    line-height: 1.4em;
    margin: 25px 0 15px;
    */
    font-size: 1.4em;
    line-height: 1.4em;
    margin: 20px 0 10px;
    color: #f2963e;
}

h3 {
    /*
    font-size: 1.4em;
    line-height: 1.2em;
    margin: 15px 0;
    */
    font-size: 1.2em;
    line-height: 1em;
    margin: 10px 0;
}

aside h3 {
    font-size: 1.1em; 
    line-height: 1.2em;
    margin: 30px 0 15px;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Open sans';
    font-weight: 900;
}

p {
    margin: 0 0 10px;
}

a {
    color: #1EB5C8;
}

.clearfix {
    clear: both;
}

.nowrap {
    white-space: nowrap;
}

/***************************************************************************************
 	STRUCTURE
 ***************************************************************************************/

#site-header {
    margin: 60px auto 0;
}

#site-header > .inner > .container {
    background: white;
}

#site-header .row {
    background-color: #f68a48;
    /*border-radius: 10px 10px 0 0; */
    height: 48px;
    margin-bottom: 15px;
    position: relative;
}

body.fixed #site-header {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 2000;
}

body.fixed #site-header .inner.color {
    background-color: #f68a48;
    -o-transition:1s;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
    margin: 0;
}

#site {
    margin: 0 auto 120px;
}

body.fixed #site {
    margin-top: 125px;
}

#site-center {
    background-color: rgba(30, 181, 200, 0.8);
    color: #fff;
}

#site-left-column {
    padding: 0;
    width: 210px;
    float: left;
}

#site-main-column {
    background-color: #fff !important;
    color: #333;
    padding: 0;
    width: 960px;
    float: left;
}

#site-main {
    padding: 0 15px;
    overflow: hidden;
}

#site-content {
    margin-top: -15px;
    min-height: 700px;
    width: 70% !important;
    padding: 0 30px 120px;
}

#site-right-content {
    background: #D9F4F7;
    /*
    padding-bottom: 99999px;
    margin-bottom: -99999px;
    */
    border-radius: 30px 0 0 0 ;
    width: 30% !important;
    padding: 0 30px 100px;
}

#site-content .row > div:after,
#site-right-content .row > div:after {
    display: block;
    position: absolute;
    height: 100%;
    content: "";
    background-color: #fff;
}


/***************************************************************************************
 	NAVBAR + LOGO
 ***************************************************************************************/

.navbar {
    border: 0px solid transparent;
    margin-bottom: 0;
    min-height: inherit;
}
.navbar-brand {
    float: none;
    padding: 0;
    font-size: 1em;
    line-height: 1em;
    height: inherit;
    position: absolute;
    bottom: 0;
    left: 5px;
}
.navbar-brand img.logo {
    height: 110px;
}
.navbar-brand .title {
    display: none;
}

#navbar {
    padding: 0;
}
#navbar .subnav {
    margin-left: 225px;
}

#navbar ul {
}
    
#navbar ul li {
}
    
#navbar ul li a {
    color: white;
    font-size: 1em;
    line-height: 48px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    padding: 0 30px 0 15px;
}

#navbar .subnav > ul > li > a {
    padding: 0 15px 0 15px;
}

#navbar ul > li:hover {
    background: rgba(0,0,0,0.2);
}
#navbar ul > li:hover a {
    background: transparent !important;
}

#navbar nav {
    display: inline-block;
    vertical-align:top;
    text-align: left;
}

#navbar .nav > li > a {
}

#navbar .nav > li.menu-item-has-children > a {
    padding-right: 0;
    margin-right: 30px;
}

#navbar .nav > li > span {
    position: absolute;
    right: 15px;
    top: 0;
    display: inline-block;
    padding: 0;
    line-height: 50px;
    color: white;
}

#navbar .nav > li > span i:before {
    line-height: 50px;
}

.navigation-default .navigation-nav >.active {
    /*background-color: #e7e7e7;*/
}

.navigation-default .navigation-nav>.active>a, .navigation-default .navigation-nav>.active>a:hover, .navigation-default .navigation-nav>.active>a:focus {
    background-color: transparent;
}

#navbar .nav li.dropdown:hover {
    /*background: #e7e7e7;*/
}

#navbar .nav li.dropdown:hover > ul.dropdown-menu { 
    /*display: block;*/
}

#navbar .nav .dropdown-menu {
    border: 0px solid #ddd !important;
    /*border-top: 0 !important;*/
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.05) !important;
    -moz-box-shadow: 0px 2px 2px rgba(0,0,0,.05) !important;
    box-shadow: 0px 2px 2px rgba(0,0,0,.05) !important;
    background-color: rgba(240,132,69,1); /*rgba(246,138,72,0.95);*/
    padding: 0;
    border-radius: 0; /*0 5px 5px 5px;*/
}

#navbar .nav .dropdown-menu a {
    font-size: 1em;
    line-height: 30px;
    text-transform: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

#navbar .nav .dropdown-submenu {
    position: relative;
}

/*
#navbar .nav .dropdown-submenu > a:after {
font-family: Fontawesome !important;
content: '\f0da';
float: right;
}
*/

#navbar .nav .dropdown-submenu > span {
    position: absolute;
    right: 10px;
    top: 12px;
    color: white;
}

#navbar .nav .dropdown-submenu > .dropdown-menu {
    top: -2px;
    left: 100%;
    /*background: #eee;*/
    border-radius: 0; /*0 5px 5px 5px;*/
    background: rgba(235,133,70,1)
}

#navbar .nav .dropdown-submenu:hover > .dropdown-menu {
    /*display: block;*/
}

#navbar .nav li.menu-item-type-infrastructure > ul.dropdown-menu {
    -moz-column-count: 2; /* Firefox */
    -webkit-column-count: 2; /* Safari and Chrome */
    column-count: 2;
    width: 400px;
}

#navbar .menu-item.hidden-large {
    display: none;
}


/***************************************************************************************
 	SIDEBAR LEFT (SPORTS)
 ***************************************************************************************/

#site-left-column ul.sports {
    margin: 15px 0;
    padding: 0;
    list-style: none;
}

#site-left-column ul.sports li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#site-left-column ul.sports li a {
    color: white;
    padding: 0 0 0 20px; /*0 0 0 15px;*/
    line-height: 3em;
    font-size: 0.8em;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
    display: block;
}

#site-left-column ul.sports li.all a {
    font-weight: 800;
}

#site-left-column ul.sports a .flaticon {
    width: 25px;
    display: inline-block;
    font-weight: normal;
}

#site-left-column ul.sports a .flaticon:before {
    margin-left: 0;
}

#site-left-column ul.sports a:hover,
#site-left-column ul.sports li.active a {
    background: rgba(0, 0, 0, 0.2);
    text-decoration: none;
}


/***************************************************************************************
 	SIDEBAR HEADER
 ***************************************************************************************/

#site-main-header {
    padding: 0 15px 15px;
    position: relative;
}

#site-main-header div.header-image {
    width: 100%;
    height: 200px;
    background-size: cover !important;
    background-position: center;
}

#sidebar-header {
}

#sidebar-header .widget_sp_image img {
    width: 100%;
    height: inherit;
}

#sidebar-header .widget_sp_image-description {
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 2.5em;
    padding: 0 15px;
    text-shadow: 1px 1px 3px rgba(0,0,0,1);
}

.cycloneslider-template-standard {
    margin-bottom: 0 !important;
}

.cycloneslider-template-standard .cycloneslider-pager {
    bottom: 10px !important;
}

.cycloneslider-template-standard .cycloneslider-pager span {
    background: #ccc !important;
}

.cycloneslider-template-standard .cycloneslider-pager span.cycle-pager-active {
    background-color: #fff !important;
}

#site-main-header {
    position: relative;
}

#site-main-header .booking-mobile {
    display: none;
}

#site-main-header .booking {
    background-image: url(images/fds-ovale-320-2.png); 
    background-size: 100%;
    color: white; 
    height: 250px;
    background-repeat: no-repeat;
    margin-top: -100px;
    position: absolute; 
    width: 320px; 
    right: 0; 
    bottom: -150px; 
    font-size: 1.2em;
    z-index: 100;
}

#site-main-header .booking h3 {
    font-size: 26px;
    line-height: 28px;
    margin: 21px 0 10px;
}

#site-main-header .booking .phone {
    padding: 8px 0 0 145px;
}

#site-main-header .booking .flaticon {
    display: inline-block; 
    float: left;
}

#site-main-header .booking .flaticon:before {
    margin-right: 10px; 
    margin-left: 0;
}

#site-main-header .booking .address {
    padding: 0px 0 0 50px;
}
    
#site-main-header .sport {
    margin: 0;
    position: absolute;
    bottom: 16px;
    background-color: rgba(0,0,0,0.4);
    padding: 2px 30px 2px 15px;
    border-radius: 0 20px 0 0;
}

#site-main-header .sport a {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 30px;
}

#site-main-header .sport a .flaticon:before {
    margin: 0 10px 0 0;
    /* width: 30px; */
    display: inline-block;
    text-decoration: none;
    color: white;
    /* background-color: #ccc; */
    line-height: 30px;
    /* border-radius: 50%; */
    /* text-align: center; */
}

#site-main-header .sport .fa {
    color: #fff;
    margin: 0 10px;
}
    

/***************************************************************************************
 	SIDEBAR RIGHT
 ***************************************************************************************/

#sidebar-right-content {
    padding-top: 140px;
}

#sidebar-right-content aside {
    margin-bottom: 15px;
}

.bps-upcoming-events {

}

.widget-bps-upcoming-events .no-event {
    padding-left: 0; 
}

.widget-bps-upcoming-events ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget-bps-upcoming-events ul li {
    position: relative;
    padding: 0;
    margin: 20px 0;
}

.widget-bps-upcoming-events ul li a {
    color: #333;
}

.widget-bps-upcoming-events .event-date {
    display: inline-block;
    border: 0px solid #ddd;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.9);
    position: absolute;
    left: 0;
    top: 0;
    /*box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);*/
    font-size: 20px;
    font-weight: bold;
    font-family: PTRegular,'Noto Sans',sans-serif;
    font-style: italic;
}

.widget-bps-upcoming-events .event-date .event-day {
    position: absolute;
    top: 3px;
    width: 40px;
    text-align: center;
    font-size: 80%;
}

.widget-bps-upcoming-events .event-date .event-month {
    position: absolute;
    bottom: 5px;
    width: 40px;
    text-align: center;
    font-size: 50%;
}

.widget-bps-upcoming-events .event-title {
    font-weight: bold;
    margin-left: 50px;
    line-height: inherit;
    display: block;
}

.widget-bps-upcoming-events p.event-intro {
    margin-left: 50px;
    font-size: 80%;
    /*
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    */
}

.widget-bps-upcoming-events .btn-success {
    color: #fff;
    background-color: #1EB5C8;
    border-color: #4cae4c;
    border: 0;
}

.widget-bpsmolsport-linked .col {
    margin-bottom: 15px;
}

.widget-bpsmolsport-linked a {
    color: #333;
    padding: 0;
    display: block;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    font-style: italic;
}

.widget-bpsmolsport-linked a .flaticon {
    width: 34px;
    display: inline-block;
    font-weight: normal;
    color: #333;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    margin-right: 5px;
}

.widget-bpsmolsport-linked .row {
    margin-right: 0 !important;
}

.widget-bpsmolsport-linked .row .col {
    padding-right: 0 !important;
}

#sidebar-right-content .widget-bpsmolsport-linked .row {
    margin-left: -5px !important;
}

#sidebar-right-content .widget-bpsmolsport-linked .row .col {
    padding-left: 5px !important;
}
 
.widget-bpsmolsport-linked a img {
    width: 100%;
    height: inherit;
    margin-bottom: 5px;
    border: 1px solid #ccc;
}

#sidebar-right-content .widget-bpsmolsport-linked a img {
    border: 0;
}

.widget-bpsmolsport-linked .titles-with-icons .col {
    margin-bottom: 5px;
}

.widget-bpsmolsport-linked .titles-with-icons a {
    display: inline-block;
}

.widget-bpsmolsport-linked .titles-with-icons .title {
    display: inline-block;
}

.widget-bpsmolsport-linked .titles-with-icons .title a:hover {
    text-decoration: underline;
}

.widget-bpsmolsport-linked a .flaticon:before {
    margin-left: 0;
}

.widget-bpsmolsport-linked .logo,
.widget-bpsmolsport-linked .map {
    position: relative;
}

.widget-bpsmolsport-linked .sport {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(30, 181, 200, 1);
    color: white;
    border-radius: 0;
    padding: 2px 15px 2px 5px;
}

.widget-bpsmolsport-linked .sport a {
    color: white;
    line-height: 18px;
}

#sidebar-right-content .widget_sp_image img {
    width: 100%;
    height: inherit;
    margin-bottom: 10px;
}

#sidebar-right-content .widget_sp_image-description {
    font-size: 80%;
}

/***************************************************************************************
 	CONTENT
 ***************************************************************************************/

#site-content h1 {
}

#site-content h2 {
}

#site-content h3 {
}

#site-content table {
    font-size: 1em;
}

#site-content.home h1 {
    color: #f2963e;
    font-size: 2.5em;
    text-transform: none;
}

#site-content.home ul {
    list-style: none;
    padding-left: 6px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
}

#site-content.home li {
    line-height: 1.6em;
}

#site-content.home .presentation li:before { 
    font-family: Flaticon !important;
    font-size: 12px !important;
    content: '\e01f'; /* 046 */
    display: inline-block;
    width: 26px;
}

#site-content .panel {
    /*width: inherit;*/
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
    width: 100%;
}

#site-content .panel-body > div.details.with-image {
    margin-left: 200px;
}

#site-content .panel-body > div.details div {
    white-space: nowrap;
}

#site-content .panel-body div.image {
    position: absolute;
    margin-left: 0;
}

#site-content .panel-body address {
    font-style: italic;
}

#site-content .panel-body .fa {
    display: inline-block;
    width: 30px;
}

#site-content article .entry-meta {
    margin: 0 0 10px;
    color: #ccc;
    font-size: 0.8em;
}

#site-content article .entry-meta > span .fa {
    padding-right: 5px;
    padding-left: 10px;
}

#site-content article .entry-meta > span:first-child .fa {
    padding-left: 0;
}

#site-content article .entry-meta a {
    color: #ccc;
    text-decoration: underline;
}

#site-content article .nav-tabs {
    margin: 15px 0;
}
#site-content article .tab-content {
    margin: 0 0 30px;
}

#site-content article .prices-table td.description {
}

#site-content article .prices-table td.price {
    width: 130px;
}

#site-content article .prices-table tfoot td {
    font-style: italic;
    font-size: 80%;
    text-align: right;
}

#site-content article .equipment-table td.equipment {
}

#site-content article .equipment-table td.price {
    width: 130px;
}

#site-content article .features-table td.feature {
}

#site-content article .features-table td.value {
    width: 260px;
}

#site-content article .entry-logo {
    float: right;
    margin: 0 0 10px 10px;
}
#site-content .schedule-table table {
    margin-bottom: 0px !important;
}
#site-content .schedule-table {
    margin-bottom: 15px !important;
}

.single #site-content article .event-date {
    display: inline-block;
    border: 0px solid #ddd;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,0.9);
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);
    font-size: 20px;
    font-weight: bold;
    font-family: PTRegular,'Noto Sans',sans-serif;
    text-transform: none;
    font-style: italic;
    float: right;
    position: relative;
    border: 1px solid #ddd;
    margin: 0 10px 0px 0;
}

.single #site-content article .event-date .event-day {
    position: absolute;
    top: 15px;
    width: 100px;
    text-align: center;
    font-size: 200%;
}

.single #site-content article .event-date .event-month {
    position: absolute;
    bottom: 15px;
    width: 100px;
    text-align: center;
    font-size: 140%;
    line-height: 1em;
}

#site-content .entry-event {
    font-weight: bold;
    margin: 25px 0;
}


/* === IMAGES - CAROUSEL === */

.carousel .carousel-control {
    height: 60px;
    background: #000;
    top: 50%;
    margin-top: -30px;
    line-height: 60px;
    width: 60px;
    opacity: 0.4;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}
.carousel:hover .carousel-control {
    opacity: 1;
}
.carousel .carousel-control.right {
    border-radius: 10px 0 0 10px;
}
.carousel .carousel-control.left {
    border-radius: 0 10px 10px 0;
}
.carousel .carousel-control span {
    height: 60px;
    line-height: 60px;
    width: 60px;
}
.carousel .carousel-control.right span {
    right: 15px;
}
.carousel .carousel-control.left span {
    left: 15px;
}
.carousel .carousel-indicators {
  bottom: 20px;
}
.carousel .carousel-indicators li {
    box-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}
.carousel .item {
    background-size: cover;
}
.carousel .item .image {
    position: relative;
    width: 100%;
    padding-bottom: 56%;
    height: 0;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 10px;
}
.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
    padding: 0 10px;
    line-height: 20px;
    height: 20px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* === IMAGES - GALLERY === */

.row.gallery {
    margin-left: -15px !important;
    margin-right: 0 !important;
}
.row.gallery .col {
    padding-left: 15px !important;
    padding-right: 0 !important;
}
.row.gallery .item {
    position: relative;
    margin-bottom: 15px;
}
.row.gallery .item img {
    width: 100%;
}
.row.gallery .item .description {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
    padding: 0 10px;
    line-height: 20px;
    height: 20px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* === Share === */

.social-share {
    clear: both;
    margin: 15px 0;
}

.social-share a {
    margin: 0 5px 0 0 !important;
}



/***************************************************************************************
 	ARCHIVE
 ***************************************************************************************/

.archive #site-content article {
    margin: 0 0 0 0;
    clear: both;
    margin: 0 -15px;
    padding: 15px 15px 0;
    overflow: auto;
    position: relative;
}

.archive #site-content article:hover {
    background: #f3f3f3;
}

.archive #site-content article a {
    color: #333;
}

.archive #site-content article a:hover {
    text-decoration: none;
}

.archive #site-content article img {
    float: left;
    margin: 0 15px 15px 0;
}

.archive #site-content article .entry-title {
    color: #f2963e;
    font-size: 1.6em;
    line-height: 1em;
    margin: 0 0 15px 175px;
/*
    font-size: 1.4em;
    line-height: 1.2em;
    margin: 30px 0 15px;
*/
}

.archive #site-content article .entry-meta {
    margin: 0 0 10px 175px;
    color: #ccc;
    font-size: 0.8em;
}

.archive #site-content article .entry-meta .fa {
    padding-right: 5px;
    padding-left: 10px;
}

.archive #site-content article .entry-meta > span:first-child .fa {
    padding-left: 0;
}

.archive #site-content article .entry-meta a {
    color: #ccc;
    text-decoration: underline;
}

.archive #site-content article .entry-excerpt {
    margin: 0 0 15px 175px;
}

.archive #site-content .event-tabs {
    margin: -43px -2px 0 -15px;
}

.archive #site-content .event-tabs li {
    float: right;
}

.archive #site-content article .event-date {
    display: inline-block;
    border: 0px solid #ddd;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.9);
    position: absolute;
    left: 25px;
    top: 25px;
    /*box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);*/
    font-size: 20px;
    font-weight: bold;
    font-family: PTRegular,'Noto Sans',sans-serif;
    text-transform: none;
    font-style: italic;
}

.archive #site-content article .event-date .event-day {
    position: absolute;
    top: 3px;
    width: 40px;
    text-align: center;
    font-size: 80%;
}

.archive #site-content article .event-date .event-month {
    position: absolute;
    bottom: 6px;
    width: 40px;
    text-align: center;
    font-size: 50%;
    line-height: 1em;
}

.archive #site-content article img.thumbnail {
    width: 150px;
    height: 150px;
}

.archive #site-content article .read-more {
    margin: 0px 0px 15px 175px;
}

.archive #site-content article .read-more .btn {
    background: #eee !important;
}

.archive #site-content article:hover .read-more .btn {
    background: rgba(30, 181, 200, 1) !important;
    color: white;
}

.archive #site-content .nav-previous {
    float: left;
}

.archive #site-content .nav-next {
    float: right;
}

.archive #site-content .no-post {
    margin-top: 15px;
}


/***************************************************************************************
 	SIDEBAR BOTTOM CONTENT
 ***************************************************************************************/

/* === Last news === */

.widget-bps-last-news .row {
    margin-left: -15px !important;
    margin-right: 0 !important;
}

.widget-bps-last-news .row .col {
    padding-left: 15px !important;
    padding-right: 0 !important;
    margin-bottom: 15px;
}

.widget-bps-last-news .image {
    position: relative;
    width: 100%;
    padding-bottom: 56%;
    height: 0;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 10px;
}

.widget-bps-last-news .row .col img {
    width: 100%;
    margin-bottom: 10px;
}

.widget-bps-last-news .row .col.col-12 img {
    width: 30%;
    margin-bottom: 0;
    float: left;
    margin-right: 10px;
}

.widget-bps-last-news a {
    color: #333;
}

.widget-bps-last-news .title {
    font-weight: bold;
}

.widget-bps-last-news .content {
    font-size: 80%;
}

.widget-bps-last-news .col-12 .content {
    /*
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    */
}

.widget-bps-last-news .carousel .carousel-control {
    opacity: 0;
    height: 60px;
    background: rgba(255,255,255,0.6);
    top: 55px;
    color: #333;
    text-shadow: 0;
}

.widget-bps-last-news .carousel:hover .carousel-control {
    opacity: 1;
}


/* === Infrastructure === */

.widget-bps-infrastructure {
    border-top: 0px solid #efefef;
    border-bottom: 0px solid #efefef;
    background: transparent;
    padding: 0 0 20px;
}

.widget-bps-infrastructure .row {
    margin-left: -5px;
    margin-right: -5px;
}

.widget-bps-infrastructure .row > div {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

.widget-bps-infrastructure .infrastructure-main {
    position: relative;
    display: none;
}

.widget-bps-infrastructure .infrastructure-main.show {
    display: block;
}

.widget-bps-infrastructure .infrastructure-main img {
    width: 100%;
    max-height: 300px;
}

/*
.widget-bps-infrastructure .infrastructure-main .filter {
    background: url(images/filter.png) bottom left repeat-x !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.widget-bps-infrastructure .infrastructure-main .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
}

.widget-bps-infrastructure .infrastructure-main .caption .inner {
    margin: 0;
    padding: 10px 20px;
}

.widget-bps-infrastructure .infrastructure-main .caption .title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
    text-shadow: 0 2px 3px rgba(0,0,0,.6);
}

.widget-bps-infrastructure .infrastructure-main .caption p {
    text-shadow: 0 2px 3px rgba(0,0,0,.6);
}
*/

.widget-bps-infrastructure .infrastructure-main .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
    padding: 0 10px;
    line-height: 20px;
    height: 20px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.widget-bps-infrastructure .infrastructure-main .caption .title a {
    color: white;
}

.widget-bps-infrastructure .infrastructure-thumbnail {
    width: 100%;
}


/***************************************************************************************
 	FOOTER
 ***************************************************************************************/

#site-footer {
    background: #333;
    /*border-radius: 0 0 10px 10px;*/
    padding: 0;
    color: #fff;
}

#site-footer .inner {
    padding: 0 30px;
}

#site-footer .footer-contacts {
    padding-top: 40px
}

#site-footer .footer-contacts .contact {
    float: left;
    margin: 0px 60px 50px 30px;
}

#site-footer h2 {
    color: #1EB5C8;
}

#site-footer address {
    font-style: italic;
}

#site-footer .fa {
    width: 25px;
}

#site-footer #map {
    width: 100% !important;
    height: 400px;
    border: 0px solid #ccc;
}

#site-footer #map .overlay {
    display: block;
    text-align: center;
    height: 43px;
    width: 32px;
    /* background: transparent no-repeat bottom center; */
    background-size: 32 43px;
    margin-top: -30px;
    margin-left: -7px;
    z-index: 10000;
    position: relative;
}

#footer-menu {
    padding: 30px;
}

#footer-menu > div {
    text-align: center;
}

#footer-menu ul.menu {
    list-style: none;
    overflow: auto;
    margin: 0 0 40px 0;
    padding: 0;
    color: #ccc;
    display: inline-block;
    font-weight: 300;
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

#footer-menu ul.menu > li {
    /*float: left;*/
    margin: 0 20px 0 0;
    padding: 0;
    text-align: left;
    line-height: 1.6em;
    width: 100%;
}

#footer-menu ul.menu > li > a {
    color: #aaa; /*#f2963e;*/
    font-size: 1.6em;
    line-height: 1.4em;
    margin: 25px 0 15px;
    display: block;
}

#footer-menu ul.menu > li > ul.sub-menu {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
    width: 100%;
}

#footer-menu ul.menu > li > ul.sub-menu > li {
    margin: 0;
    padding: 0;
}

#footer-menu ul.menu > li > ul.sub-menu > li > a {
    color: #999;
}

#footer-menu ul.menu > li > ul.sub-menu > li > ul.sub-menu {
    margin: 0;
    padding: 0 0 0 15px;
    color: #666;
}

#footer-menu ul.menu > li > ul.sub-menu > li > ul.sub-menu > li {
    margin: 0;
    padding: 0;
}

#footer-menu ul.menu > li > ul.sub-menu > li > ul.sub-menu > li > a {
    color: #666;
}

#footer-menu ul.menu > li:first-child {
    display: none;
}

#footer-menu ul.menu > li:nth-child(2) > ul.sub-menu {
    margin: 0 0 30px;
}

#copyright {
    color: #999;
    font-size: 0.8em;
    padding: 20px 0;
    text-align: center;
    font-weight: 300;
}

#copyright p {
    display: inline-block;
}

#copyright .legal-menu {
    display: inline-block;
    line-height: 1em;
}

#copyright .legal-menu ul {
    list-style: none;
    padding: 0;
}

#copyright .legal-menu ul li {
    display: inline-block;
    list-style: none;
    border-left: 1px solid #666;
    padding-left: 5px;
    margin-left: 5px;
}

#copyright .legal-menu ul li a {
    color: #999;
}

#copyright .designed-by {
    margin: 10px 0 0;
}

#copyright .designed-by img {
    width: 60px;
    opacity: 0.2;
}


@media (max-width: 1199px) {
    #site-left-column {
        display: none;
    }

    #site-main-column {
        background-color: #fff !important;
        width: 970px;
    }
    #navbar {
        /*text-align: right;*/
        /*padding-right: 20px;*/
    }
    #navbar .subnav > ul > li > a {
        padding: 0 6px 0 6px;
    }
    #navbar .nav > li.menu-item-has-children > a {
        padding-right: 0px;
        margin-right: 10px;
    }
    #navbar .subnav > ul > li > span {
        display: none;
    }
    #navbar .menu-item.hidden-large {
        display: block;
    }
    #navbar .menu-item.home {
        display: none;
    }
}

@media (max-width: 991px) {
    #site-header {
        margin: 40px auto 0px;
    }
    #site-header .row {
        height: 38px;
    }
    .navbar-brand img.logo {
        height: 70px;
    }
    #navbar .subnav {
        margin-left: 150px;
    }
    #navbar ul li a {
        font-size: 0.8em;
        line-height: 38px;
        padding: 0 6px !important;
    }
    .nav > li > span i:before {
        line-height: 38px !important;
    }
    .nav > li.menu-item-has-children > a {
        margin-right: 0 !important;
    }
    #navbar .nav > li > span {
        right: 5px;
        display: none;
    }
    #logo {
        height: 38px;
    }
    #logo a {
        left: 10px;
    }
    #logo a img {
        /* width: 100%; */
        height: 80px;
    }
    #site-main-column {
        background-color: #fff !important;
        width: 100%;
    }
    #site-content {
        width: 100% !important;
        padding-bottom: 20px;
    }
    #site-right-content {
        border-radius: 0;
        width: 100% !important;
    }
    #sidebar-right-content {
        padding-top: 0;
    }
    #site-right-content .col-sm-6:nth-child(odd) {
        clear: both;
    }
    #footer-menu ul.menu > li > ul.sub-menu {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
    #site-footer .footer-contacts {
        padding-top: 25px
    }
    #site-footer .footer-contacts .contact {
        float: none;
    }
    #site-main-header .booking {
        display: none;
    }
    #site-main-header .booking-mobile {
        display: block;
        background: rgba(30, 181, 200, 1); 
        color: white; 
        height: inherit;
        margin-top: 0;
        position: relative; 
        width: 100%; 
        font-size: 1em;
        overflow: auto;
        padding: 10px 15px 5px;
        bottom: inherit;
        right: inherit;
    }

    #site-main-header .booking-mobile .phone {
        width: 50%;
        line-height: 20px;
        display: inline-block;
        padding-left: 20px;
        margin-bottom: 5px;
    }

    #site-main-header .booking-mobile .flaticon {
        display: inline-block;
        float: left;
    }

    #site-main-header .booking-mobile .flaticon:before {
        margin-right: 10px;
        margin-left: 0;
    }

    #site-main-header .booking-mobile .address {
        display: inline-block;
        margin-bottom: 5px;
    }
    #site-main-header .booking-mobile .fa {
        display: inline-block;
        float: left;
        width: 20px;
    }

    #site-main-header .booking-mobile address {
        margin-bottom: 0;
    }
    
    #site-main-header .booking a,
    #site-main-header .booking-mobile a {
        color: white;
    }

    #site-content ul.sports {
        margin-left: 0;
        padding-left: 0;
        margin-right: -15px;
        clear: both;
    }
    #site-content ul.sports:after {
        clear: both;
    }
    #site-content ul li.sport {
        line-height: 1.4em;
        float: left;
        display: inline-block;
        height: 100px;
        margin: 0 15px 15px 0;
        background-color: rgba(30, 181, 200, 1);
        color: white;
        padding: 0;
        height: 99px;
        width: 99px;
        text-align: center;
    }
    #site-content ul li.all {
        display: none;
    }
    #site-content ul li.sport a {
        color: white;
        display: table;
        text-align: center;
        height: 99px;
        width: 99px;
    }
    #site-content ul li.sport i {
        line-height: 100px;
    }
    #site-content ul li.sport i:before {
        font-family: Flaticon;
        font-size: 60px;
        font-style: normal;
        margin-left: 0px;
        color: white;
    }
    #site-content ul li.sport span {
        display: none;
        vertical-align: middle;
    }
    #site-content ul li.sport:hover i:before {
        display: none;
    }
    #site-content ul li.sport:hover span {
        display: table-cell;
        line-height: 2em;
    }
    #site-content aside {
        clear: both;
    }
    
    #site-footer .footer-contacts .contact {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    #site {
        margin: 0px auto;
    }
    #site-header {
        margin: 0px auto;
    }
    #site-header .row {
        height: 50px;
        margin-bottom: 0;
    }
    .navbar-inner {
        height: 50px;
    }
    .navbar-brand img.logo {
        height: 60px;
    }
    .navbar-toggle {
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: rgba(0,0,0,0.2);
    }
    .navbar-toggle .icon-bar {
        background: #fff;
    }
    .navbar {
        overflow: auto;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        background: #f68a48;
        top: 0;
    }
    #navbar .menu-item.home {
        display: block;;
    }
    body.open-mobile {
        background: #F68A48 !important;
    }
    body.open-mobile #site {
        display: none;
    }
    body.open-mobile .navbar .navbar-inner {
        height: 100%;
        background-color: #f68a48;
    }
    body.open-mobile .navbar #navbar .nav > li {
        background: #F68A48;
    }
    body.open-mobile .navbar #navbar .nav > li > span .fa:before {
    content: '\f055';
    }
    body.open-mobile .navbar #navbar .nav > li > span.open .fa:before {
    content: '\f056';
    }
    body.open-mobile .navbar #navbar .nav .dropdown-submenu > span .fa:before {
    content: '\f055';
    }
    body.open-mobile .navbar #navbar .nav .dropdown-submenu > span.open .fa:before {
    content: '\f056';
    }
    body.open-mobile .navbar #navbar .nav .fa {
    line-height: 50px;
    }
    #navbar .subnav {
        margin-left: 0;
    }
    .navbar-header {
        position: relative;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 25px;
            margin: 0;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar .nav>li:nth-child(1) {
    display: block;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    #slider, .header-image, #sidebar-header {
        /*margin-top: 50px;*/
    }
    #footer-menu ul.menu > li > ul.sub-menu {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
    #navbar nav {
        display: block;
        margin-right: 0;
    }
    body.open-mobile .navbar {
    height: 100%;
    overflow: auto;
    }
    #navbar .nav li a {
        line-height: 30px !important;
        padding: 10px 10px !important;
    }
    .navbar-nav>li {
    float: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 0;
    /*background-color: #f8f8f8;*/
    }
    .navbar-nav>li li {
    background-color: rgba(0,0,0,0.1);
    }
    #navbar .search-form {
    position: relative;
    }
    #navbar .nav > li > span {
    display: block !important
        ;
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    padding: 7px 20px 0 0;
    line-height: 50px;
    /*background: #eee;*/
    width: 100px;
    color: #fff;
    border-radius: 0;
    text-align: right;
    font-size: 20px;
    cursor: pointer;
    }
    body.open-mobile .navbar #navbar .nav > li > span .fa:before {
    content: '\f055';
    }
    body.open-mobile .navbar #navbar .nav > li > span.open .fa:before {
    content: '\f056';
    }
    #navbar .nav .dropdown-menu>li>a {
    padding: 3px 20px;
    line-height: 30px;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 10px;
    padding-bottom: 10px;
    }
    #navbar .nav .dropdown-menu>li>a:before {
    font-family: Fontawesome !important;
    content: '\f0da';
    padding-right: 20px;
    }
    #navbar .nav .dropdown-menu {
    border: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    position: relative;
    float: none;
    padding: 0;
    -moz-column-count: 1 !important;
    -webkit-column-count: 1 !important;
    column-count: 1 !important;
    width: 100% !important;
    border-radius: 0;
    }
    #navbar .nav .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 0;
    background: transparent;
    }
    #navbar .nav .dropdown-submenu > .dropdown-menu > li > a {
    padding-left: 35px !important;
    }
    #navbar .nav .dropdown-submenu > span {
    width: 100px;
    /*background: #eee;*/
    border-radius: 0;
    text-align: right;
    color: #fff;
    line-height: 51px;
    top: 1px;
    position: absolute;
    right: 0;
    font-size: 20px;
    cursor: pointer;
    padding: 0 20px 0 0;
    }
    body.open-mobile .navbar #navbar .nav .dropdown-submenu > span .fa:before {
    content: '\f055';
    }
    body.open-mobile .navbar #navbar .nav .dropdown-submenu > span.open .fa:before {
    content: '\f056';
    }
    body.open-mobile .navbar #navbar .nav .fa {
    line-height: 50px;
    }
    .navbar .nav li:hover {
    background: rgba(0,0,0,0.1) !important;
    }
    .navbar-default .navbar-nav >.active,
    .dropdown-menu>.active>a, 
    .dropdown-menu>.active>a:hover, 
    .dropdown-menu>.active>a:focus,
    #navbar .dropdown-menu > li:hover > a, 
    #navbar .dropdown-submenu > li:hover > a {
    background: transparent !important;
    color: #333 !important;
    }
    #navbar .search-form,
    #navbar .search-form .form-group {
    width: 100%;
    margin: 0;
    border: 0 !important;
    }
    #navbar .search-form input.form-control {
    width: 100%;
    display: block;
    line-height: 40px;
    height: 50px;
    padding: 10px 100px 10px 15px;
    }
    #navbar .search-form .btn {
    display: block !important;
    position: absolute;
    top: 15px;
    right: 20px;
    }
    #navbar .search-form .btn .fa {
    font-size: 20px;
    }
    #navbar .search-form .show-search {
    display: none !important;
    }
    #site-content.home h1 {
        font-size: 1.5em;
    }
    #site-main-header .booking-mobile .phone {
        padding-left: 0;
    }
    #site-content.home table, #site-content.home tbody, #site-content.home tr, #site-content.home td {
        display: block;
        border: 0;
        padding: 0;
        float: left;
        clear: both;
        width: 100%
    }
    #site-content.home table ul {
        margin-bottom: 0;
    }
    #site-content.home table {
        margin-bottom: 30px;
    }
    .archive #site-content article img {
        /*
        float: none;
        margin: 0 15px 15px 0;
        */
        width: 80px !important;
        height: inherit !important;
        border: 0;
        padding: 0;
        border-radius: 0;
    }
    .archive #site-content article .entry-title {
        margin: 0 0 15px 95px;
    }
    .archive #site-content article .entry-meta {
        margin: 0 0 10px 95px;
    }
    .archive #site-content article .entry-excerpt {
        margin: 0 0 15px 95px;
    }
    .archive #site-content article .read-more {
        margin: 0px 0px 15px 95px;
    }
    .archive #site-content article {
        border-bottom: 1px solid #ccc;
    }
    #site-content table {
        font-size: 80%;
    }
    #site-content article .prices-table td.description {
    }
    #site-content article .prices-table td.price {
        width: 80px;
    }
    #site-content article .equipment-table td.equipment {
    }

    #site-content article .equipment-table td.price {
        width: 80px;
    }
    #footer-menu {
        display: none;
    }
    #footer-menu ul.menu > li > ul.sub-menu {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
    #site-main-header {
        padding: 0 0px 15px;
    }
    #site-content {
        padding: 0 15px 120px;
    }
    aside {
        clear: both;
    }
}

/*
body.page-id-401 #site-header .inner {
    height: 48px;
    border-radius: 0;
}
body.page-id-401 #site-left-column {
    display: none;
}
body.page-id-401 #site-main-column {
    width: 100% !important;
}
body.page-id-401 #site-content {
    width: 70% !important;
}
body.page-id-401 #site-right-content {
    width: 30% !important;
}
body.page-id-401 #site-content h1.entry-title {
    display: none;
}

body.page-id-401 #site-content h1 {
    color: #f2963e;
    font-size: 3em;
}

body.page-id-401 #site-content ul {
    list-style: none;
    padding-left: 10px;
}

body.page-id-401 #site-content ul li {
    line-height: 1.4em;
}

body.page-id-401 #site-content .entry-content ul li:before {
    font-family: Fontawesome !important;
    font-size: 16px !important;
    content: '\f00c'; 
    display: inline-block;
    width: 30px;
}
body.page-id-401 #site-content ul.sports {
    margin-left: 0;
    padding-left: 0;
    margin-right: -15px;
    clear: both;
}
body.page-id-401 #site-content ul.sports:after {
    clear: both;
}
body.page-id-401 #site-content ul li.sport {
    line-height: 1.4em;
    float: left;
    display: inline-block;
    height: 100px;
    margin: 0 15px 15px 0;
    background-color: rgba(30, 181, 200, 1);
    color: white;
    padding: 20px;
    height: 99px;
    width: 99px;
    line-height: 60px;
    text-align: center;
}
body.page-id-401 #site-content ul li.sport a {
    color: white;
}
body.page-id-401 #site-content ul li.sport i:before {
    font-family: Flaticon;
    font-size: 60px;
    font-style: normal;
    margin-left: 0px;
    color: white;
}
body.page-id-401 #site-content ul li.sport span {
    display: none;
}
body.page-id-401 #site-content ul li.sport:hover i:before {
    display: none;
}
body.page-id-401 #site-content ul li.sport:hover span {
    display: inline-block;
        line-height: 2em;
}
*/


.cycloneslider-template-standard div[data-cycle-dynamic-height="off"] .cycloneslider-slide-image {
    height: 400px !important;
}
@media (max-width: 767px) {
    .cycloneslider-template-standard div[data-cycle-dynamic-height="off"] .cycloneslider-slide-image {
        height: 200px !important;
    }
}

/* End of file style.css */
/* Location: ./wp-content/themes/bpsmolsport/style.css */
