/* ADMIN FORM STYLE TWEAKS */
input[type="number"].small-number {
	width:60px;
	padding:0 4px;
}

input[type="checkbox"].checkbox-margin {
	margin:4px 0;
}

span.float-right-field {
	float:right;
	clear:right;
}