@font-face
{
font-family: PTBold;
src: url(../fonts/PT_Sans-Narrow-Web-Bold.ttf);
}
@font-face
{
font-family: PTRegular;
src: url(../fonts/PT_Sans-Narrow-Web-Regular.ttf);
}

html,body {
height:auto;
overflow-x:hidden;
}

a {
color:#fff; /*d13a7a*/
text-decoration:none;
-webkit-transition:padding .2s ease-out,color .2s ease-out,background-color .2s ease-out,box-shadow .2s ease-out,border .2s ease-out;
transition:padding .2s ease-out,color .2s ease-out,background-color .2s ease-out,box-shadow .2s ease-out,border .2s ease-out;
}

.l-body {
position:static;
background-color:#ddd;
}

.l-canvas {
background-color:#cf2730;
color:#fff;
}

.l-canvas.type_boxed,.l-canvas.type_boxed .l-subheader,.l-canvas.type_boxed + .l-footer .l-subfooter {
max-width:1240px;
margin:0 auto;
}

.l-canvas.type_wide .l-subheader-h,.l-canvas.type_wide .l-submain-h,.l-canvas.type_wide + .l-footer .l-subfooter-h,.l-canvas.type_boxed .l-subheader-h,.l-canvas.type_boxed .l-submain-h,.l-canvas.type_boxed + .l-footer .l-subfooter-h {
max-width:1140px;
}

.l-subheader.at_top {
display:none;
line-height:36px;
height:36px;
padding-left:40px;
padding-right:40px;
position:relative;
background-color:#f5f5f5;
}

.l-subheader.at_middle {
line-height:120px;
height:120px;
padding-left:40px;
padding-right:40px;
position:relative;
box-shadow:0 2px 3px -1px rgba(0,0,0,0.1);
background-color:#cf2730;
}

.l-subheader.at_bottom {
display:none;
clear:both;
line-height:50px;
padding-left:40px;
padding-right:40px;
position:relative;
background-color:#f5f5f5;
}

.l-subheader-h {
height:100%;
position:relative;
}

.l-canvas.headerpos_fixed .l-header {
position:fixed;
left:0;
width:100%;
z-index:101;
}

.l-canvas.headertype_advanced .l-subheader.at_bottom {
display:block;
box-shadow:0 2px 3px -1px rgba(0,0,0,0.1);
}

.l-main {
z-index:1;
box-shadow:0 1px 8px rgba(0,0,0,0.05);
}

.l-canvas.headerpos_fixed .l-main {
padding-top:120px;
}

.l-canvas.headerpos_fixed.headertype_extended .l-main {
padding-top:120px;
}

.l-canvas.headerpos_fixed.headertype_advanced .l-main {
padding-top:150px;
}

.l-submain {
position:relative;
padding:50px 40px;
}

.l-submain-bg {
position:absolute;
top:0;
left:0;
height:100%;
width:100%;
background-position:center center;
-webkit-background-size:cover;
background-size:cover;
}

.l-submain.for_pagehead {
box-shadow:0 -2px 3px -1px rgba(0,0,0,0.1) inset;
padding:30px 40px 32px;
}

.l-submain.for_pagehead.color_alternate {
box-shadow:0 -2px 3px -1px rgba(0,0,0,0.06) inset;
}

.l-submain.full_width {
padding-left:0;
padding-right:0;
}

.l-submain.full_height {
padding-top:0;
padding-bottom:0;
}

.no-touch .l-submain.parallax_ver .l-submain-bg {
background-attachment:fixed;
}

.l-submain.parallax_hor .l-submain-bg {
display:block;
width:130%;
}

.l-submain.parallax_hor.bgwidth_110 .l-submain-bg {
width:110%;
}

.l-submain.parallax_hor.bgwidth_120 .l-submain-bg {
width:120%;
}

.l-submain.parallax_hor.bgwidth_140 .l-submain-bg {
width:140%;
}

.l-submain.parallax_hor.bgwidth_150 .l-submain-bg {
width:150%;
}

.l-submain.color_alternate {
background-color:#f2f2f2;
color:#555;
}

.l-submain.color_primary {
background-color:#000; /*d13a7a*/
color:rgba(255,255,255,0.8);
}

.l-submain.color_primary .g-html h1,.l-submain.color_primary .g-html h2,.l-submain.color_primary .g-html h3,.l-submain.color_primary .g-html h4,.l-submain.color_primary .g-html h5,.l-submain.color_primary .g-html h6 {
color:#fff;
text-shadow:0 1px 3px rgba(0,0,0,0.1);
}

.l-submain.color_primary .g-hr-h i {
color:rgba(255,255,255,0.5);
}

.color_primary .g-btn.type_contrast.outlined:before {
background-color:#fff;
}

.color_primary .g-btn.type_contrast {
background-color:#fff;
color:#444;
}

.no-touch .color_primary .g-btn.type_contrast:hover {
color:#222;
}

.l-submain.bg_fade:before {
display:block;
content:'';
position:absolute;
top:0;
left:0;
height:100%;
width:100%;
z-index:1;
}

.l-submain.bg_fade.black_30:before {
background-color:rgba(0,0,0,0.3);
}

.l-submain.bg_fade.black_50:before {
background-color:rgba(0,0,0,0.5);
}

.l-submain.bg_fade.white_30:before {
background-color:rgba(255,255,255,0.3);
}

.l-subfooter.at_top {
font-size:13px;
line-height:21px;
background-color:#1a1a1a;
color:gray;
padding:50px 40px 20px;
}

.l-subfooter.at_top p {
font-size:13px;
line-height:21px;
margin:0 0 20px;
}

.l-subfooter.at_top h1,.l-subfooter.at_top h2,.l-subfooter.at_top h3,.l-subfooter.at_top h4,.l-subfooter.at_top a {
color:#ccc;
}

.l-subfooter.at_bottom {
font-size:13px;
line-height:20px;
background-color:#222;
color:#666;
padding:30px 40px;
}

.no-touch .l-subfooter.at_bottom a:hover {
border-bottom:1px solid;
color:#fff;
}

.l-sidebar .widget {
margin-bottom:50px;
}

body,p,td {
font:14px/24px 'Open Sans',sans-serif;
}

h1 {
font-size:38px;
line-height:48px;
}

h2 {
font-size:32px;
line-height:42px;
}

h3 {
font-size:26px;
line-height:36px;
}

h4 {
font-size:22px;
line-height:32px;
}

h5 {
font-size:20px;
line-height:30px;
}

h1,h2,h3,h4,h5,h6 {
font-family: PTBold,'Noto Sans',sans-serif;
margin-bottom:24px;
color:#FFF;
}

.g-html ul,.g-html ol {
margin-left:35px;
margin-bottom:24px;
}

.g-html ul {
list-style-type:disc;
}

.g-html ol {
list-style-type:decimal;
}

.g-html ul li,.g-html ol li {
margin-bottom:6px;
padding-left:2px;
}

.g-html ul > li ul,.g-html ul > li ol,.g-html ol > li ul,.g-html ol > li ol {
margin-bottom:6px;
margin-top:6px;
}

.g-html img.alignleft {
display:inline;
float:left;
margin-right:20px;
margin-bottom:20px;
}

.g-html img.alignright {
display:inline;
float:right;
margin-left:20px;
margin-bottom:20px;
}

.g-html img.aligncenter {
clear:both;
display:block;
margin-left:auto;
margin-right:auto;
}

.no-touch .g-html a.image-link:hover {
border-bottom:none;
}

.g-html a.image-link img {
-webkit-transition:opacity .25s ease-out;
transition:opacity .25s ease-out;
}

.no-touch .g-html a.image-link:hover img {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
opacity:0.8;
}

.g-html pre {
font-size:12px;
line-height:18px;
margin-bottom:24px;
border-radius:5px;
background-color:#333;
color:#fff;
padding:10px;
}

.g-html blockquote {
font-size:16px;
line-height:26px;
font-style:italic;
border-left:5px solid #000; /*d13a7a*/
margin:0 0 24px;
padding:0 0 0 32px;
}

.g-html blockquote:before {
display:none;
content:'\201C';
position:absolute;
top:0;
left:0;
font-size:60px;
line-height:60px;
height:60px;
width:40px;
}

.g-html blockquote q,.g-html blockquote p {
font:inherit;
margin:0;
}

.g-html blockquote cite {
display:block;
font-size:80%;
margin-top:8px;
}

.g-hr {
font-size:0;
text-align:center;
height:20px;
width:100%;
overflow:hidden;
position:relative;
clear:both;
margin:35px 0;
padding:2px 0;
}

.g-hr-h:before,.g-hr-h:after {
display:inline-block;
content:"";
height:1px;
width:50%;
margin-top:7px;
vertical-align:top;
position:relative;
background-color:#e8e8e8;
}

.g-hr-h:before {
left:-13px;
margin-left:-50%;
}

.g-hr-h:after {
left:13px;
margin-right:-50%;
}

.g-hr-h i {
font-size:16px;
line-height:16px;
height:16px;
width:20px;
vertical-align:top;
text-align:center;
color:#e8e8e8;
}

.g-hr.size_small {
margin:25px 0;
}

.g-hr.size_big {
margin:45px 0;
}

.g-hr.size_huge {
margin:65px 0;
}

.g-hr.type_invisible {
height:0;
margin:20px 0;
}

.g-hr.type_invisible.size_small {
margin:10px 0;
}

.g-hr.type_invisible.size_big {
margin:30px 0;
}

.g-hr.type_invisible.size_huge {
margin:50px 0;
}

.g-hr.type_short {
width:30%;
margin-left:auto!important;
margin-right:auto!important;
}

.g-hr.type_simple .g-hr-h:before {
left:0;
margin-left:0;
width:100%;
}

.g-html .highlight {
color:#31c5c7;
}

.g-html .thin {
font-weight:300;
}

.g-html .align_right {
text-align:right;
}

.g-html .align_justify {
text-align:justify;
}

.g-form-row {
padding:0 0 16px;
}

.g-form-row-label {
margin:0 0 6px;
}

input[type="text"],input[type="password"],input[type="email"],input[type="url"],input[type="tel"],input[type="number"],input[type="date"],textarea,select {
border:none;
border-radius:5px;
font-size:15px;
-webkit-transition:all .25s ease-out;
transition:all .25s ease-out;
box-shadow:0 0 0 2px transparent,0 1px 0 rgba(0,0,0,0.08) inset;
background-color:#f2f2f2;
color:#444;
padding:8px;
}

input[type="text"],input[type="password"],input[type="email"],input[type="url"],input[type="tel"],input[type="number"],input[type="date"],select {
height:42px;
vertical-align:top;
}

input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="tel"]:focus,input[type="number"]:focus,input[type="date"]:focus,textarea:focus,select:focus {
box-shadow:0 0 0 2px #000; /*d13a7a*/
}

.g-form-row.check_wrong input[type="text"],.g-form-row.check_wrong input[type="password"],.g-form-row.check_wrong input[type="email"],.g-form-row.check_wrong input[type="url"],.g-form-row.check_wrong input[type="tel"],.g-form-row.check_wrong input[type="number"],.g-form-row.check_wrong input[type="date"],.g-form-row.check_wrong textarea,.g-form-row.check_wrong select {
box-shadow:0 0 0 1px #000;
border-color:#000;
}

.g-form-row.check_correct input[type="text"],.g-form-row.check_correct input[type="password"],.g-form-row.check_correct input[type="email"],.g-form-row.check_correct input[type="url"],.g-form-row.check_correct input[type="tel"],.g-form-row.check_correct input[type="number"],.g-form-row.check_correct input[type="date"],.g-form-row.check_correct textarea,.g-form-row.check_correct select {
box-shadow:0 0 0 1px #5a0;
border-color:#5a0;
}

.g-form-row.check_disabled input[type="text"],.g-form-row.check_disabled input[type="password"],.g-form-row.check_disabled input[type="email"],.g-form-row.check_disabled input[type="url"],.g-form-row.check_disabled input[type="tel"],.g-form-row.check_disabled input[type="number"],.g-form-row.check_disabled input[type="date"],.g-form-row.check_disabled textarea,.g-form-row.check_disabled select {
opacity:0.7;
box-shadow:none!important;
border-color:transparent!important;
}

.g-form.protected-post-form .g-input {
width:250px;
margin:5px 10px 5px 0;
}

.g-btn,input[type="submit"] {
font-family:'Open Sans';
font-size:15px;
line-height:22px;
font-weight:700;
text-transform:uppercase;
border:none!important;
border-radius:5px;
overflow:hidden;
-webkit-transition:color .25s ease-out,background-color .25s ease-out;
transition:color .25s ease-out,background-color .25s ease-out;
margin:5px 0;
padding:10px 36px;
}

.no-touch .g-btn:before {
display:block;
content:'';
position:absolute;
top:0;
left:0;
width:100%;
height:0;
background-color:rgba(0,0,0,0.12);
-webkit-transition:height .25s ease-out;
transition:height .25s ease-out;
}

.g-btn i {
font-size:1em;
line-height:inherit;
margin:0 10px 0 -2px;
}

.g-btn.size_small,input.g-btn.size_small {
font-size:13px;
border-radius:4px;
padding:8px 26px;
}

.g-btn.size_big,input.g-btn.size_big {
font-size:18px;
padding:16px 50px;
}

.g-btn.outlined {
background-color:transparent!important;
}

.g-btn.type_default {
background-color:#e8e8e8;
color:#666;
}

.g-btn.type_default.outlined:before {
background-color:#e8e8e8;
}

.g-btn.type_primary.outlined:before {
background-color:#000; /*d13a7a*/
}

.g-btn.type_secondary {
background-color:#666;
color:#fff;
}

.g-btn.type_secondary:before {
background-color:rgba(0,0,0,0.18);
}

.g-btn.type_secondary.outlined {
box-shadow:0 0 0 2px #666 inset;
color:#666;
}

.g-btn.type_secondary.outlined:before {
background-color:#666;
}

.g-btn.type_contrast {
background-color:#444;
color:#fff;
}

.g-btn.type_contrast.outlined {
box-shadow:0 0 0 2px #444 inset;
color:#444;
}

.g-btn.type_contrast.outlined:before {
background-color:#444;
}

.g-btn.type_pink {
background-color:#ff6b6b;
color:#fff;
}

.g-btn.type_pink.outlined {
box-shadow:0 0 0 2px #ff6b6b inset;
color:#ff6b6b;
}

.g-btn.type_pink.outlined:before {
background-color:#ff6b6b;
}

.g-btn.type_blue {
background-color:#5ac8ed;
color:#fff;
}

.g-btn.type_blue.outlined {
box-shadow:0 0 0 2px #5ac8ed inset;
color:#5ac8ed;
}

.g-btn.type_blue.outlined:before {
background-color:#5ac8ed;
}

.g-btn.type_midnight {
background-color:#2c3e50;
color:#fff;
}

.g-btn.type_midnight.outlined {
box-shadow:0 0 0 2px #2c3e50 inset;
color:#2c3e50;
}

.g-btn.type_midnight.outlined:before {
background-color:#2c3e50;
}

.g-btn.type_purple {
background-color:#8560a8;
color:#fff;
}

.g-btn.type_purple.outlined {
box-shadow:0 0 0 2px #8560a8 inset;
color:#8560a8;
}

.g-btn.type_purple.outlined:before {
background-color:#8560a8;
}

.g-btn.type_navy {
background-color:#1265a8;
color:#fff;
}

.g-btn.type_navy.outlined {
box-shadow:0 0 0 2px #1265a8 inset;
color:#1265a8;
}

.g-btn.type_navy.outlined:before {
background-color:#1265a8;
}

.g-btn.type_green {
background-color:#59ba41;
color:#fff;
}

.g-btn.type_green.outlined {
box-shadow:0 0 0 2px #59ba41 inset;
color:#59ba41;
}

.g-btn.type_green.outlined:before {
background-color:#59ba41;
}

.g-btn.type_yellow {
background-color:#fac000;
color:#fff;
}

.g-btn.type_yellow.outlined {
box-shadow:0 0 0 2px #fac000 inset;
color:#fac000;
}

.g-btn.type_yellow.outlined:before {
background-color:#fac000;
}

.g-btn.type_teal {
background-color:#008b83;
color:#fff;
}

.g-btn.type_teal.outlined {
box-shadow:0 0 0 2px #008b83 inset;
color:#008b83;
}

.g-btn.type_teal.outlined:before {
background-color:#008b83;
}

.g-btn.type_brown {
background-color:#6a4530;
color:#fff;
}

.g-btn.type_brown.outlined {
box-shadow:0 0 0 2px #6a4530 inset;
color:#6a4530;
}

.g-btn.type_brown.outlined:before {
background-color:#6a4530;
}

.g-btn.type_cream {
background-color:#f5ddbf;
color:#605c57;
}

.g-btn.type_cream.outlined {
box-shadow:0 0 0 2px #f5ddbf inset;
color:#605c57;
}

.no-touch .g-btn.type_cream.outlined:hover {
color:#605c57;
}

.g-btn.type_cream.outlined:before {
background-color:#f5ddbf;
}

.g-btn.type_red {
background-color:#f40;
color:#fff;
}

.g-btn.type_red.outlined {
box-shadow:0 0 0 2px #f40 inset;
color:#f40;
}

.g-btn.type_red.outlined:before {
background-color:#f40;
}

.g-btn.type_lime {
background-color:#baeb59;
color:#656c57;
}

.g-btn.type_lime.outlined {
box-shadow:0 0 0 2px #baeb59 inset;
color:#656c57;
}

.no-touch .g-btn.type_lime.outlined:hover {
color:#656c57;
}

.g-btn.type_lime.outlined:before {
background-color:#baeb59;
}

.g-alert {
border-radius:5px;
padding:0 20px;
}

.g-alert-close {
right:-38px;
top:12px;
font-size:20px;
text-align:center;
line-height:30px;
height:30px;
width:30px;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
opacity:0.3;
-webkit-transition:opacity .25s ease-out;
transition:opacity .25s ease-out;
}

.g-alert-body {
padding:15px 0;
}

.g-pagination-item {
font-size:17px;
line-height:50px;
height:50px;
width:50px;
position:relative;
overflow:hidden;
border-radius:50%;
box-shadow:0 0 0 2px #e8e8e8 inset;
color:#666;
margin:0 3px;
padding:0;
}

.g-pagination-item.active {
box-shadow:none!important;
background-color:#000; /*d13a7a*/
color:#fff!important;
}

.g-pagination-item.to_prev,.g-pagination-item.to_next {
display:none;
width:auto;
box-shadow:none;
padding:0 35px 0 15px;
}

.w-actionbox {
margin-bottom:0;
border-radius:5px;
padding:30px 40px;
}

.w-actionbox-text h1,.w-actionbox-text h2,.w-actionbox-text h3,.w-actionbox-text h4 {
margin:0!important;
}

.w-actionbox-text h3 + p {
margin:12px 0 0;
}

.w-actionbox-controls {
margin-top:30px;
}

.w-actionbox-button.g-btn {
margin:4px 8px;
}

.g-html .w-actionbox.color_primary h1,.g-html .w-actionbox.color_primary h2,.g-html .w-actionbox.color_primary h3,.g-html .w-actionbox.color_primary h4,.g-html .w-actionbox.color_primary h5,.g-html .w-actionbox.color_primary h6 {
color:#fff;
text-shadow:0 1px 1px rgba(0,0,0,0.1);
}

.w-actionbox.color_primary .w-actionbox-text a {
color:#111;
}

.l-submain.color_alternate .w-actionbox.color_alternate,.l-submain.color_primary .w-actionbox.color_primary {
background-color:transparent;
padding:0;
}

.w-blog-entry {
padding-bottom:35px;
border-bottom:1px solid #e8e8e8;
}

.w-blog-entry.sticky {
margin-left:-20px;
margin-right:-20px;
border-radius:5px;
border:2px solid #000; /*d13a7a*/
padding:20px 20px 25px;
}

.w-blog-entry.format-image .w-blog-entry-preview:after,.w-blog-entry.format-standard .w-blog-entry-preview:after {
display:block;
content:'';
position:absolute;
top:0;
left:0;
height:100%;
width:100%;
border-radius:3px;
-webkit-transition:background-color .25s ease-out;
transition:background-color .25s ease-out;
}

.no-touch .w-blog-entry.format-image .w-blog-entry-link:hover .w-blog-entry-preview:after,.no-touch .w-blog-entry.format-standard .w-blog-entry-link:hover .w-blog-entry-preview:after {
background-color:rgba(255,255,255,0.35);
}

.w-blog-entry.format-video .w-blog-entry-preview {
height:0;
padding-bottom:56.25%;
overflow:hidden;
}

.w-blog-entry.format-video .w-blog-entry-preview iframe,.w-blog-entry.format-video .w-blog-entry-preview object,.w-blog-entry.format-video .w-blog-entry-preview embed {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

.w-blog-entry-title {
margin-bottom:16px;
color:#444;
padding:0;
}

.w-blog-entry-title-h {
-webkit-transition:color .25s ease-out;
transition:color .25s ease-out;
}

.w-blog-entry-short {
margin-bottom:-4px;
padding-top:8px;
}

.w-blog-entry-meta-date i,.w-blog-entry-meta-author i,.w-blog-entry-meta-tags i,.w-blog-entry-meta-comments i {
font-size:14px;
margin-right:4px;
margin-left:1px;
color:#999;
}

.w-blog.imgpos_atleft .w-blog-entry-preview {
border-radius:50%;
max-width:350px;
}

.w-blog.imgpos_atleft .w-blog-entry.format-audio .w-blog-entry-preview,.w-blog.imgpos_atleft .w-blog-entry.format-gallery .w-blog-entry-preview,.w-blog.imgpos_atleft .w-blog-entry.format-link .w-blog-entry-preview,.w-blog.imgpos_atleft .w-blog-entry.format-quote .w-blog-entry-preview,.w-blog.imgpos_atleft .w-blog-entry.format-status .w-blog-entry-preview,.w-blog.imgpos_atleft .w-blog-entry.format-video .w-blog-entry-preview {
height:auto;
padding-bottom:0;
border-radius:0;
}

.w-blog.imgpos_atleft .w-blog-entry.format-audio .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-gallery .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-link .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-quote .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-status .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-video .w-blog-entry-preview-icon {
display:block;
height:0;
width:100%;
padding-bottom:100%;
position:relative;
border-radius:50%;
-webkit-transition:color .25s ease-out;
transition:color .25s ease-out;
background-color:#f2f2f2;
color:#999;
}

.w-blog.imgpos_atleft .w-blog-entry.format-audio .w-blog-entry-preview-icon i,.w-blog.imgpos_atleft .w-blog-entry.format-gallery .w-blog-entry-preview-icon i,.w-blog.imgpos_atleft .w-blog-entry.format-link .w-blog-entry-preview-icon i,.w-blog.imgpos_atleft .w-blog-entry.format-quote .w-blog-entry-preview-icon i,.w-blog.imgpos_atleft .w-blog-entry.format-status .w-blog-entry-preview-icon i,.w-blog.imgpos_atleft .w-blog-entry.format-video .w-blog-entry-preview-icon i {
display:block;
position:absolute;
top:50%;
left:50%;
font-size:50px;
text-align:center;
line-height:80px;
height:80px;
width:80px;
border-radius:50%;
margin:-40px 0 0 -40px;
}

.w-blog.type_masonry .w-blog-list {
overflow:visible!important;
margin:0;
}

.w-blog.type_masonry .w-blog-entry {
border:none;
margin-bottom:0;
text-align:center;
width:33.333333%;
box-shadow:0 1px 1px rgba(0,0,0,0);
-webkit-transition:box-shadow .25s ease-out;
transition:box-shadow .25s ease-out;
padding:0;
}

.no-touch .w-blog.type_masonry .w-blog-entry:hover {
box-shadow:0 2px 20px rgba(0,0,0,0.2);
z-index:3;
}

.w-blog.type_masonry .w-blog-entry.sticky {
border:none;
border-radius:0;
margin:0;
padding:0;
}

.w-blog.type_masonry .w-blog-entry-preview:before {
display:block;
content:'';
position:absolute;
bottom:-17px;
left:50%;
margin-left:-15px;
height:30px;
width:30px;
border-radius:5px;
z-index:1;
-webkit-transform:rotate(45deg);
transform:rotate(45deg);
background-color:#fff;
}

.w-blog.type_masonry .w-blog-entry-title {
font-size:20px;
line-height:30px;
margin-bottom:0;
padding:20px 30px 15px;
}

.w-blog.type_masonry .w-blog-entry-body {
padding:0 30px 30px;
}

.w-blog.type_masonry .w-blog-entry.format-video .w-blog-entry-preview {
display:block;
height:60px;
margin-bottom:-10px;
font-size:33px;
padding:20px 0 0;
}

.w-blog.type_masonry .w-blog-entry.format-video .w-blog-entry-preview-icon {
-webkit-transition:color .25s ease-out;
transition:color .25s ease-out;
color:#999;
}

.w-blog.type_masonry .w-blog-entry.format-quote .w-blog-entry-title blockquote {
font-size:18px;
line-height:26px;
font-style:italic;
border:none;
margin:0;
padding:0;
}

.w-blog.type_masonry .w-blog-entry-meta-date,.w-blog.type_masonry .w-blog-entry-meta-author,.w-blog.type_masonry .w-blog-entry-meta-tags,.w-blog.type_masonry .w-blog-entry-meta-comments {
font-size:12px;
line-height:16px;
color:#999;
margin:0 10px 15px;
}

.w-blog.type_masonry .w-blog-entry-short {
display:block;
padding-top:0;
}

.w-blog-load {
text-align:center;
height:58px;
padding-top:20px;
}

.w-blog-load .w-blog-entry-more {
vertical-align:top;
margin:0;
}

.w-bloglist {
border-bottom:1px solid #e8e8e8;
padding:30px 0 25px;
}

.w-bloglist-title i {
margin-right:8px;
}

.w-bloglist-entry {
margin-bottom:8px;
}

.w-bloglist-entry-short {
display:block;
font-size:14px;
line-height:20px;
clear:both;
padding:6px 0;
}

.w-bloglist.date_atbottom {
background:none;
border-bottom:none;
margin-bottom:0;
padding:0;
}

.w-bloglist.date_atbottom .w-bloglist-entry {
line-height:22px;
margin-bottom:16px;
}

.w-bloglist.date_atbottom .w-bloglist-entry-date {
margin-top:3px;
margin-right:10px;
}

.w-bloglist.date_atbottom .w-bloglist-entry-author {
display:block;
margin-top:3px;
}

.w-blogpost {
padding-bottom:50px;
border-bottom:1px solid #e8e8e8;
}

.w-blogpost-meta {
margin-bottom:10px;
color:#999;
}

.w-blogpost-meta-tags {
margin-bottom:10px;
margin-right:25px;
vertical-align:top;
}

.w-blogpost.meta_all .w-blogpost-meta-tags {
display:inline-block;
}

.w-blogpost-meta-date i,.w-blogpost-meta-author i,.w-blogpost-meta-tags i,.w-blogpost-meta-comments i {
font-size:16px;
margin-right:4px;
}

.w-blogpost .w-tags {
margin-top:50px;
}

.l-canvas.col_cont .w-blogpost-meta div {
margin:0 12px 15px;
}

.w-cart {
float:right;
height:100%;
margin-left:20px;
position:relative;
z-index:1;
}

.w-cart-link {
display:block;
font-size:20px;
text-align:center;
border:none;
color:#666;
}

.w-cart-quantity {
font-size:16px;
font-weight:700;
line-height:1;
color:#000; /*d13a7a*/
margin:0 1px 0 4px;
}

.w-clients-itemgroup {
width:100%;
background-color:#fff;
}

.w-clients-item {
border:2px solid transparent;
border-radius:5px;
overflow:hidden;
-webkit-transition:border .25s ease-out;
transition:border .25s ease-out;
}

.w-clients-item:hover {
border-color:#000; /*d13a7a*/
}

.l-submain.color_primary .w-clients-item:hover {
border-color:#fff;
}

.w-clients-item img {
margin:0 auto;
}

.w-clients.columns_5 .w-clients-item {
height:136px;
width:204px;
margin-right:30px;
}

.w-clients-nav {
top:50%;
margin-top:-25px;
font-size:30px;
text-align:center;
line-height:50px;
height:50px;
width:50px;
border-radius:50%;
box-shadow:0 0 0 2px transparent inset;
color:#666;
}

.w-clients-nav.to_prev {
left:-70px;
}

.w-clients-nav.to_prev:before {
display:block;
content:'\f104';
font-family:FontAwesome;
margin-right:3px;
}

.w-clients-nav.to_next {
right:-70px;
}

.w-clients-nav.to_next:before {
display:block;
content:'\f105';
font-family:FontAwesome;
margin-left:3px;
}

.w-clients-nav.disabled,.w-clients-nav.disabled:hover {
cursor:default;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
opacity:0.3;
box-shadow:none!important;
color:#666;
}

.w-comments {
margin-top:40px;
}

.w-comments-title i {
margin-right:10px;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);
opacity:0.4;
}

.w-comments-list {
padding-bottom:5px;
}

.w-comments-item {
padding-top:30px;
border-top:1px solid #e8e8e8;
}

.w-comments-list > .w-comments-item:first-child {
border-top:none;
}

.w-comments-item-meta {
margin-bottom:15px;
}

.w-comments-item-icon {
top:30px;
line-height:0;
border-radius:50%;
overflow:hidden;
}

.w-comments-item-date {
float:none;
font-size:13px;
color:#999;
}

.w-comments-item-text {
margin-bottom:-6px;
}

.w-comments .g-pagination {
font-size:13px;
text-align:center;
}

.w-comments .g-pagination a {
margin:0 10px;
}

.w-comments-form-title {
font-size:20px;
line-height:30px;
margin:0 0 20px;
}

.w-comments-form-text {
margin:0 0 24px;
}

.l-main .w-contacts-list {
font-size:0;
margin:0 -20px -20px;
}

.l-main .w-contacts-item {
display:inline-block;
vertical-align:middle;
min-height:50px;
margin-bottom:20px;
position:relative;
padding:0 20px;
}

.l-main .w-contacts-item i {
position:absolute;
top:0;
left:20px;
text-align:center;
font-size:20px;
line-height:50px;
height:50px;
width:50px;
border-radius:50%;
box-shadow:0 0 0 2px #fff inset; /*d13a7a*/
color:#fff; /*d13a7a*/
}

.l-main .w-contacts-item-value {
font-size:16px;
line-height:26px;
white-space:normal;
margin:12px 0 0 65px;
}

.l-subheader .w-contacts {
margin-right:15px;
font-size:13px;
color:#999;
}

.l-subheader.at_middle .w-contacts {
float:right;
line-height:36px;
margin-top:42px;
}

.l-subheader .w-contacts-list {
margin:0 -10px;
}

.l-subheader .w-contacts-item {
display:inline-block;
vertical-align:top;
overflow:visible;
white-space:nowrap;
margin:0 10px;
}

.l-subheader .w-contacts-item i {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
opacity:0.5;
}

.l-subheader .w-contacts-item-value {
display:inline-block;
vertical-align:top;
margin:0 0 0 5px;
}

.l-subfooter .w-contacts-item i {
display:block;
position:absolute;
top:0;
left:0;
text-align:center;
font-size:18px;
line-height:21px;
height:21px;
width:21px;
}

.l-subfooter .w-contacts-item-value {
margin:0 0 12px 36px;
}

.w-counter {
text-align:center;
max-width:300px;
margin:0 auto;
}

.w-counter-number {
font:70px/70px 'Noto Sans';
color:#444;
}

.w-counter h6.w-counter-title {
font-size:16px;
line-height:24px;
margin:0;
padding:10px 0 8px;
}

.w-filters {
text-align:center;
font-size:0;
background-color:#f2f2f2;
}

.w-filters-item {
float:none;
display:inline-block;
vertical-align:top;
font-size:14px;
}

.w-filters-item-link {
height:50px;
line-height:50px;
color:#666;
padding:0 15px;
}

.w-filters-item.active .w-filters-item-link,.no-touch .w-filters-item.active .w-filters-item-link:hover {
background-color:#fff;
color:#000; /*d13a7a*/
}

.w-gallery-tnail-title {
display:block;
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
-webkit-transition:box-shadow .25s ease-out;
transition:box-shadow .25s ease-out;
box-shadow:0 0 0 1px transparent inset;
padding:0;
}

.no-touch .w-gallery-tnail:hover .w-gallery-tnail-title {
box-shadow:0 0 0 8px #fff inset;
}

.w-gallery.type_masonry .w-gallery-tnail {
margin:0;
padding:0;
}

.w-gallery.size_xs .w-gallery-tnail {
height:114px;
width:114px;
margin:0;
}

.w-gallery.size_s .w-gallery-tnail {
height:190px;
width:190px;
margin:0;
}

.w-gallery.size_m .w-gallery-tnail {
height:228px;
width:228px;
margin:0;
}

.w-gallery.size_l .w-gallery-tnail {
height:285px;
width:285px;
margin:0;
}

.w-icon {
display:inline-block;
vertical-align:top;
margin:4px;
}

.w-icon-link:hover {
border:none!important;
}

.w-icon.with_circle {
text-align:center;
border-radius:50%;
overflow:hidden;
}

.w-icon.color_border .w-icon-link {
color:#e8e8e8;
}

.w-icon.color_border.with_circle .w-icon-link {
background-color:#e8e8e8;
color:#fff;
}

.w-icon.color_primary.with_circle .w-icon-link {
background-color:#000; /*d13a7a*/
color:#fff!important;
}

.w-icon.color_secondary.with_circle .w-icon-link {
background-color:#666;
color:#fff!important;
}

.w-icon.size_tiny {
font-size:24px;
}

.w-icon.size_tiny.with_circle {
font-size:16px;
line-height:36px;
height:36px;
width:36px;
}

.w-icon.size_small.with_circle {
font-size:24px;
line-height:48px;
height:48px;
width:48px;
}

.w-icon.size_medium {
font-size:48px;
}

.w-icon.size_medium.with_circle {
font-size:32px;
line-height:60px;
height:60px;
width:60px;
}

.w-icon.size_big {
font-size:68px;
}

.w-icon.size_big.with_circle {
font-size:48px;
line-height:86px;
height:86px;
width:86px;
}

.w-icon.size_huge {
font-size:90px;
}

.w-icon.size_huge.with_circle {
font-size:64px;
line-height:110px;
height:110px;
width:110px;
}

.w-iconbox-link {
display:inline;
}

.w-iconbox-icon {
position:relative;
-webkit-transition:color .3s ease-out;
transition:color .3s ease-out;
color:#000; /*d13a7a*/
}

.w-iconbox-icon i {
vertical-align:top;
line-height:inherit;
}

.w-iconbox-icon-img {
display:inline-block;
vertical-align:middle;
height:auto;
margin:0 auto;
}

.w-iconbox .w-iconbox-title {
margin-bottom:0;
-webkit-transition:color .3s ease-out;
transition:color .3s ease-out;
}

.w-iconbox-text p,.w-iconbox-text ul,.w-iconbox-text ol {
margin-bottom:12px;
}

.w-iconbox.iconpos_left .w-iconbox-icon {
position:absolute;
top:0;
left:1px;
font-size:36px;
line-height:40px;
height:40px;
width:40px;
}

.w-iconbox.iconpos_left.with_circle .w-iconbox-icon {
font-size:28px;
line-height:70px;
height:70px;
width:70px;
}

.w-iconbox.iconpos_left .w-iconbox-icon-img {
max-width:36px;
}

.w-iconbox.iconpos_left.with_circle .w-iconbox-icon-img {
max-width:30px;
}

.w-iconbox.iconpos_left .w-iconbox-title {
margin-left:55px;
padding-top:5px;
padding-bottom:15px;
}

.w-iconbox.iconpos_left.with_circle .w-iconbox-title {
margin-left:96px;
margin-bottom:0;
padding-top:0;
}

.w-iconbox.iconpos_left.with_circle .w-iconbox-text {
margin-left:96px;
}

.w-iconbox.iconpos_top {
text-align:center;
max-width:350px;
margin:0 auto;
}

.w-iconbox.iconpos_top .w-iconbox-icon {
font-size:70px;
line-height:90px;
height:90px;
width:90px;
margin:0 auto;
}

.w-iconbox.iconpos_top .w-iconbox-icon-img {
max-width:60px;
}

.w-iconbox.iconpos_top.with_circle .w-iconbox-icon-img {
max-width:40px;
}

.w-iconbox.iconpos_top .w-iconbox-title {
padding:10px 0 18px;
}

.w-iconbox.iconpos_top.with_circle .w-iconbox-title {
padding:18px 0 15px;
}

.w-iconbox.with_circle .w-iconbox-icon {
text-align:center;
overflow:hidden;
border-radius:50%;
box-shadow:0 0 0 2px #000 inset; /*d13a7a*/
}

.no-touch .w-iconbox.with_circle.with_img .w-iconbox-link:hover .w-iconbox-icon:before {
height:0;
}

.l-subheader.at_middle .w-lang {
float:right;
line-height:36px;
height:36px;
margin-right:20px;
margin-top:42px;
}

.w-lang.layout_dropdown .w-lang-list {
padding-top:36px;
box-shadow:0 1px 10px rgba(0,0,0,0.1);
-moz-box-sizing:content-box;
box-sizing:content-box;
}

.w-lang-item {
padding:0 30px 0 10px;
}

.w-lang-list .w-lang-item {
line-height:30px;
background-color:#f5f5f5;
color:#999;
}

.w-lang-item-title {
font-size:13px;
vertical-align:top;
}

.w-lang-current {
position:relative;
cursor:pointer;
-webkit-transition:color .25s ease-out;
transition:color .25s ease-out;
color:#999;
}

.w-lang-current:before {
display:block;
content:"\f107";
position:absolute;
top:0;
right:10px;
font-size:20px;
font-family:FontAwesome;
cursor:pointer;
}

.w-links-item {
line-height:22px;
position:relative;
padding:7px 18px;
}

.w-links-anchor {
display:inline;
position:static;
padding:0;
}

.w-links-anchor:before {
display:block;
position:absolute;
top:8px;
left:2px;
content:'\f105';
font-size:16px;
font-family:FontAwesome;
font-style:normal;
font-weight:400;
color:#999;
}

.w-logo {
float:left;
height:100%;
}

.w-logo-link {
display:block;
height:100%;
color:#666;
}

.no-touch .w-logo-link:hover {
color:#333;
}

.w-logo-img {
display:inline-block;
vertical-align:middle;
max-height:100%;
height:80px;
-webkit-transition:height .1s ease;
transition:height .1s ease;
}

.l-header.state_sticky .w-logo-img {
height:30px;
}

.w-logo-title {
font-family:'Noto Sans';
line-height:inherit;
}

.w-map img {
max-width:none;
}

.w-map label {
display:inline;
width:auto;
}

.l-subheader .w-nav-control {
float:right;
font-size:21px;
text-align:center;
height:auto;
width:50px;
cursor:pointer;
color:#666;
}

.l-subheader.at_bottom .w-nav-control {
float:none;
text-align:left;
}

.l-subheader .w-nav-list.level_2,.l-subheader .w-nav-list.level_3 {
min-width:200px;
box-shadow:0 8px 15px rgba(0,0,0,0.1);
}

.l-subheader .w-nav-item {
font-size:16px;
line-height:inherit;
}

.l-subheader .w-nav-anchor.level_1 {
height:100%;
color:#fff;
padding:0 20px;
}

.l-subheader .w-nav-arrow {
display:none;
position:absolute;
top:0;
right:0;
font-family:FontAwesome;
font-size:20px;
font-weight:400;
line-height:inherit;
height:100%;
width:20px;
}

.l-subheader .w-nav-item.level_2.has_sublevel .w-nav-anchor.level_2 .w-nav-arrow {
display:block;
line-height:40px;
}

.l-subheader .w-nav-item.level_2.has_sublevel .w-nav-anchor.level_2 .w-nav-arrow:before {
content:'\f105';
}

.l-subheader .w-nav-item.level_2.has_sublevel .w-nav-anchor.level_2 .w-nav-title {
padding-right:20px;
}

.no-touch .l-subheader .w-nav-anchor.level_1:after {
display:block;
content:'';
position:relative;
left:0;
top:-43px;
height:0px;
width:100%;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
opacity:0;
-webkit-transition:all .25s ease-out;
transition:all .25s ease-out;
background-color:#000;
margin:0 auto -2px;
}

.no-touch .l-subheader.at_middle .w-nav-item.level_1:hover .w-nav-anchor.level_1:after {
top:-47px;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
opacity:1;
}

.no-touch .l-header.state_sticky .l-subheader.at_middle .w-nav-anchor.level_1:after {
top:-13px;
}

.no-touch .l-header.state_sticky .l-subheader.at_middle .w-nav-item.level_1:hover .w-nav-anchor.level_1:after {
top:-17px;
}

.no-touch .l-subheader.at_bottom .w-nav-anchor.level_1:after {
display:none;
top:-8px;
}

.no-touch .l-subheader.at_bottom .w-nav-item.level_1:hover .w-nav-anchor.level_1:after {
top:-12px;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
opacity:1;
}

.l-subheader .w-nav-anchor.level_2,.l-subheader .w-nav-anchor.level_3 {
font-size:14px;
line-height:20px;
white-space:nowrap;
-webkit-transition:color .1s ease-out,background-color .1s ease-out;
transition:color .1s ease-out,background-color .1s ease-out;
background-color:#fff;
color:#666;
padding:10px 20px;
}

.l-subheader .w-nav.touch_enabled {
float:none;
}

.l-subheader .w-nav.touch_enabled .w-nav-list.level_1 {
clear:both;
margin:0 -40px;
padding:0 40px;
}

.l-subheader .w-nav.touch_enabled .w-nav-item {
float:none;
width:100%;
line-height:26px;
box-shadow:0 1px 0 rgba(0,0,0,0.06) inset;
}

.l-subheader .w-nav.touch_enabled .w-nav-item.level_1.has_sublevel .w-nav-anchor.level_1 .w-nav-arrow,.l-subheader .w-nav.touch_enabled .w-nav-item.level_2.has_sublevel .w-nav-anchor.level_2 .w-nav-arrow {
display:block;
font-size:26px;
text-align:center;
line-height:46px;
width:50px;
}

.l-subheader .w-nav.touch_enabled .w-nav-item.level_1.has_sublevel .w-nav-anchor.level_1 .w-nav-title,.l-subheader .w-nav.touch_enabled .w-nav-item.level_2.has_sublevel .w-nav-anchor.level_2 .w-nav-title {
padding-right:50px;
}

.l-subheader .w-nav.touch_enabled .w-nav-list.level_2,.l-subheader .w-nav.touch_enabled .w-nav-list.level_3 {
display:block;
position:relative;
left:0;
top:0;
box-shadow:none;
padding:0 0 0 20px;
}

.l-subheader .w-nav.touch_enabled .w-nav-anchor.level_2,.l-subheader .w-nav.touch_enabled .w-nav-anchor.level_3 {
line-height:26px;
}

.l-subheader .w-nav.touch_enabled .w-nav-anchor.level_1,.l-subheader .w-nav.touch_enabled .w-nav-anchor.level_2,.l-subheader .w-nav.touch_enabled .w-nav-anchor.level_3 {
text-align:left;
background-color:transparent!important;
margin:0;
padding:10px 0;
}

.w-nav.layout_ver .w-nav-list {
list-style:none;
margin:0;
}

.w-nav.layout_ver .w-nav-list .w-nav-anchor {
font-size:15px;
line-height:25px;
border-bottom:1px solid #e8e8e8;
color:#666;
padding:9px 20px 10px;
}

.w-nav.layout_ver .w-nav-list .w-nav-anchor:before {
display:block;
position:absolute;
top:10px;
left:2px;
content:'\f105';
font-family:FontAwesome;
font-style:normal;
font-weight:400;
color:#999;
}

.no-touch .w-nav.layout_ver .w-nav-list .w-nav-anchor:hover {
color:#000; /*d13a7a*/
padding:9px 16px 10px 24px;
}

.w-nav.layout_ver .w-nav-list .w-nav-anchor.level_2 {
padding:9px 20px 10px 40px;
}

.w-nav.layout_ver .w-nav-list .w-nav-anchor.level_2:before {
left:22px;
}

.no-touch .w-nav.layout_ver .w-nav-item.level_2:hover .w-nav-anchor.level_2 {
padding:9px 16px 10px 44px;
}

.w-nav.layout_ver .w-nav-list .w-nav-anchor.level_3 {
padding:9px 20px 10px 60px;
}

.w-nav.layout_ver .w-nav-list .w-nav-anchor.level_3:before {
left:42px;
}

.no-touch .w-nav.layout_ver .w-nav-item.level_3:hover .w-nav-anchor.level_3 {
padding:9px 16px 10px 64px;
}

.l-subfooter.at_bottom .w-nav-item {
font-size:inherit;
line-height:inherit;
}

.l-subfooter.at_bottom .w-nav-anchor.level_1 {
display:inline;
margin:0 10px;
padding:0;
}

.w-pagehead p {
line-height:22px;
color:#999;
margin:6px 0 0;
}

.l-submain.color_primary .w-pagehead p {
color:#fff!important;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
opacity:0.7;
}

.w-pagehead .g-breadcrumbs {
font-size:13px;
line-height:24px;
margin:8px 0 4px;
}

.g-breadcrumbs-item {
margin:0 4px;
}

.g-breadcrumbs-separator {
display:inline-block;
vertical-align:top;
width:6px;
height:9px;
margin:0 4px;
}

.w-pagehead-nav {
font-size:0;
text-align:center;
overflow:hidden;
margin:16px 0 -6px;
}

.w-pagehead-nav .w-pagehead-nav-h .w-pagehead-nav-item {
display:inline-block;
vertical-align:top;
font-size:30px;
line-height:50px;
height:50px;
width:50px;
border-radius:50%;
box-shadow:0 0 0 2px transparent inset;
color:#999;
margin:0 2px;
}

.w-pagehead-nav .w-pagehead-nav-h .w-pagehead-nav-item.type_all {
font-size:21px;
}

.w-pagehead-nav .w-pagehead-nav-h .w-pagehead-nav-item.type_all:before {
display:block;
content:'\f00a';
font-family:FontAwesome;
margin-top:2px;
}

.w-pagehead-nav .w-pagehead-nav-h .w-pagehead-nav-item.type_next:before {
display:block;
content:'\f105';
font-family:FontAwesome;
margin-left:2px;
}

.w-pagehead-nav .w-pagehead-nav-h .w-pagehead-nav-item.type_prev:before {
display:block;
content:'\f104';
font-family:FontAwesome;
margin-right:2px;
}

.w-pagehead.type_row h1 {
float:left;
font-size:24px;
line-height:34px;
margin:3px 0;
}

.w-pagehead.type_row p {
float:left;
margin:12px 0 0 22px;
}

.w-pagehead.type_row .w-pagehead-nav {
float:right;
margin:-5px 0;
}

.w-portfolio-list-h {
margin:5px -5px;
}

.w-portfolio-item {
margin-bottom:0;
padding:5px;
}

.w-portfolio.columns_5 .w-portfolio-item {
width:20%;
}

.w-portfolio.columns_5.type_sortable .w-portfolio-item {
width:19.9999%;
}

.w-portfolio.columns_4 .w-portfolio-item {
width:25%;
}

.w-portfolio.columns_4.type_sortable .w-portfolio-item {
width:24.96%;
}

.w-portfolio.columns_3 .w-portfolio-item {
width:33.33333333%;
}

.w-portfolio.columns_3.type_sortable .w-portfolio-item {
width:33.3%;
}

.w-portfolio.columns_2 .w-portfolio-item {
width:50%;
}

.w-portfolio.columns_2.type_sortable .w-portfolio-item {
width:49.9999%;
}

.w-portfolio-item-anchor {
display:block;
overflow:hidden;
}

.w-portfolio-item-image {
position:static;
overflow:visible;
z-index:10;
}

.no-touch .w-portfolio-item-image {
height:0;
padding-bottom:66.6666%;
}

.no-touch .w-portfolio.ratio_4-3 .w-portfolio-item-image {
padding-bottom:75%;
}

.no-touch .w-portfolio.ratio_1-1 .w-portfolio-item-image {
padding-bottom:100%;
}

.no-touch .w-portfolio.ratio_3-4 .w-portfolio-item-image {
padding-bottom:133.3333%;
}

.no-touch .w-portfolio.ratio_2-3 .w-portfolio-item-image {
padding-bottom:150%;
}

.w-portfolio-item-meta {
position:relative;
background-color:#fff;
padding:0;
}

.no-touch .w-portfolio-item-meta {
position:absolute;
-webkit-transform:translateY(100%);
transform:translateY(100%);
-webkit-transition:0 .25s ease-out;
transition:transform .25s ease-out;
}

.no-touch .w-portfolio-item-anchor:hover .w-portfolio-item-meta {
-webkit-transform:translateY(0);
transform:translateY(0);
}

.w-portfolio .w-portfolio-item .w-portfolio-item-title {
font:15px/22px 'Open Sans',sans-serif;
text-align:center;
color:#444;
margin:0;
padding:14px;
}

.w-portfolio-item-arrow {
display:block;
position:absolute;
top:-10px;
left:50%;
margin-left:-15px;
height:24px;
width:24px;
border-radius:5px;
-webkit-transform:rotate(45deg);
transform:rotate(45deg);
-webkit-transition:top .25s ease-out;
transition:top .25s ease-out;
background-color:#fff;
}

.no-touch .w-portfolio-item-arrow {
top:4px;
}

.no-touch .w-portfolio-item-anchor:hover .w-portfolio-item-arrow {
top:-10px;
}

.no-touch .w-portfolio-item-image-first {
-webkit-transition:margin .25s ease-out;
transition:margin .25s ease-out;
margin:0;
}

.no-touch .w-portfolio-item-anchor:hover .w-portfolio-item-image-first {
margin-top:-30px;
}

.no-touch .w-portfolio-item-image-second {
display:inline-block;
-webkit-transition:margin .5s ease-out;
transition:margin .5s ease-out;
margin:0;
}

.no-touch .w-portfolio.ratio_1-1 .w-portfolio-item-image-second {
-webkit-transition:margin .3s ease-out;
transition:margin .3s ease-out;
}

.no-touch .w-portfolio-item-anchor:hover .w-portfolio-item-image-second {
margin-top:-100%;
}

.no-touch .w-portfolio.ratio_3-4 .w-portfolio-item-anchor:hover .w-portfolio-item-image-second {
margin-top:-126%;
}

.no-touch .w-portfolio.ratio_2-3 .w-portfolio-item-anchor:hover .w-portfolio-item-image-second {
margin-top:-142%;
}

.w-pricing-item-h {
border-bottom:1px solid #e8e8e8;
box-shadow:1px 0 0 rgba(0,0,0,0.08) inset;
margin:10px 0;
}

.w-pricing-item:first-child .w-pricing-item-h {
border-radius:8px 0 0 8px;
}

.w-pricing-item:last-child .w-pricing-item-h {
border-radius:0 8px 8px 0;
}

.l-submain.color_primary .w-pricing-item-h {
border-color:0 solid #fff;
}

.w-pricing-item-title {
font:20px/20px 'Noto Sans',sans-serif;
box-shadow:1px 0 0 rgba(0,0,0,0.05) inset;
background-color:#f2f2f2;
color:#444;
padding:25px 0 10px;
}

.w-pricing-item:first-child .w-pricing-item-title {
border-radius:8px 0 0 0;
}

.w-pricing-item:last-child .w-pricing-item-title {
border-radius:0 8px 0 0;
}

.w-pricing-item-price {
font:300 44px/44px 'Noto Sans',sans-serif;
box-shadow:1px 0 0 rgba(0,0,0,0.05) inset;
background-color:#f2f2f2;
color:#444;
padding:0 20px 20px;
}

.w-pricing-item-price small {
display:block;
font-size:13px;
line-height:22px;
font-weight:400;
margin-top:4px;
}

.w-pricing-item .w-pricing-item-features li {
margin:0;
padding:10px;
}

.w-pricing-item-footer {
padding:30px 0;
}

.w-pricing-item.type_featured .w-pricing-item-h {
position:relative;
box-shadow:0 1px 10px rgba(0,0,0,0.15);
border-radius:8px;
margin:0;
}

.w-pricing-item.type_featured .w-pricing-item-title {
border-radius:8px 8px 0 0;
box-shadow:none;
background-color:#000; /*d13a7a*/
color:#fff;
padding:30px 0 15px;
}

.w-pricing-item.type_featured .w-pricing-item-price {
box-shadow:none;
background-color:#000; /*d13a7a*/
color:#fff;
}

.w-pricing-item.type_featured .w-pricing-item-footer {
padding-bottom:40px;
}

.w-search {
margin-bottom:40px;
}

.w-search-form {
min-width:100px;
}

.w-search-input input {
padding:0 10px;
}

.w-search.submit_inside .w-search-input input {
padding-right:42px;
}

.w-search.submit_inside .w-search-submit {
border:none;
height:42px;
width:42px;
top:0;
right:0;
padding:0;
}

.w-search.submit_inside .w-search-submit:before {
display:block;
position:absolute;
top:0;
left:12px;
content:'\f002';
font-size:16px;
line-height:40px;
font-family:FontAwesome;
font-style:normal;
font-weight:400;
-webkit-transition:color .25s ease-out;
transition:color .25s ease-out;
color:#999;
}

.w-search.submit_inside .w-search-submit input {
position:absolute;
top:0;
left:0;
height:42px;
width:42px;
text-indent:-9999px;
box-shadow:none!important;
background:none;
border:none;
margin:0;
padding:0;
}

.l-subheader .w-search {
float:right;
line-height:inherit;
height:100%;
width:36px;
position:relative;
z-index:11;
margin:0 0 0 10px;
}

.l-subheader .w-search-show {
display:block;
font-size:18px;
line-height:inherit;
text-align:center;
color:#fff;
}

.l-subheader .w-search-show i {
line-height:inherit;
vertical-align:top;
}

.l-subheader .w-search-form {
position:fixed;
left:0;
top:-100%;
height:100%;
width:100%;
z-index:100;
color:#fff;
}

.l-subheader .w-search-form:before {
display:block;
content:'';
position:absolute;
left:0;
top:0;
height:100%;
width:100%;
z-index:-1;
opacity:0.96;
background-color:#000; /*d13a7a*/
}

.l-subheader .w-search-form-h {
display:table;
height:100%;
width:100%;
}

.l-subheader .w-search-form-row {
display:table-cell;
vertical-align:middle;
text-align:center;
width:100%;
}

.l-subheader .w-search-label {
font-size:2em;
line-height:1.6em;
color:#fff;
}

.l-subheader .w-search-input {
width:80%;
margin:0 auto;
}

.l-subheader .w-search-input input {
font-size:5em;
line-height:1em;
text-align:center;
height:auto;
border:none;
border-radius:0;
box-shadow:none!important;
background-color:transparent;
color:#fff;
padding:0;
}

.l-subheader .w-search-close {
display:block;
position:absolute;
top:0;
right:0;
font-size:40px;
line-height:80px;
height:80px;
width:80px;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
opacity:0.5;
color:#fff;
}

.w-shortblog.columns_2 .w-shortblog-list,.w-shortblog.columns_3 .w-shortblog-list {
margin-left:-30px;
margin-right:-30px;
}

.w-shortblog.columns_2 .w-shortblog-entry,.w-shortblog.columns_3 .w-shortblog-entry {
min-height:75px;
padding-left:30px;
padding-right:30px;
}

.w-shortblog.date_atleft .w-shortblog-entry-title,.w-shortblog.date_atleft .w-shortblog-entry-meta,.w-shortblog.date_atleft .w-shortblog-entry-short {
margin-left:110px;
}

.w-shortblog-entry-title {
margin-bottom:16px;
}

.w-shortblog-entry-title-h {
color:#000; /*d13a7a*/
-webkit-transition:color .25s ease-out;
transition:color .25s ease-out;
}

.no-touch .w-shortblog-entry-link:hover .w-shortblog-entry-title-h {
border-bottom:1px solid;
color:#666;
}

.w-shortblog-entry-meta-date {
font-family:'Noto Sans',sans-serif;
text-align:center;
height:80px;
width:80px;
border-radius:50%;
box-shadow:0 0 0 2px #999 inset;
color:#444;
padding:18px 0 0;
}

.w-shortblog-entry-meta-date-day {
display:block;
font-size:26px;
line-height:32px;
}

.w-shortblog-entry-meta-date-month {
display:block;
font-size:14px;
line-height:14px;
text-transform:uppercase;
}

.w-socials-list {
margin-bottom:-5px;
}

.w-socials-item {
background:none!important;
}

.w-socials-item-link,.l-subfooter.at_top .w-socials-item-link {
position:relative;
height:36px;
width:36px;
border-radius:5px;
overflow:hidden;
}

.l-subfooter.at_top .w-socials-item-link {
box-shadow:0 0 0 2px #222 inset;
color:gray;
}

.w-socials-item-link:hover {
border:none!important;
color:#fff!important;
}

.w-socials.size_normal .w-socials-item-link {
height:46px;
width:46px;
}

.w-socials.size_big .w-socials-item-link {
height:54px;
width:54px;
}

.w-socials-item-link i {
font-size:16px;
line-height:36px;
position:relative;
}

.w-socials.size_normal .w-socials-item-link i {
font-size:20px;
line-height:46px;
}

.w-socials.size_big .w-socials-item-link i {
font-size:24px;
line-height:54px;
}

.w-socials-item .w-socials-item-link:before {
display:block;
content:'';
position:absolute;
top:0;
left:0;
height:0;
width:100%;
-webkit-transition:height .3s ease-out;
transition:height .3s ease-out;
}

.w-socials-item.rss .w-socials-item-link:before {
background-color:#ff9702;
}

.w-socials-item.facebook .w-socials-item-link:before {
background-color:#3b5998;
}

.w-socials-item.twitter .w-socials-item-link:before {
background-color:#00acee;
}

.w-socials-item.gplus .w-socials-item-link:before {
background-color:#c63b1e;
}

.w-socials-item.linkedin .w-socials-item-link:before {
background-color:#0073b2;
}

.w-socials-item.youtube .w-socials-item-link:before {
background-color:#cd332d;
}

.w-socials-item.vimeo .w-socials-item-link:before {
background-color:#20b9eb;
}

.w-socials-item.email .w-socials-item-link:before {
background-color:#697277;
}

.w-socials-item.skype .w-socials-item-link:before {
background-color:#00aff0;
}

.w-socials-item.flickr .w-socials-item-link:before {
background-color:#ff0084;
}

.w-socials-item.pinterest .w-socials-item-link:before {
background-color:#cb2027;
}

.w-socials-item.tumblr .w-socials-item-link:before {
background-color:#2c4762;
}

.w-socials-item.blogger .w-socials-item-link:before {
background-color:#fc9947;
}

.w-socials-item.dribbble .w-socials-item-link:before {
background-color:#ea4c89;
}

.w-socials-item.vk .w-socials-item-link:before {
background-color:#4e7299;
}

.w-socials-item.instagram .w-socials-item-link:before {
background-color:#a17357;
}

.w-socials-item-popup {
display:block;
left:0;
bottom:44px;
visibility:hidden;
border-radius:3px;
z-index:10;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
opacity:0;
transform:translateY(-20px);
-webkit-transition:opacity .2s ease-out .3s;
transition:transform .2s ease-out .3s .2s ease-out .3s;
}

.w-socials-item:hover .w-socials-item-popup {
visibility:visible;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
opacity:1;
transform:translateY(0);
}

.w-socials.size_normal .w-socials-item-popup {
bottom:56px;
}

.w-socials.size_big .w-socials-item-popup {
bottom:62px;
}

.l-subheader.at_middle .w-socials {
margin-top:42px;
}

.l-subheader.at_top .w-socials-item-link {
border-radius:0;
box-shadow:none;
}

.l-subheader.at_middle .w-socials-item-link {
line-height:36px;
border-radius:3px;
box-shadow:none;
}

.w-tabs-item {
border-top:2px solid transparent;
-webkit-transition:background-color .25s ease-out,color .25s ease-out;
transition:background-color .25s ease-out,color .25s ease-out;
padding:14px 24px;
}

.no-touch .w-tabs-item:hover {
background-color:rgba(0,0,0,0.025);
color:#444;
}

.w-tabs-item.active,.no-touch .w-tabs-item.active:hover {
box-shadow:none;
background-color:#fff;
color:#000; /*d13a7a*/
border-color:#000; /*d13a7a*/
}

.w-tabs-section-content-h {
padding:30px 0 20px;
}

.w-tabs-section-title {
padding:14px 20px;
}

.w-tabs-item-icon {
font-size:18px;
line-height:26px;
text-align:center;
top:14px;
left:22px;
}

.w-tabs-section-title-icon {
font-size:18px;
line-height:24px;
text-align:center;
top:14px;
left:18px;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
opacity:0.5;
-webkit-transition:opacity .25s ease-out;
transition:opacity .25s ease-out;
}

.w-tabs-item.with_icon .w-tabs-item-title,.w-tabs-section.with_icon .w-tabs-section-title-text {
margin-left:32px;
}

.w-tabs.layout_accordion {
border-bottom:1px solid #e8e8e8;
}

.w-tabs.layout_accordion .w-tabs-section {
border-top:1px solid #e8e8e8;
}

.w-tabs.layout_accordion .w-tabs-section-title {
-webkit-transition:background-color .25s ease-out,color .25s ease-out;
transition:background-color .25s ease-out,color .25s ease-out;
}

.no-touch .w-tabs.layout_accordion .w-tabs-section-title:hover {
background-color:rgba(0,0,0,0.04);
}

.w-tabs.layout_accordion .w-tabs-section-content-h {
padding:15px 20px 30px;
}

.w-tabs.layout_accordion .w-tabs-section-title-control {
top:12px;
right:20px;
font-size:24px;
line-height:24px;
height:24px;
width:24px;
text-align:center;
transition:transform .25s ease-out;
}

.w-tags.layout_block .w-tags-item {
margin:0 3px 3px 0;
}

.w-tags.layout_block .w-tags-item-link {
font-size:13px;
border-radius:3px;
box-shadow:0 0 0 2px #e8e8e8 inset;
color:#666;
padding:3px 10px 4px;
}

.w-tags.layout_block.title_atleft .w-tags-title-h {
line-height:24px;
padding:3px 0;
}

.w-team-member {
display:block;
max-width:350px;
margin:0 auto;
padding:0;
}

.w-team-member-image {
float:none;
height:100%;
width:100%;
overflow:visible;
}

.no-touch .w-team-member-image {
height:0;
padding-bottom:100%;
border-radius:50%;
overflow:hidden;
}

.w-team-member-image img {
border-radius:50%;
}

.w-team-member-links {
position:relative;
top:0;
min-height:0;
}

.no-touch .w-team-member-links {
position:absolute;
top:-100%;
-webkit-transition:top .3s ease-out;
transition:top .3s ease-out;
background-color:#000; /*d13a7a*/
}

.w-team-member-links-list {
padding:8px 0;
}

.w-team-member-links-item {
font-size:18px;
line-height:40px;
height:40px;
width:40px;
position:relative;
overflow:hidden;
border-radius:50%;
box-shadow:0 0 0 2px #e8e8e8 inset;
color:inherit;
margin:4px;
}

.no-touch .w-team-member-links-item {
font-size:22px;
line-height:50px;
height:50px;
width:50px;
box-shadow:0 0 0 2px #fff inset;
color:#fff;
}

.no-touch .w-team-member-links-item:before {
display:block;
content:'';
position:absolute;
top:0;
left:0;
height:0;
width:100%;
-webkit-transition:height .3s ease-out;
transition:height .3s ease-out;
background-color:#fff;
}

.w-team-member-meta {
margin-left:0;
min-height:0;
text-align:center;
padding:0;
}

.w-team-member-meta .w-team-member-name {
margin-bottom:6px;
}

.w-team-member-link .w-team-member-name {
color:#000; /*d13a7a*/
-webkit-transition:color .2s ease-out;
transition:color .2s ease-out;
}

.w-team-member-role {
font-size:13px;
margin-bottom:10px;
color:#999;
}

.w-testimonial {
position:relative;
border-radius:5px;
-webkit-transition:box-shadow .25s ease-out,color .25s ease-out;
transition:box-shadow .25s ease-out,color .25s ease-out;
box-shadow:0 0 0 2px #e8e8e8 inset;
padding:30px 32px;
}

.no-touch .w-testimonial:hover {
box-shadow:0 0 0 2px #d13a7a inset;
color:#444;
}

.w-testimonial-h blockquote {
background:none;
border:none;
font:inherit;
margin:0;
padding:0;
}

.w-testimonial .w-testimonial-text {
display:block;
font-size:18px;
font-style:italic;
line-height:28px;
}

.w-testimonial-person {
font-size:13px;
position:relative;
padding:16px 0 0;
}

.w-testimonial-person i {
font-size:20px;
margin-right:10px;
color:#999;
}

.w-timeline-list {
margin:10px 0 35px;
}

.w-timeline-list:before {
height:2px;
top:39px;
left:1px;
right:1px;
width:auto;
background-color:#e8e8e8;
}

.w-timeline-item {
height:80px;
width:80px;
overflow:hidden;
border-radius:50%;
-webkit-transition:color .25s ease-out;
transition:color .25s ease-out;
box-shadow:0 0 0 2px #000 inset; /*d13a7a*/
background-color:#fff;
color:#444;
}

.w-timeline-item-title {
font-size:17px;
line-height:80px;
position:rekative;
top:0;
}

.w-timeline.type_vertical .w-timeline-section:before {
display:block;
content:'';
position:absolute;
top:0;
left:50%;
height:100%;
width:4px;
margin-left:-2px;
background-color:#000; /*d13a7a*/
}

.w-timeline-section-title {
text-align:center;
height:60px;
width:60px;
position:relative;
z-index:12;
overflow:hidden;
border-radius:50%;
-webkit-transition:color .25s ease-out;
transition:color .25s ease-out;
box-shadow:0 0 0 2px #d13a7a inset;
background-color:#fff;
color:#444;
margin:10px auto 0;
padding:0;
}

.w-timeline-section-title-text {
font-size:16px;
height:60px;
line-height:60px;
margin-left:0;
position:relative;
z-index:13;
}

.w-timeline-section-content {
border-radius:5px;
padding:0 0 15px;
}

.w-timeline.type_vertical .w-timeline-section-content {
margin-top:-30px;
border:1px solid #e8e8e8;
background-color:#fff;
padding:49px 20px 15px;
}

.w-toplink {
display:block;
position:fixed;
bottom:-52px;
right:15px;
text-align:center;
font-size:30px;
line-height:48px;
height:50px;
width:50px;
border-radius:5px;
z-index:100;
-webkit-transition:background-color .25s ease-out;
transition:background-color .25s ease-out;
background-color:rgba(0,0,0,0.3);
color:#fff;
}

.w-toplink.active {
bottom:15px;
}

.page-404 i {
font-size:200px;
color:#e5e5e5;
}

.wpb_button.align_left {
display:inline-block;
vertical-align:top;
margin-right:6px;
}

.wpb_button.align_center {
display:block;
text-align:center;
}

.wpb_button.align_right {
float:right;
margin-left:10px;
}

.wpb_single_image {
line-height:0;
margin-bottom:40px;
}

.wpb_single_image.align_left {
display:inline;
float:left;
margin-right:30px;
}

.wpb_single_image.align_right {
display:inline;
float:right;
margin-left:30px;
}

.wpb_single_image.align_center {
clear:both;
text-align:center;
}

.flex-loading {
min-height:100px;
background:url(../img/loader.gif) no-repeat center center;
}

.flexslider {
overflow:hidden;
position:relative;
margin:0;
padding:0;
}

.flexslider .slides:after {
clear:both;
content:".";
display:block;
height:0;
line-height:0;
visibility:hidden;
}

.flexslider .slides > li {
display:none;
line-height:0;
-webkit-backface-visibility:hidden;
margin-bottom:0;
padding-left:0;
}

.flexslider .slides > li > img {
width:100%;
}

ul.flex-direction-nav {
list-style-type:none;
margin:0;
}

.no-touch ul.flex-direction-nav {
opacity:0;
-webkit-transition:opacity .25s ease-out;
transition:opacity .25s ease-out;
}

.no-touch .flexslider:hover ul.flex-direction-nav {
opacity:1;
}

ul.flex-direction-nav li {
margin:0;
padding:0;
}

.flex-direction-nav li span {
display:block;
position:absolute;
top:50%;
font-size:0;
text-align:center;
line-height:49px;
height:50px;
width:50px;
margin-top:-25px;
border-radius:50%;
background-image:none;
overflow:hidden;
cursor:pointer;
z-index:1;
box-shadow:0 0 0 2px #fff inset;
color:#fff;
}

.flex-direction-nav .flex-next:after {
display:block;
position:absolute;
top:0;
left:0;
content:'\f105';
font-size:34px;
font-family:FontAwesome;
width:48px;
padding-left:2px;
}

.flex-direction-nav .flex-prev:after {
display:block;
position:absolute;
top:0;
left:0;
content:'\f104';
font-size:34px;
font-family:FontAwesome;
width:48px;
}

.flex-direction-nav .flex-next {
right:20px;
}

.flex-direction-nav .flex-prev {
left:20px;
}

.flex-direction-nav .flex-disabled {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
opacity:.3!important;
cursor:default;
}

.fullwidthbanner-container {
overflow:hidden!important;
}

.revslider-initialised ul,.revslider-initialised li {
list-style-type:none!important;
margin:0!important;
padding:0!important;
}

.revslider-initialised li a:hover {
border-bottom:none!important;
}

.tp-leftarrow.default,.tp-rightarrow.default {
font-size:34px;
text-align:center;
line-height:50px;
height:50px;
width:50px;
border-radius:50%;
overflow:hidden;
background-image:none;
box-shadow:0 0 0 2px #fff inset;
color:#fff;
}

.no-touch .tp-leftarrow.default,.no-touch .tp-rightarrow.default {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
opacity:0;
-webkit-transition:opacity .25s ease-out;
transition:opacity .25s ease-out;
}

.tp-rightarrow.default:after {
display:block;
content:'\f105';
font-family:FontAwesome;
margin-left:3px;
position:relative;
}

.tp-leftarrow.default:after {
display:block;
content:'\f104';
font-family:FontAwesome;
margin-right:3px;
position:relative;
}

.tp-loader {
margin-top:-30px;
margin-left:-30px;
height:60px;
width:60px;
border-radius:50%;
background:url(../img/loader.gif) no-repeat center center #fff;
}

.tp-bannertimer {
background:rgba(0,0,0,0.1)!important;
height:5px;
}

.tp-bullets.simplebullets.round .bullet {
display:inline-block;
float:none;
cursor:pointer;
position:relative;
width:16px;
height:16px;
border-radius:50%;
-webkit-transition:box-shadow .25s ease-out;
transition:box-shadow .25s ease-out;
box-shadow:0 0 0 2px rgba(0,0,0,0) inset;
background:rgba(0,0,0,0.3);
margin:3px;
}

.tp-bullets.simplebullets.round .bullet.last {
margin-right:3px;
}

.isotope-hidden.isotope-item {
pointer-events:none;
z-index:1;
}

.isotope,.isotope .isotope-item {
-webkit-transition-duration:.5s;
-moz-transition-duration:.5s;
-ms-transition-duration:.5s;
-o-transition-duration:.5s;
transition-duration:.5s;
}

.isotope {
-webkit-transition-property:height,width;
-moz-transition-property:height,width;
-ms-transition-property:height,width;
-o-transition-property:height,width;
transition-property:height,width;
}

.isotope .isotope-item {
-webkit-transition-property:0;
-moz-transition-property:0;
-ms-transition-property:0;
-o-transition-property:0;
transition-property:transform,opacity;
}

.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition {
-webkit-transition-duration:0;
-moz-transition-duration:0;
-ms-transition-duration:0;
-o-transition-duration:0;
transition-duration:0;
}

span.wpcf7-form-control-wrap {
display:inline-block;
width:100%;
}

.wpcf7-form input[type="text"],.wpcf7-form input[type="password"],.wpcf7-form input[type="email"],.wpcf7-form input[type="url"],.wpcf7-form input[type="tel"],.wpcf7-form input[type="number"],.wpcf7-form input[type="date"],.wpcf7-form textarea,.wpcf7-form select {
margin-top:5px;
}

.wpcf7-form-control.wpcf7-radio,.wpcf7-form-control.wpcf7-checkbox {
display:inline-block;
padding:10px 0;
}

span.wpcf7-list-item {
margin:0 20px 0 0;
}

span.wpcf7-list-item input[type="checkbox"],span.wpcf7-list-item input[type="radio"] {
margin:0 2px 0 0;
}

div.wpcf7 img.ajax-loader {
margin-left:10px;
}

div.wpcf7-response-output {
text-align:center;
line-height:24px;
border-radius:5px;
margin:0;
padding:8px 16px;
}

span.wpcf7-not-valid-tip {
left:auto;
top:auto;
right:5px;
bottom:5px;
text-align:center;
width:250px;
border-radius:3px;
}

a:hover,a:active,.no-touch .w-blog.type_masonry .w-blog-entry-meta a:hover,.no-touch .l-subheader .w-contacts-item-value a:hover,.w-counter.color_secondary .w-counter-number,.w-icon.color_text .w-icon-link,.color_primary .w-icon.color_text.with_circle .w-icon-link,.w-icon.color_secondary .w-icon-link,.no-touch .w-lang-list .w-lang-item:hover,.no-touch .w-lang-current:hover,.no-touch .w-team-member-links-item:hover,.no-touch .l-submain.color_alternate .w-team-member-links-item:hover,.no-touch .l-submain.color_primary .w-team-member-links-item:hover,.no-touch .w-team-member-link:hover .w-team-member-name {
color:#000;
}

::-moz-selection,::selection {
background-color:rgba(0,0,0,0.66);
color:#fff;
}

.l-canvas.type_wide .l-subheader,.l-canvas.type_boxed .l-submain,.l-submain.full_width .l-submain-h {
max-width:100%;
}

.l-canvas.headertype_extended .l-subheader.at_top,.l-submain.parallax_ver .l-submain-bg,.w-blog.type_masonry .w-blog-entry-link,.w-cart:hover .w-cart-dropdown,.w-icon-link,.l-subheader .w-nav.touch_enabled .w-nav-control {
display:block;
}

.l-canvas.headertype_advanced .l-subheader.at_middle,.w-pricing-item:first-child .w-pricing-item-h,.w-pricing-item:first-child .w-pricing-item-title,.w-pricing-item:first-child .w-pricing-item-price,.w-pricing-item.type_featured + .w-pricing-item .w-pricing-item-h,.w-pricing-item.type_featured + .w-pricing-item .w-pricing-item-title,.w-pricing-item.type_featured + .w-pricing-item .w-pricing-item-price {
box-shadow:none;
}

.l-canvas.headerpos_fixed.headertype_advanced .l-header.state_sticky .l-subheader.at_middle,.l-submain.parallax_hor,.l-body.page-template-page-grid_blog-php .l-submain,.w-timeline-section {
overflow:hidden;
}

.l-submain-h,.g-btn span,.g-pagination-item span,.w-blog-entry-preview,.w-blog.type_masonry .w-blog-entry-preview,.l-subfooter .w-contacts-item,.w-iconbox,.w-iconbox.with_circle .w-iconbox-icon i,.w-team-member-links-item i {
position:relative;
}

.l-submain.color_primary a,.no-touch .l-submain.color_primary a:hover,.l-submain.color_primary .w-pagehead-nav .w-pagehead-nav-h .w-pagehead-nav-item,.no-touch .l-subfooter.at_top a:hover,.no-touch .g-btn.type_primary:hover,.no-touch input[type="submit"]:hover,.no-touch .g-btn.type_primary.outlined:hover,.no-touch .color_alternate .g-btn.type_primary.outlined:hover,.no-touch .g-btn.type_secondary:hover,.no-touch .g-btn.type_secondary.outlined:hover,.no-touch .color_alternate .g-btn.type_secondary.outlined:hover,.no-touch .g-btn.type_contrast:hover,.no-touch .g-btn.type_contrast.outlined:hover,.no-touch .color_alternate .g-btn.type_contrast.outlined:hover,.no-touch .g-btn.type_pink:hover,.no-touch .g-btn.type_pink.outlined:hover,.no-touch .g-btn.type_blue:hover,.no-touch .g-btn.type_blue.outlined:hover,.no-touch .g-btn.type_midnight:hover,.no-touch .g-btn.type_midnight.outlined:hover,.no-touch .g-btn.type_purple:hover,.no-touch .g-btn.type_purple.outlined:hover,.no-touch .g-btn.type_navy:hover,.no-touch .g-btn.type_navy.outlined:hover,.no-touch .g-btn.type_green:hover,.no-touch .g-btn.type_green.outlined:hover,.no-touch .g-btn.type_yellow:hover,.no-touch .g-btn.type_yellow.outlined:hover,.no-touch .g-btn.type_teal:hover,.no-touch .g-btn.type_teal.outlined:hover,.no-touch .g-btn.type_brown:hover,.no-touch .g-btn.type_brown.outlined:hover,.no-touch .g-btn.type_cream:hover,.no-touch .g-btn.type_red:hover,.no-touch .g-btn.type_red.outlined:hover,.no-touch .g-btn.type_lime:hover,.no-touch .g-pagination-item:hover,.no-touch .w-actionbox.color_primary .w-actionbox-text a:hover,.color_primary .w-icon.color_text .w-icon-link,.no-touch .w-iconbox.with_circle .w-iconbox-link:hover .w-iconbox-icon,.color_alternate .w-team-member-links-item,.no-touch .w-timeline-item:hover,.w-timeline-item.active,.no-touch .w-timeline-section-title:hover,.w-timeline-section.active .w-timeline-section-title,.w-toplink.active:active {
color:#fff;
}

.l-submain.color_primary .g-hr-h:before,.l-submain.color_primary .g-hr-h:after,.l-submain.bg_fade.white_50:before {
background-color:rgba(255,255,255,0.5);
}





/*--------------------------------------------------------------------------------------*/
 /*                     8 - PORTFOLIO & BLOG                                             */
 /*-------------------------------------------------------------------------------------*/
 #filterable {
    display: inline;
    float: left;
    margin-bottom: 40px;
    margin-right: 0px;
    width: 100%;
}
#filterable li {
    float: left;
    list-style: none;
    margin-left: 1px;
}
#filterable li:first-child { margin-left: 0px }
#filterable li a {
    cursor: pointer;
    display: block;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    height: auto;
    padding: 5px 15px;
    font-size: 11px;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    background: #aab2bd;
    border-bottom: 1px solid #8d95a0;
    text-decoration: none;
    /* border-radius: 2px;*/
}
#filterable li a:hover { color: #FFF }
#filterable li:first-child a { border-radius: 2px 0px 0px 2px }
#filterable li:last-child a { border-radius: 0px 2px 2px 0px }
#filterable li a.active {
    color: #FFF;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.10) inset;
}
#filterable li a i {
    color: #FFF;
    margin-right: 7px;
}
.isotope-item { z-index: 2 }
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.9s;
    -moz-transition-duration: 0.9s;
    -ms-transition-duration: 0.9s;
    -o-transition-duration: 0.9s;
    transition-duration: 0.9s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
ul#portfolio-container {
    margin: 0 0  0 -2%;
    padding: 0;
    overflow: hidden;
    float: left;
    width: 100%;
    border: none;
}
ul#portfolio-container li {
    float: left;
    margin: 0 0 30px 2%;
    list-style: none;
}
ul#portfolio-container.four-columns li { width: 23% }
ul#portfolio-container.three-columns li { width: 31% }
ul#portfolio-container.two-columns li { width: 48% }
ul#portfolio-container li  ul.slides li { margin: 0 0 0 0!important }
ul#portfolio-container li  ul.flex-direction-nav li { margin: 0 0 0 0!important }
ul#portfolio-container  .flex-control-nav,
.blog-post .flex-control-nav {
    width: 100%;
    position: absolute;
    display: block;
    z-index: 9999;
    right: -15px!important;
    bottom: 15px;
}
ul#portfolio-container  .flex-control-nav li,
.blog-post .flex-control-nav li {
    margin: 0px 0 0 4px;
    padding: 0px;
    float: left;
    width: 10px;
}
ul#portfolio-container li   ol.flex-control-nav li a {
    background-color: #aab2bd;
    border-bottom: 1px solid #919aa6;
    margin: 0 0 0 0px;
}
.item-wrapp {
    border-radius: 4px;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.item-wrapp:hover { box-shadow: 0px 0px 5px #333 }
.portfolio-item,
.blog-item {
    float: left;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}
.portfolio-item a,
.blog-item a {
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.portfolio-item img,
.blog-item img {
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    -ms-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    border-radius: 4px 4px 0 0;
    width: 100%;
    height: auto;
    float: left;
}
.blog-item img { border-radius: 4px }
.portfolio-item:hover img,
.blog-item.small:hover img,
.blog-item.medium:hover img,
.blog-item.large:hover img {
    position: relative;
    z-index: 10;
    opacity: 0.10;
    -webkit-transform: scale(1.18);
    -moz-transform: scale(1.18);
    -ms-transform: scale(1.18);
    -o-transform: scale(1.18);
    -webkit-perspective: 1000;
    border-radius: 4px 4px 0 0;
}
.blog-item.small img,
.blog-item.small:hover img,
.blog-item.medium img,
.blog-item.medium:hover img,
.blog-item.large img,
.blog-item.large:hover img { border-radius: 4px 4px 4px 4px!important }
.blog-item { border-radius: 4px }
.portfolio-item a.item-permalink,
.blog-item a.item-permalink {
    background: rgba(0,0,0,0.75);
    position: absolute;
    top: 40%;
    left: -50px;
    z-index: 120;
    border-radius: 4px;
    padding: 8px 12px 8px 12px;
}
.portfolio-item a.item-preview,
.blog-item a.item-preview {
    padding: 8px 12px 8px 12px;
    background: rgba(0,0,0,0.75);
    position: absolute;
    top: 40%;
    right: -50px;
    z-index: 121;
    border-radius: 4px;
}
.portfolio-item a.item-permalink:hover,
.portfolio-item a.item-preview:hover,
.blog-item a.item-permalink:hover,
.blog-item a.item-preview:hover { background: #FFF }
.portfolio-item a.item-permalink:hover i,
.portfolio-item a.item-preview:hover i,
.blog-item a.item-permalink:hover i,
.blog-item a.item-preview:hover i { color: #434a54 }
.portfolio-item a.item-permalink i,
.portfolio-item a.item-preview i,
.blog-item a.item-permalink i,
.blog-item a.item-preview i {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}
ul#portfolio-container.two-columns li .item-wrapp .portfolio-item:hover  a.item-permalink { left: 41% }
ul#portfolio-container.two-columns li .item-wrapp .portfolio-item:hover  a.item-preview { right: 41% }
ul#portfolio-container.three-columns li .item-wrapp .portfolio-item:hover  a.item-permalink { left: 35.5% }
ul#portfolio-container.three-columns li .item-wrapp .portfolio-item:hover  a.item-preview { right: 35.5% }
.one-third.product .item-wrapp .portfolio-item:hover  a.item-permalink { left: 32% }
.one-third.product .item-wrapp .portfolio-item:hover  a.item-preview { right: 32% }
.portfolio-item:hover  a.item-permalink { left: 31.5% }
.portfolio-item:hover  a.item-preview { right: 31.5% }
.blog-item.small:hover  a.item-permalink { left: 30% }
.blog-item.small:hover  a.item-preview { right: 30% }
.blog-item.medium:hover  a.item-permalink { left: 38% }
.blog-item.medium:hover  a.item-preview { right: 38% }
.blog-item.large:hover  a.item-permalink { left: 44% }
.blog-item.large:hover  a.item-preview { right: 44% }
.portfolio-item-title {
    text-align: center;
    padding: 20px 15px 15px 15px;
    background: #FFF;
    border: 0px solid #e6e9ee;
    border-top: none;
    border-radius: 4px;
}
.item-wrapp:hover .portfolio-item-title {
    border: 0px solid #ccd0d9;
    border-top: none;
}
.portfolio-item-title a {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    font-family: PTBold;
    color: #404040;
}
.portfolio-item-title a:hover {
    text-decoration: none;
    color: #434a54!important;
}
.portfolio-item-title p {
    margin-bottom: 10px;
    line-height: 14px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
    color: #404040;
}
.blog-post {
    float: left;
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e1e1e1;
}
.permalink h4 { margin-bottom: 0px }
.permalink a {
    color: #656d78;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 18px;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.permalink a:hover { text-decoration: none }
.media-holder {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.blog-post.layout-2 .media-holder {
    float: left;
    width: 200px;
    margin-bottom: 0px;
    margin-right: 20px;
    position: relative;
}
.blog-post.layout-2 .post-intro {
    width: 68.5%;
    float: left;
}
.blog-post.layout-3 {
    width: 48.89%;
    margin-right: 2.21%;
}
.blog-post.layout-3:nth-child(2n) { margin-right: 0%!important }
.media-holder img {
    /* border-radius: 4px;  */
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.media-holder img:hover { opacity: 0.80 }
.blog-post.layout-2 ul.post-meta {
    width: auto;
    display: block;
}
ul.post-meta {
    overflow: hidden;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
ul.post-meta li {
    padding: 5px 0;
    margin: 0 0px 5px 5px;
    display: inline-block;
    color: #a5a5a5;
}
ul.post-meta li:first-child { margin-left: 0px }
ul.post-meta li i {
    margin-right: 5px;
    color: #a5a5a5;
}
ul.post-meta li a {
    color: #a5a5a5;
    font-weight: 400;
}
ul.post-meta li a:hover { text-decoration: none }
.pagination ul {
    margin: 10px 0 30px 0;
    float: left;
    position: relative;
    width: 100%;
}
.pagination ul li a {
    padding: 5px 10px;
    display: inline-block;
    float: left;
    margin-right: 1px;
    background: #aab2bd;
    color: #FFF;
    border-bottom: 1px solid #8d95a0;
    text-decoration: none;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}
.pagination ul li:first-child a{  border-radius: 4px 0px 0px 4px;} 
.pagination ul li:last-child a{   border-radius: 0px 4px 4px 0px;}


.color_primary .g-btn.type_contrast.outlined,.no-touch .l-submain.color_primary .w-pagehead-nav .w-pagehead-nav-h .w-pagehead-nav-item:hover {
box-shadow:0 0 0 2px #fff inset;
color:#fff;
}

.no-touch .color_primary .g-btn.type_contrast.outlined:hover,.no-touch .g-btn.type_default:hover,.no-touch .g-btn.type_default.outlined:hover,.no-touch .color_alternate .g-btn.type_default.outlined:hover,.w-search.submit_inside .w-search-submit:hover:before {
color:#444;
}

.l-submain.bg_fade .l-submain-h,.isotope-item {
z-index:2;
}

.l-subfooter.at_top p:last-child,.g-html > h1:last-child,.g-html > h2:last-child,.g-html > h3:last-child,.g-html > h4:last-child,.g-html > h5:last-child,.g-html > h6:last-child,.g-html .g-cols > div > p:last-child,.g-html > p:last-child,.g-html .g-cols > div > ul:last-child,.g-html > ul:last-child,.g-html .g-cols > div > ol:last-child,.g-html > ol:last-child,.w-blog-entry.format-gallery .w-blog-entry-preview .w-gallery,.w-blog.more_hidden .w-blog-entry-short,.w-blog.more_hidden .w-blog-entry-short p:last-child,.w-gallery,.w-shortblog-entry .w-shortblog-entry-short p,.w-tabs-section-content-h p:last-child,.w-tabs-section-content-h ul:last-child,.w-tabs-section-content-h ol:last-child,.w-team-member-description p,.w-video,.g-html .wpb_text_column:last-child h1:last-child,.g-html .wpb_text_column:last-child h2:last-child,.g-html .wpb_text_column:last-child h3:last-child,.g-html .wpb_text_column:last-child h4:last-child,.g-html .wpb_text_column:last-child h5:last-child,.g-html .wpb_text_column:last-child h6:last-child,.g-html .wpb_text_column:last-child p:last-child,.g-html .wpb_text_column:last-child ul:last-child,.g-html .wpb_text_column:last-child ol:last-child,.wpb_single_image:last-child,.l-submain.full_width .wpb_single_image {
margin-bottom:0;
}

.no-touch .l-subfooter.at_top p a:hover,.no-touch .l-subfooter.at_top li a:hover,.no-touch .g-html p a:hover,.no-touch .g-html li a:hover,.no-touch .w-actionbox-text a:hover,.no-touch .w-blog-entry-meta a:hover,.no-touch .w-bloglist-entry-link:hover,.no-touch .w-bloglist.date_atbottom .w-bloglist-entry-link:hover,.no-touch .w-blogpost-meta a:hover,.no-touch .w-comments-item-meta a:hover,.no-touch .w-comments-item-text a:hover,.no-touch .w-comments-item-answer a:hover,.no-touch .w-comments .g-pagination a:hover,.no-touch .w-contacts a:hover,.no-touch .w-links-anchor:hover,.no-touch .g-breadcrumbs a:hover,.no-touch .w-team-member-link:hover .w-team-member-name span {
border-bottom:1px solid;
}

.l-subfooter.at_bottom a,.w-blog.type_masonry .w-blog-entry-meta a,.l-subheader .w-contacts-item-value a,.w-icon.color_fade .w-icon-link,.no-touch .w-icon.color_fade.with_circle .w-icon-link:hover {
color:#999;
}

.l-subfooter.at_top .widget,.w-blogpost.format-gallery .w-blogpost-content > .w-gallery,.w-blogpost.format-video .w-blogpost-content > .w-video {
margin-bottom:30px;
}

.l-sidebar .widget h4,.w-bloglist-title {
margin-bottom:18px;
}

h6,.w-tabs.layout_accordion .w-tabs-section-title-text,.w-tabs-item-title {
font-size:18px;
line-height:26px;
}

.g-html h2,.g-html h3,.g-html h4,.g-html h5,.g-html h6,.no-touch .w-team-member-meta {
padding-top:15px;
}

.g-html h1 + h3,.g-html h1 + h4,.g-html h1 + h5,.g-html h1 + h6,.g-html h2 + h4,.g-html h2 + h5,.g-html h2 + h6,.g-html h3 + h5,.g-html h3 + h6,.g-html h4 + h6,.g-html .g-hr + h2,.g-html .g-hr + h3,.g-html .g-hr + h4,.g-html .g-hr + h5,.g-html .g-hr + h6,.wpb_single_image + h1,.wpb_single_image + h2,.wpb_single_image + h3,.wpb_single_image + h4,.wpb_single_image + h5,.wpb_single_image + h6 {
padding-top:0;
}

.g-html p,.g-html address,.one-half .wpb_single_image,.one-third .wpb_single_image,.two-thirds .wpb_single_image,.one-quarter .wpb_single_image,.three-quarters .wpb_single_image {
margin-bottom:24px;
}

.g-html img + h1,.g-html img + h2,.g-html img + h3,.g-html img + h4,.g-html img + ul,.g-html img + ol,.g-html img + p,.w-blog-entry-preview + .w-blog-entry-link .w-blog-entry-title {
margin-top:20px;
}

.g-html div[class^="animate"],.w-blog.imgpos_atleft .w-blog-entry-title,.w-blog.imgpos_attop .w-blog-entry-title,.w-blogpost.format-image .w-blogpost-content > img,.w-pricing-item-header,.g-html .wpcf7-form p {
margin-bottom:20px;
}

.g-hr.type_invisible .g-hr-h,.g-hr.type_simple .g-hr-h:after,.g-hr.type_simple .g-hr-h i,.w-blog.type_masonry .w-blog-entry.format-video .w-blog-entry-preview:before,.w-blog-load img,.w-cart-dropdown,.w-contacts-item-name,.w-gallery-tnail-title i,.w-iconbox.with_img .w-iconbox-icon i,.l-subheader .w-nav.touch_enabled .w-nav-anchor.level_1:after,.w-portfolio-item-image-second,.l-subheader .w-search.submit_inside .w-search-submit,.w-shortblog-entry-meta-date-year,.w-timeline-item-bullet,.w-timeline-section-title-bullet {
display:none;
}

.g-html .bold,.w-blog.type_masonry .w-blog-entry.sticky .w-blog-entry-title,.w-testimonial-person-name {
font-weight:700;
}

.g-html .align_left,.w-iconbox.iconpos_left {
text-align:left;
}

.g-html .align_center,.l-canvas.col_cont .w-blogpost-title,.l-canvas.col_cont .w-blogpost-meta,.w-gallery-tnails-h,.w-pagehead,.page-404 {
text-align:center;
}

.g-form.protected-post-form .g-form-row-field,.l-subheader.at_top .w-contacts,.w-copyright,.l-subheader.at_top .w-lang,.l-subheader.at_bottom .w-nav {
float:left;
}

.no-touch .g-btn:hover:before,.no-touch .g-pagination-item:hover:before,.no-touch .w-iconbox.with_circle .w-iconbox-link:hover .w-iconbox-icon:before,.w-logo-h,.w-socials-item:hover .w-socials-item-link:before,.no-touch .w-team-member-links-item:hover:before,.no-touch .w-timeline-item:hover:before,.w-timeline-item.active:before,.no-touch .w-timeline-section-title:hover:before,.w-timeline-section.active .w-timeline-section-title:before,.no-touch .flex-direction-nav li span:hover:before,.no-touch .tp-leftarrow.default:hover:before,.no-touch .tp-rightarrow.default:hover:before {
height:100%;
}

.g-btn.type_default:before,.g-btn.type_contrast:before {
background-color:rgba(0,0,0,0.06);
}

.g-btn.type_default.outlined,.w-socials-item-link {
box-shadow:0 0 0 2px #e8e8e8 inset;
color:#666;
}

.g-btn.type_primary,input[type="submit"],.w-actionbox.color_primary,.no-touch .w-filters-item-link:hover,.no-touch .l-subheader .w-nav-item.level_2:hover .w-nav-anchor.level_2,.no-touch .l-subheader .w-nav-item.level_3:hover .w-nav-anchor.level_3,.no-touch .w-toplink.active:hover {
background-color:#1a1a1a; /*d13a7a*/
color:#fff;
}

.g-btn.type_primary.outlined,.w-clients-nav:hover,.no-touch .w-pagehead-nav .w-pagehead-nav-h .w-pagehead-nav-item:hover,.no-touch .w-tags.layout_block .w-tags-item-link:hover {
box-shadow:0 0 0 2px #000 inset; /*d13a7a*/
color:#000; /*d13a7a*/
}

.no-touch .g-alert-close:hover,.no-touch .l-subheader .w-search-close:hover,.no-touch .w-tabs-section-title:hover .w-tabs-section-title-icon,.w-tabs-section.active .w-tabs-section-title-icon,.no-touch .fullwidthbanner-container:hover .tp-leftarrow.default,.no-touch .fullwidthbanner-container:hover .tp-rightarrow.default,.no-touch .rev_slider_wrapper:hover .tp-leftarrow.default,.no-touch .rev_slider_wrapper:hover .tp-rightarrow.default {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
opacity:1;
}

.g-alert-body p,.w-gallery.type_masonry .w-gallery-tnails-h,.w-gallery.layout_tile .w-gallery-tnails-h,.g-html .w-pagehead h1,.w-portfolio.indents_none .w-portfolio-list-h,.l-subheader .w-socials-list,.l-subheader .w-socials-item {
margin:0;
}

.no-touch .g-pagination-item:before,.no-touch .w-iconbox.with_circle .w-iconbox-icon:before,.w-timeline-item:before,.w-timeline-section-title:before,.no-touch .flex-direction-nav li span:before,.no-touch .tp-leftarrow.default:before,.no-touch .tp-rightarrow.default:before {
display:block;
content:'';
position:absolute;
top:0;
left:0;
height:0;
width:100%;
-webkit-transition:height .3s ease-out;
transition:height .3s ease-out;
background-color:#000; /*d13a7a*/
}

.w-actionbox.controls_aside .w-actionbox-text,.w-blog-entry.format-quote .w-blog-entry-title,.w-comments-form,.w-portfolio.indents_none .w-portfolio-item {
padding:0;
}

.w-blog-entry.format-quote .w-blog-entry-title blockquote,.w-blogpost.format-quote .w-blogpost-title blockquote {
font-size:24px;
line-height:34px;
font-style:normal;
}

.no-touch .w-blog-entry-link:hover .w-blog-entry-title-h,.w-blog.imgpos_atleft .w-blog-entry.format-audio .w-blog-entry-link:hover .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-gallery .w-blog-entry-link:hover .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-link .w-blog-entry-link:hover .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-quote .w-blog-entry-link:hover .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-status .w-blog-entry-link:hover .w-blog-entry-preview-icon,.w-blog.imgpos_atleft .w-blog-entry.format-video .w-blog-entry-link:hover .w-blog-entry-preview-icon,.no-touch .w-blog.type_masonry .w-blog-entry.format-video .w-blog-entry-link:hover .w-blog-entry-preview-icon,.w-cart-link:hover,.w-counter.color_primary .w-counter-number,.w-icon.color_primary .w-icon-link,.no-touch .w-iconbox-link:hover .w-iconbox-title,.no-touch .l-subheader .w-nav-item.level_1:hover .w-nav-anchor.level_1,.l-subheader .w-nav-item.level_1.active .w-nav-anchor.level_1,.l-subheader .w-nav-item.level_1.current-menu-item .w-nav-anchor.level_1,.l-subheader .w-nav-item.level_1.current-menu-ancestor .w-nav-anchor.level_1,.l-subheader .w-nav-item.level_2.active .w-nav-anchor.level_2,.l-subheader .w-nav-item.level_3.active .w-nav-anchor.level_3,.l-subheader .w-nav-item.level_2.current-menu-item .w-nav-anchor.level_2,.l-subheader .w-nav-item.level_3.current-menu-item .w-nav-anchor.level_3,.l-subheader .w-nav-item.level_2.current-menu-ancestor .w-nav-anchor.level_2,.l-subheader .w-nav-item.level_3.current-menu-ancestor .w-nav-anchor.level_3,.l-subheader .w-nav.touch_enabled .w-nav-item.level_1.active .w-nav-anchor.level_1,.l-subheader .w-nav.touch_enabled .w-nav-item.level_2.active .w-nav-anchor.level_2,.l-subheader .w-nav.touch_enabled .w-nav-item.level_3.active .w-nav-anchor.level_3,.l-subheader .w-nav.touch_enabled .w-nav-item.level_1.current-menu-item .w-nav-anchor.level_1,.l-subheader .w-nav.touch_enabled .w-nav-item.level_2.current-menu-item .w-nav-anchor.level_2,.l-subheader .w-nav.touch_enabled .w-nav-item.level_3.current-menu-item .w-nav-anchor.level_3,.l-subheader .w-nav.touch_enabled .w-nav-item.level_1.current-menu-ancestor .w-nav-anchor.level_1,.l-subheader .w-nav.touch_enabled .w-nav-item.level_2.current-menu-ancestor .w-nav-anchor.level_2,.l-subheader .w-nav.touch_enabled .w-nav-item.level_3.current-menu-ancestor .w-nav-anchor.level_3,.w-nav.layout_ver .w-nav-item.active > .w-nav-anchor,.no-touch .l-subheader .w-search-show:hover,.w-tabs.layout_accordion .w-tabs-section.active .w-tabs-section-title {
color:#000;
}

.w-blog-entry-meta-date,.w-blog-entry-meta-author,.w-blog-entry-meta-tags,.w-blog-entry-meta-comments,.w-blogpost-meta-date,.w-blogpost-meta-author,.w-blogpost-meta-tags,.w-blogpost-meta-comments {
font-size:13px;
}

.w-blog.type_masonry + .w-blog-pagination,.w-portfolio-pagination {
padding-top:30px;
}

.w-bloglist-entry-date,.w-bloglist-entry-author {
font-size:13px;
color:#999;
}

.w-blogpost h1.w-blogpost-title,.w-timeline-section:first-child .w-timeline-section-title {
margin-top:0;
}

.l-submain.color_primary .w-clients-nav:hover,.tp-bullets.simplebullets.round .bullet:hover,.tp-bullets.simplebullets.round .bullet.selected {
box-shadow:0 0 0 2px #fff inset;
}

.w-comments-title,.w-pricing {
margin-bottom:10px;
}

.w-icon.color_text.with_circle .w-icon-link,.w-icon.color_fade.with_circle .w-icon-link,.w-tabs-list {
background-color:#f2f2f2;
}

.w-icon.size_small,.w-iconbox.iconpos_top.with_circle .w-iconbox-icon {
font-size:36px;
}

.l-subheader.at_middle .w-nav,.l-subfooter.at_bottom .w-nav,.w-pagehead.type_row .g-breadcrumbs,.l-subheader .w-socials {
float:right;
}

.l-subheader .w-nav-arrow:before,.l-subheader .w-nav.touch_enabled .w-nav-item.level_2.has_sublevel .w-nav-anchor.level_2 .w-nav-arrow:before {
content:'\f107';
}

.l-subheader .w-nav.touch_enabled .w-nav-item.level_1.open .w-nav-anchor.level_1 .w-nav-arrow,.l-subheader .w-nav.touch_enabled .w-nav-item.level_2.open .w-nav-anchor.level_2 .w-nav-arrow,.w-tabs.layout_accordion .w-tabs-section.active .w-tabs-section-title-control {
-webkit-transform:rotate(180deg);
-ms-transform:rotate(180deg);
transform:rotate(180deg);
}

.l-subfooter.at_bottom .w-nav-list.level_2,.l-subheader .w-socials-item-popup {
display:none!important;
}

.w-pagehead-nav .w-pagehead-nav-h .w-pagehead-nav-item i,.w-toplink i {
line-height:inherit;
}

.w-pricing-item .w-pricing-item-features,.flexslider ul.slides {
list-style-type:none;
margin:0;
padding:0;
}

.portfolio-item {
/*background: #169fe6!important;*/
background: transparent;
border: 1px solid white;
border-radius: 5px;
}
.portfolio-items-slider .slides img {
border-radius: 4px 4px 0px 0px;
}
h2 {
color: white;
font-family: PTBold;
}
.home-slider {
text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
.gmap_marker {
color: #000;
}
.g-form-row.check_wrong .g-form-row-state {
display:block;
color:#000;
}









 /*--------------------------------------------------------------------------------------*/
 /*                     14 - CAROUSEL                                                    */
 /*-------------------------------------------------------------------------------------*/
ol.carousel-tabs {
    width: 100%;
    text-align: center;
    list-style: none;
    float: left;
}
ol.carousel-tabs li {
    float: left;
    list-style: none;
    margin: 0px 0 0 3px;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: 10px;
    height: 10px;
    display: block;
    background: #ccd0d9;
    cursor: pointer;
    text-indent: -999em;
    border-radius: 100%;
}
ol.carousel-tabs li:first-child { margin: 0 }
ul.slidecontrols {
    float: right;
    width: 100;
    list-style: none;
}
ul.slidecontrols li {
    float: left;
    list-style: none;
    margin-top: 20px;
}
ul.slidecontrols li:first-child { margin-right: 2px }
ul.slidecontrols li a.prev,
ul.slidecontrols li a.next {
    height: 24px;
    width: 24px;
    position: relative;
    border-radius: 2px;
    color: #FFF;
    border-bottom: 1px solid #434a54;
    text-indent: -99999px;
    cursor: auto;
    float: left;
    display: block;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
ul.slidecontrols li a.prev { background: #000 url("../img/carousel-prev-next.png") -15% 50% no-repeat }
ul.slidecontrols li a.next { background: #000 url("../img/carousel-prev-next.png") 115% 50% no-repeat }
ul.slidecontrols li a.carousel-disabled {
    background-color: #ccd0d9 !important;
    border-bottom: 1px solid #ccd0d9!important;
    cursor: default;
}

#about2.l-submain, #about2.l-submain p, #about2.l-submain a {
color: #000 !important;
background: #fff !important;
}
#about2.l-submain h3 {
color: #cf2730 !important;
}
#about3 {
text-align: center !important;
color: #000 !important;
background: #fff !important;
}
#about3 img {
width: 80px;
margin: 0 10px;
opacity: 1;
}
#about3 img:hover {
opacity: 1;
}

/* #Contact
================================================== */

.contact span{
	-webkit-transition : all 0.4s ease-out;
	-moz-transition : all 0.4s ease-out;
	-o-transition :all 0.4s ease-out;
	transition : all 0.4s ease-out;
}
.contact span:hover{
	color:#169fe6;
}
.contact .error {
color: #1a1a1a;
display: none;
}
#ajaxsuccess {
background: #169fe6;
color:#fff;
height:60px;
display: none;
padding-left:10px;
width: 100%;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 15px;
}
	
	
/* Slogan */
	
.slogan {
position:absolute;
top:85px;
left: 100px;
font-family: PTBold;
font-size: 12px;
}
.state_sticky .slogan {
display: none !important;
}

@media only screen and (max-width:1023px){
.slogan {
display: none !important;
}

}